force-app/main/flows/CH_Suspension_BeforeSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ASsign_the_Field_values_if_Status_is_Unsuspended</name>
        <label>ASsign the Field values if Status is Unsuspended</label>
        <locationX>948</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>$Record.HWS_Suspension_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Customer_Contact1_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record_When_Unsuspended.HWS_QuotationContactEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Customer_Contact2_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record_When_Unsuspended.HWS_Customer_Contact_2_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Nokia_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record_When_Unsuspended.HWS_Nokia_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Email_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record_When_Unsuspended.HWS_UnSuspension_Email_Text__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set start Date, End Date, Contact 1 Email, Contact Email 2, Nokia Email, Email Content</description>
        <name>Assign_the_Variables_whenever_Status_is_Suspended</name>
        <label>Assign the Variables whenever Status is Suspended</label>
        <locationX>962</locationX>
        <locationY>6</locationY>
        <assignmentItems>
            <assignToReference>$Record.HWS_Customer_Contact1_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record.HWS_QuotationContactEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Customer_Contact2_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record.HWS_Customer_Contact_2_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Nokia_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record.HWS_Nokia_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Email_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Service_Fee_Discount_Record.HWS_Suspension_Email_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Suspension_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>If_the_Status_is_Changed_to_Pending_Review</name>
        <label>If the Status is Changed to Pending Review</label>
        <locationX>569</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>$Record.HWS_Suspension_Start_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HWS_Suspension_End_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_the_Status</name>
        <label>Validate the Status</label>
        <locationX>442</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Chanegd_to_Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HWS_Suspension_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Service_Fee_Discount_Record</targetReference>
            </connector>
            <label>If Status is Chanegd to Suspended</label>
        </rules>
        <rules>
            <name>If_Status_is_Chanegd_to_UnSuspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HWS_Suspension_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnSuspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Service_Fee_Discount_Record_When_Unsuspended</targetReference>
            </connector>
            <label>If Status is Chanegd to UnSuspended</label>
        </rules>
        <rules>
            <name>If_Status_Changed_to_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HWS_Suspension_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_the_Status_is_Changed_to_Pending_Review</targetReference>
            </connector>
            <label>If Status Changed to Pending Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whenever_Status_is_Changed</name>
        <label>Whenever Status is Changed</label>
        <locationX>169</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.HWS_Suspension_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HWS_Suspension_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_the_Status</targetReference>
            </connector>
            <label>Is Status changed</label>
        </rules>
    </decisions>
    <description>https://jiradc2.ext.net.nokia.com/browse/HWSDDP-75</description>
    <interviewLabel>CH Suspension BeforeSaveFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH Suspension BeforeSaveFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Service_Fee_Discount_Record</name>
        <label>Query Service Fee Discount Record</label>
        <locationX>586</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Variables_whenever_Status_is_Suspended</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>HWS_Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HWS_Service_Contract_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HWS_SupportedQuoteTypes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreturned Part</stringValue>
            </value>
        </filters>
        <filters>
            <field>HWS_SupportedQuoteTypes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Part;Unreturned Part</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HWS_ServiceFee_Discount__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Service_Fee_Discount_Record_When_Unsuspended</name>
        <label>Query Service Fee Discount Record</label>
        <locationX>668</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASsign_the_Field_values_if_Status_is_Unsuspended</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>HWS_Service_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HWS_Service_Contract_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HWS_SupportedQuoteTypes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreturned Part</stringValue>
            </value>
        </filters>
        <filters>
            <field>HWS_SupportedQuoteTypes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Part;Unreturned Part</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HWS_ServiceFee_Discount__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Whenever_Status_is_Changed</targetReference>
        </connector>
        <object>HWS_Suspension__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
