force-app/main/flows/NCP_Auto_Deactivate_Customer_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Deactivate_and_Append_Note</name>
        <label>Deactivate and Append Note</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Admin_Notes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotetobeAdded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.update_auto_deactivation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotetobeAdded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_User_using_Update_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>UpdateStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>User Deactivation Update Status</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Threshold_Exceeded</name>
        <label>Threshold Exceeded?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not Exceeded</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaDaysSinceCreation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaDaysSinceLogin</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_and_Append_Note</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculates the number of days since creation</description>
        <name>FormulaDaysSinceCreation</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculates the number of days since the User&apos;s last login</description>
        <name>FormulaDaysSinceLogin</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.LastLoginDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This note will be added to the User&apos;s record  if it is deactivated due to no login from the past 60 days.</description>
        <name>NotetobeAdded</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Admin_Notes__c}),&quot;Deactivated due to inactivity by Automated Process on &quot;, &quot;; Deactivated due to inactivity by Automated Process on &quot;) + TEXT(TODAY()) + &quot;. DO NOT ACTIVATE DIRECTLY IN SALESFORCE.&quot;</expression>
    </formulas>
    <interviewLabel>Auto Deactivate Customer Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Deactivate Customer Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_User_using_Update_Records</name>
        <label>Update the User using Update Records</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Threshold_Exceeded</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Do_Not_Deactivate_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e41000000P3vs</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e41000001yV25</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e41000001yV26</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2021-11-07</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
