force-app/main/flows/Workato_WTD_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Confirm_Sending_Msg</name>
        <label>Confirm Sending Msg</label>
        <locationX>572</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>SendWorkatoMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Workato_Scenarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Excel_Add_In_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Add-In Profile</stringValue>
                </rightValue>
            </conditions>
            <label>Excel Add In Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>All the opportunity update scenarios where should send the outbound message to Workato</description>
        <name>Workato_Scenarios</name>
        <label>Workato Scenarios</label>
        <locationX>572</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No relevant change</defaultConnectorLabel>
        <rules>
            <name>Sales_Phase_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>Sales Phase Changed</label>
        </rules>
        <rules>
            <name>Phase_Status_Changed_G5</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Phase_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.Phase_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Prior.Phase_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Win/Loss Declaration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Phase_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Win/Loss Declaration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>Phase Status Changed (G5)</label>
        </rules>
        <rules>
            <name>Committed_OIF_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Committed_OIF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.Committed_OIF__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>Committed OIF Changed</label>
        </rules>
        <rules>
            <name>Gate_3_Bypass_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Gate_3_Bypass_no_offer_support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.Gate_3_Bypass_no_offer_support__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>Gate 3 Bypass Changed</label>
        </rules>
        <rules>
            <name>G3_Facilitator_Notified_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.NF_Facilitator_Notified__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.NF_Facilitator_Notified__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>G3 Facilitator Notified Changed</label>
        </rules>
        <rules>
            <name>G5_Trigger_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.G5_Trigger__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Prior.G5_Trigger__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Sending_Msg</targetReference>
            </connector>
            <label>G5 Trigger Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Workato WTD - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Workato WTD - Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SendWorkatoMsg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
