src/flows/AOG_Sales_Order_Check_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Product_Number</name>
        <label>Assign Product Number</label>
        <locationX>666</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>varCaseDetails.Product_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSaleOrder.Product_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Customer_PO_Number_Not_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Takes the sales order number and appends to the Case sales order number field</description>
        <name>Populate_Case_Sales_Order_Number</name>
        <label>Populate Case Sales Order Number</label>
        <locationX>563</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>varCaseDetails.Sales_Order_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varSaleOrder.Sales_Order_Number__c}; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentSONumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSaleOrder.Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Number_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AWB_Not_Sent_Flag_to_True</name>
        <label>Set AWB Not Sent Flag to True</label>
        <locationX>1228</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>varAWBNotSentFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Each_Sales_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clears the values for the case sales orders number and customer PO fields</description>
        <name>Set_Case_SO_PO_Null</name>
        <label>Set Case SO &amp; PO Null</label>
        <locationX>446</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>varCaseDetails.Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseDetails.Customer_PO_RO_WONumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Order_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the case PO number</description>
        <name>Update_Case_Customer_PO</name>
        <label>Update Case Customer PO</label>
        <locationX>954</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varCaseDetails.Customer_PO_RO_WONumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varSaleOrder.Customer_PO_RO_WO_Number__c}; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentCustomerPO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSaleOrder.Customer_PO_RO_WO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_AWB_Not_Sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if all the AWB flag are set</description>
        <name>Check_All_AWB_Sent</name>
        <label>Check All AWB Sent</label>
        <locationX>340</locationX>
        <locationY>716</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_AWB_Sent</name>
            <conditionLogic>1 AND 2 AND 6 AND (3 or 4 or 5)</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrderCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAWBNotSentFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Shipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWB Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01230000000ZemyAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OTTR_Task</targetReference>
            </connector>
            <label>All AWB Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if sales order AWB sent flag is set</description>
        <name>Check_AWB_Not_Sent</name>
        <label>Check AWB Not Sent</label>
        <locationX>1138</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Each_Sales_Order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AWB_Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrderCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSaleOrder.AWB_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AWB_Not_Sent_Flag_to_True</targetReference>
            </connector>
            <label>AWB Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the sales order customer PO number is blank</description>
        <name>Check_Customer_PO_Number_Not_Blank</name>
        <label>Check Customer PO Number Not Blank</label>
        <locationX>822</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Check_AWB_Not_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_PO_Number_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSaleOrder.Customer_PO_RO_WO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSaleOrder.Customer_PO_RO_WO_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCurrentCustomerPO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Customer_PO</targetReference>
            </connector>
            <label>Customer PO Number Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if OTTR task already exist</description>
        <name>Check_OTTR_Task_Exist</name>
        <label>Check OTTR Task Exist</label>
        <locationX>689</locationX>
        <locationY>730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTTR_Task_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOTTRTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OTTR_Task</targetReference>
            </connector>
            <label>OTTR Task Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Number_Exist</name>
        <label>Check Product Number Exist</label>
        <locationX>447</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_PO_Number_Not_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Number_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSaleOrder.Product_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Number</targetReference>
            </connector>
            <label>Product Number Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if sales order number is blank</description>
        <name>Check_Sales_Order_Number_Blank</name>
        <label>Check Sales Order Number Blank</label>
        <locationX>322</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Check_Product_Number_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Order_Number_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSaleOrder.Sales_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSaleOrder.Sales_Order_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCurrentSONumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Case_Sales_Order_Number</targetReference>
            </connector>
            <label>Sales Order Number Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to make sure case is AOG &amp; is Open</description>
        <name>Check_Valid_Case</name>
        <label>Check Valid Case</label>
        <locationX>301</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Case</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varCaseDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01230000000ZemyAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121B000001dV08QAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_SO_PO_Null</targetReference>
            </connector>
            <label>Valid Case</label>
        </rules>
    </decisions>
    <description>AOG case flow to update the case sales order &amp; customer PO fields and also to create the OTTR task once all the sales order AWB field is checked - added OTTR check to include only AOG case record type.</description>
    <interviewLabel>AOG Sales Order Check &amp; Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOG Sales Order Check &amp; Update</label>
    <loops>
        <name>Loop_Thru_Each_Sales_Order_Record</name>
        <label>Loop Thru Each Sales Order Record</label>
        <locationX>170</locationX>
        <locationY>218</locationY>
        <assignNextValueToReference>varSaleOrder</assignNextValueToReference>
        <collectionReference>colSalesOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sales_Order_Number_Blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the OTTR task</description>
        <name>Create_OTTR_Task</name>
        <label>Create OTTR Task</label>
        <locationX>947</locationX>
        <locationY>734</locationY>
        <assignRecordIdToReference>varOTTRTask.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please enter OTTR details in case.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCaseDetails.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete OTTR Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Checks to see if an OTTR task already exist</description>
        <name>Get_OTTR_Task</name>
        <label>Get OTTR Task</label>
        <locationX>530</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OTTR_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Complete OTTR Details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varOTTRTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieves sales order data</description>
        <name>Get_Sales_Order_Data</name>
        <label>Get Sales Order Data</label>
        <locationX>576</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Each_Sales_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputReference>colSalesOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Order_Number__c</queriedFields>
        <queriedFields>Customer_PO_RO_WO_Number__c</queriedFields>
        <queriedFields>AWB_Sent__c</queriedFields>
        <queriedFields>Product_Number__c</queriedFields>
        <sortField>Sales_Order_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves data related to the case</description>
        <name>GetCaseData</name>
        <label>GetCaseData</label>
        <locationX>179</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Valid_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Order_Number__c</queriedFields>
        <queriedFields>Customer_PO_RO_WONumber__c</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Product_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case sales order number &amp; customer PO fields</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>178</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Check_All_AWB_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_PO_RO_WONumber__c</field>
            <value>
                <elementReference>varCaseDetails.Customer_PO_RO_WONumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Number__c</field>
            <value>
                <elementReference>varCaseDetails.Product_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Number__c</field>
            <value>
                <elementReference>varCaseDetails.Sales_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of sales order data</description>
        <name>colSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Case record id</description>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varAWBNotSentFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case record details</description>
        <name>varCaseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Current sales order customer PO</description>
        <name>varCurrentCustomerPO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Identifies current sales order number</description>
        <name>varCurrentSONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varOTTRTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varSaleOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Count of # of sales orders</description>
        <name>varSalesOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
