src/flows/AOG_Quality_AWB_BOT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Aircraft_Location_Exist</name>
        <label>Aircraft Location Exist</label>
        <locationX>1477</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aircraft Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aircraft_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aircraft_Serial_Number_Exist</name>
        <label>Aircraft Serial Number Exist</label>
        <locationX>1472</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aircraft Serial Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aircraft_Location_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aircraft_Tail_Number_Exist</name>
        <label>Aircraft Tail Number Exist</label>
        <locationX>1466</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aircraft Tail Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aircraft_Serial_Number_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aircraft_Type_Exist</name>
        <label>Aircraft Type Exist</label>
        <locationX>1478</locationX>
        <locationY>1721</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aircraft Type or Aircraft Type/Model</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Flight_Out_Date_MEL_Expiration_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_Carrier</name>
        <label>Assign SO Carrier</label>
        <locationX>1632</locationX>
        <locationY>3641</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sales Order  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  Line #  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  Carrier Missing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Order_Loop_Quality_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_Customer_PO</name>
        <label>Assign SO Customer PO</label>
        <locationX>2164</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sales Order  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Line #  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  Customer PO/RO/WO Missing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SO_Product_Number_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SO_Product_Number</name>
        <label>Assign SO Product Number</label>
        <locationX>2180</locationX>
        <locationY>3388</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sales Order  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  Line #  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSalesOrder.Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  Product Number Missing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SO_Carrier_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AWB_Not_Sent_Flag</name>
        <label>AWB Not Sent Flag</label>
        <locationX>1086</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>varSOAWBNotSentFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classification_CSO_Special_Programs_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Classification</name>
        <label>Classification</label>
        <locationX>453</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Classification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Number_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContractNumber</name>
        <label>Contract Number</label>
        <locationX>1446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contract Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aircraft_Tail_Number_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Sales_Orders</name>
        <label>Count of Sales Orders</label>
        <locationX>731</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>varSalesOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sales_Order_AWB_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Detail_Class</name>
        <label>Detail Class</label>
        <locationX>882</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Detail Class</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Number_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Freight_Paid_Exist</name>
        <label>Freight Paid Exist</label>
        <locationX>1496</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Freight Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Order_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hardware_Ship_From_Location_Exist</name>
        <label>Hardware Ship From Location Exist</label>
        <locationX>1500</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hardware Ship From Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hardware_Bill_To_Location_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hardware_Ship_To_Location_Exist</name>
        <label>Hardware Ship To Location Exist</label>
        <locationX>1484</locationX>
        <locationY>2808</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hardware Ship To Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Freight_Paid_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HardwareBillToLocationExist</name>
        <label>Hardware Bill To Location Exist</label>
        <locationX>1490</locationX>
        <locationY>2636</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hardware Bill To Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hardware_Ship_To_Location_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Flight_Out_Date_MEL_Expiration_Date_Exist</name>
        <label>Next Flight Out Date/MEL Expiration Date Exist</label>
        <locationX>1476</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Next Flight Out Date/MEL Expiration Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Operator_Information_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Operator_Information_Exist</name>
        <label>Owner/Operator Information Exist</label>
        <locationX>1471</locationX>
        <locationY>2089</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner/Operator Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAP_Account_Information_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAP_Account_Information_Exist</name>
        <label>SAP Account Information Exist</label>
        <locationX>1493</locationX>
        <locationY>2281</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SAP Account Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hardware_Ship_From_Location_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SO_Data_Missing</name>
        <label>SO Data Missing</label>
        <locationX>1549</locationX>
        <locationY>3440</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sales Order Related Data Missing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReturnText_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Class_AOG</name>
        <label>Sub Class AOG</label>
        <locationX>675</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sub Class To Be Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Number_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Class_SPEX_Exchange_Assign</name>
        <label>Sub Class SPEX Exchange</label>
        <locationX>736</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sub Class To Be Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReturnText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Number_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aircraft_Location_Check</name>
        <label>Aircraft Location Check</label>
        <locationX>1217</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Aircraft_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aircraft_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Aircraft_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aircraft_Location_Exist</targetReference>
            </connector>
            <label>Aircraft Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aircraft_Serial_Number_Check</name>
        <label>Aircraft Serial Number Check</label>
        <locationX>1221</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Aircraft_Location_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aircraft_Serial_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Aircraft_Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aircraft_Serial_Number_Exist</targetReference>
            </connector>
            <label>Aircraft Serial Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aircraft_Tail_Number_Check</name>
        <label>Aircraft Tail Number Check</label>
        <locationX>1222</locationX>
        <locationY>1156</locationY>
        <defaultConnector>
            <targetReference>Aircraft_Serial_Number_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aircraft_Tail_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Aircraft_Tail_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aircraft_Tail_Number_Exist</targetReference>
            </connector>
            <label>Aircraft Tail Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aircraft_Type_Check</name>
        <label>Aircraft Type Check</label>
        <locationX>1218</locationX>
        <locationY>1708</locationY>
        <defaultConnector>
            <targetReference>Next_Flight_Out_Date_MEL_Expiration_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aircraft_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.AircraftType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Aircraft_Type_Model__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aircraft_Type_Exist</targetReference>
            </connector>
            <label>Aircraft Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_AWB_Sent</name>
        <label>Check All AWB Sent</label>
        <locationX>551</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllAWBSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSOAWBNotSentFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSalesOrderCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OTTR_Task</targetReference>
            </connector>
            <label>All AWB Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OTTR_Task_Exist</name>
        <label>Check OTTR Task Exist</label>
        <locationX>997</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Classification_CSO_Special_Programs_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTTR_Task_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOTTRTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OTTR_Complete_Details_Task</targetReference>
            </connector>
            <label>OTTR Task Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Order_AWB_Sent</name>
        <label>Check Sales Order AWB Sent</label>
        <locationX>887</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Sales_Order_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AWB_Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrderCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSalesOrder.AWB_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AWB_Not_Sent_Flag</targetReference>
            </connector>
            <label>AWB Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Carrier_Null</name>
        <label>Check SO Carrier Null</label>
        <locationX>1806</locationX>
        <locationY>3572</locationY>
        <defaultConnector>
            <targetReference>Sales_Order_Loop_Quality_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Carrier_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrder.Carrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SO_Carrier</targetReference>
            </connector>
            <label>SO Carrier Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Customer_PO_Null</name>
        <label>Check SO Customer PO Null</label>
        <locationX>1929</locationX>
        <locationY>3177</locationY>
        <defaultConnector>
            <targetReference>Check_SO_Product_Number_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Customer_PO_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrder.Customer_PO_RO_WO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SO_Customer_PO</targetReference>
            </connector>
            <label>SO Customer PO Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Exist</name>
        <label>Check SO Exist</label>
        <locationX>1477</locationX>
        <locationY>3153</locationY>
        <defaultConnector>
            <targetReference>SO_Data_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSalesOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Order_Loop_Quality_Check</targetReference>
            </connector>
            <label>SO Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SO_Product_Number_Null</name>
        <label>Check SO Product Number Null</label>
        <locationX>1928</locationX>
        <locationY>3366</locationY>
        <defaultConnector>
            <targetReference>Check_SO_Carrier_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SO_Product_Number_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrder.Product_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SO_Product_Number</targetReference>
            </connector>
            <label>SO Product Number Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Exist</name>
        <label>Check Task Exist</label>
        <locationX>1194</locationX>
        <locationY>3603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Task Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classification_CSO_Spares_Check</name>
        <label>Classification CSO Spares Check</label>
        <locationX>196</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Classification_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classification_CSO_Spares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSO Spares</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Class_SPEX_Exchange_Check</targetReference>
            </connector>
            <label>Classification CSO Spares</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classification_CSO_Special_Programs_Check</name>
        <label>Classification CSO Special Programs Check</label>
        <locationX>199</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Classification_CSO_Spares_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classification_CSO_Special_Programs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSO Special Programs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Class_AOG_Check</targetReference>
            </connector>
            <label>Classification CSO Special Programs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classification_Null_Check</name>
        <label>Classification Null Check</label>
        <locationX>191</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Contract_Number_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classification_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Classification</targetReference>
            </connector>
            <label>Classification Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Number_Exists</name>
        <label>Contract Number Exists</label>
        <locationX>1224</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Aircraft_Tail_Number_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Contract_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractNumber</targetReference>
            </connector>
            <label>Contract Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Detail_Class_Populated_Check</name>
        <label>Detail Class Populated Check</label>
        <locationX>686</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Detail_Class</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Detail_Class_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Detail_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Number_Exists</targetReference>
            </connector>
            <label>Detail Class Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freight_Paid_Check</name>
        <label>Freight Paid Check</label>
        <locationX>1224</locationX>
        <locationY>2976</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Order_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freight_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Freight_Paid__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freight_Paid_Exist</targetReference>
            </connector>
            <label>Freight Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardware_Bill_To_Location_Check</name>
        <label>Hardware Bill To Location Check</label>
        <locationX>1227</locationX>
        <locationY>2620</locationY>
        <defaultConnector>
            <targetReference>Hardware_Ship_To_Location_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware_Bill_To_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Bill_To_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HardwareBillToLocationExist</targetReference>
            </connector>
            <label>Hardware Bill To Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardware_Ship_From_Location_Check</name>
        <label>Hardware Ship From Location Check</label>
        <locationX>1223</locationX>
        <locationY>2449</locationY>
        <defaultConnector>
            <targetReference>Hardware_Bill_To_Location_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware_Ship_From_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Hardware_Ship_From_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_Ship_From_Location_Exist</targetReference>
            </connector>
            <label>Hardware Ship From Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardware_Ship_To_Location_Check</name>
        <label>Hardware Ship To Location Check</label>
        <locationX>1223</locationX>
        <locationY>2796</locationY>
        <defaultConnector>
            <targetReference>Freight_Paid_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware_Ship_To_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Ship_To_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_Ship_To_Location_Exist</targetReference>
            </connector>
            <label>Hardware Ship To Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Flight_Out_Date_MEL_Expiration_Date_Check</name>
        <label>Next Flight Out Date/MEL Expiration Date Check</label>
        <locationX>1219</locationX>
        <locationY>1887</locationY>
        <defaultConnector>
            <targetReference>Owner_Operator_Information_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Flight_Out_Date_MEL_Expiration_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Next_Flight_Out_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Flight_Out_Date_MEL_Expiration_Date_Exist</targetReference>
            </connector>
            <label>Next Flight Out Date/MEL Expiration Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Operator_Information_Check</name>
        <label>Owner/Operator Information Check</label>
        <locationX>1222</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>SAP_Account_Information_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Operator_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Owner_Operator_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Operator_Information_Exist</targetReference>
            </connector>
            <label>Owner/Operator Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReturnText_Check</name>
        <label>ReturnText Check</label>
        <locationX>1074</locationX>
        <locationY>3416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTask</targetReference>
            </connector>
            <label>Return Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAP_Account_Information_Check</name>
        <label>SAP Account Information Check</label>
        <locationX>1223</locationX>
        <locationY>2272</locationY>
        <defaultConnector>
            <targetReference>Hardware_Ship_From_Location_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAP_Account_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.SAP_Account_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Account_Information_Exist</targetReference>
            </connector>
            <label>SAP Account Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Class_AOG_Check</name>
        <label>Sub Class AOG Check</label>
        <locationX>440</locationX>
        <locationY>716</locationY>
        <defaultConnector>
            <targetReference>Sub_Class_AOG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Class_AOG_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Sub_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AOG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detail_Class_Populated_Check</targetReference>
            </connector>
            <label>Sub Class AOG Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Class_SPEX_Exchange_Check</name>
        <label>Sub Class SPEX Exchange Check</label>
        <locationX>439</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>Sub_Class_SPEX_Exchange_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Class_SPEX_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Sub_Class__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPEX/Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detail_Class_Populated_Check</targetReference>
            </connector>
            <label>Sub Class SPEX Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Status_Delivered_Check</name>
        <label>Sub Status Delivered Check</label>
        <locationX>196</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Classification_CSO_Special_Programs_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Status_Delivered</name>
            <conditionLogic>1 AND (2 or (3 and 4))</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.OTTR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.AOG_OTTR_Miss_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.AOG_OTTR_Miss_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Clase</targetReference>
            </connector>
            <label>Sub Status Delivered</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the case sub status is pending shipment</description>
        <name>Sub_Status_Pending_Shipment_Check</name>
        <label>Sub Status Pending Shipment Check</label>
        <locationX>182</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Sub_Status_Delivered_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Shipment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Shipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWB Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCase.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Order_AWB_Sent_Status</targetReference>
            </connector>
            <label>Pending Shipment</label>
        </rules>
    </decisions>
    <description>AOG quality check and AWB Bot</description>
    <formulas>
        <name>LineBreakFormular</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!LineBreak}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>AOG Quality &amp; AWB BOT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOG Quality &amp; AWB BOT</label>
    <loops>
        <name>Sales_Order_Loop</name>
        <label>Sales Order Loop</label>
        <locationX>543</locationX>
        <locationY>142</locationY>
        <assignNextValueToReference>varSalesOrder</assignNextValueToReference>
        <collectionReference>objSalesOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_of_Sales_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_All_AWB_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sales_Order_Loop_Quality_Check</name>
        <label>Sales Order Loop</label>
        <locationX>1741</locationX>
        <locationY>3176</locationY>
        <assignNextValueToReference>varSalesOrder</assignNextValueToReference>
        <collectionReference>objSalesOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SO_Customer_PO_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReturnText_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OTTR_Complete_Details_Task</name>
        <label>Create OTTR Complete Details Task</label>
        <locationX>1198</locationX>
        <locationY>547</locationY>
        <assignRecordIdToReference>varOTTRTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Classification_CSO_Special_Programs_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please enter OTTR details in case.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete OTTR Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1426</locationX>
        <locationY>3604</locationY>
        <assignRecordIdToReference>varTask.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varReturnText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>AOG/SPEX Quality Check SFDC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Data</name>
        <label>Get Case Data</label>
        <locationX>50</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Status_Pending_Shipment_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AOG_OTTR_Miss_Detail__c</queriedFields>
        <queriedFields>AOG_OTTR_Miss_Reason__c</queriedFields>
        <queriedFields>Aircraft_Location__c</queriedFields>
        <queriedFields>Aircraft_Serial_Number__c</queriedFields>
        <queriedFields>Aircraft_Tail_Number__c</queriedFields>
        <queriedFields>Aircraft_Type_Model__c</queriedFields>
        <queriedFields>Aircraft_Type__c</queriedFields>
        <queriedFields>Bill_To_Address__c</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Case_Record_Type__c</queriedFields>
        <queriedFields>Classification__c</queriedFields>
        <queriedFields>Contract_Number__c</queriedFields>
        <queriedFields>Customer_PO_RO_WONumber__c</queriedFields>
        <queriedFields>Detail_Class__c</queriedFields>
        <queriedFields>Freight_Paid__c</queriedFields>
        <queriedFields>Hardware_Ship_From_Address__c</queriedFields>
        <queriedFields>Next_Flight_Out_Date__c</queriedFields>
        <queriedFields>OTTR__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Owner_Operator_Information__c</queriedFields>
        <queriedFields>Product_Number__c</queriedFields>
        <queriedFields>SAP_Account_Information__c</queriedFields>
        <queriedFields>Sales_Order_Number__c</queriedFields>
        <queriedFields>Ship_To_Address__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Sub_Class__c</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>AircraftType__c</queriedFields>
        <queriedFields>Aircraft_Owner_Operator__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OTTR_Task</name>
        <label>Get OTTR Task</label>
        <locationX>816</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OTTR_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Complete OTTR Details</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varOTTRTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_AWB_Sent_Status</name>
        <label>Get Sales Order AWB Sent Status</label>
        <locationX>394</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Order_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pickup</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputReference>objSalesOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AWB_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Order_Data</name>
        <label>Get Sales Order Data</label>
        <locationX>1352</locationX>
        <locationY>3178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SO_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputReference>objSalesOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Order_Number__c</queriedFields>
        <queriedFields>Line_Item__c</queriedFields>
        <queriedFields>Customer_PO_RO_WO_Number__c</queriedFields>
        <queriedFields>Product_Number__c</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>Get Task</label>
        <locationX>1021</locationX>
        <locationY>3599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01230000000ayJh</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AOG/SPEX Quality Check SFDC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AOG/SPEX Quality Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Clase</name>
        <label>Close Clase</label>
        <locationX>434</locationX>
        <locationY>366</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Propose to Close</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Case_Data</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>,
,</text>
    </textTemplates>
    <variables>
        <name>objSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Case detail information</description>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varOTTRTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varReturnText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>varSalesOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSOAWBNotSentFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
