src/flows/Before_Save_Flow_for_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>set_Priority</name>
        <label>set Priority</label>
        <locationX>668</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priority 2 – Priority- Customer Requirement: Closure &lt; 48 hours</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Contact_is_Zing_System</name>
        <label>Contact is Zing System</label>
        <locationX>425</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactId_Zing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ZingSystemContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Priority</targetReference>
            </connector>
            <label>ContactId=Zing</label>
        </rules>
    </decisions>
    <description>Before Save Flow for Case to preset case fields</description>
    <formulas>
        <name>ZingSystemContactId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Zing_system_Contact_Record_Id}</expression>
    </formulas>
    <interviewLabel>Before Save Flow for Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save Flow for Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>239</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Contact_is_Zing_System</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
