src/flows/Case_Comment_Salesforce1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Triggered_for_feed_item</name>
        <label>Triggered for feed item?</label>
        <locationX>339</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Comment_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFeedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_lookup</targetReference>
            </connector>
            <label>Case Comment Flow</label>
        </rules>
        <rules>
            <name>Feed_item_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFeedItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Task_Feed</targetReference>
            </connector>
            <label>Feed item flow</label>
        </rules>
    </decisions>
    <interviewLabel>Case Comment Salesforce1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Comment Salesforce1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comments</name>
        <label>Create Case Comments</label>
        <locationX>51</locationX>
        <locationY>347</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>sTask.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Task</name>
        <label>Delete Task</label>
        <locationX>363</locationX>
        <locationY>345</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTask.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Task_Feed</name>
        <label>Delete Task Feed</label>
        <locationX>361</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Delete_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTask.Id</elementReference>
            </value>
        </filters>
        <object>FeedItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Case_lookup</name>
        <label>Case_lookup</label>
        <locationX>57</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTask.WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>sCase.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Triggered_for_feed_item</startElementReference>
    <status>Active</status>
    <variables>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vFeedItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
