src/flows/Case_Update_Account_from_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>On Responsibility Change from FCOE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>On Responsibility Change to FCOE a new Responsibility log should be created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_pmetdec</targetReference>
            </connector>
            <label>Contact != Null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_pmetdec</targetReference>
            </connector>
            <label>Contact = NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_10_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_10_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_10_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision7</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>800</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_8_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_8_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_8_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Updates the Account name field each time the contact name changes</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1005947508</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISPICKVAL([Case].Case_Complexity__c, &apos;FCOE&apos;),[Case].VN_Name__c.FirstName  + &quot; &quot; + [Case].VN_Name__c.LastName ,
IF(OR(ISPICKVAL([Case].Case_Complexity__c, &apos;GSS&apos;),ISPICKVAL([Case].Case_Complexity__c, &apos;Elite Agent&apos;)),[Case].Owner:User.Full_Name__c ,&quot;&quot; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_6070075261</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;FCOE&apos;),{!myVariable_current.VN_Name__r.FirstName}  + &quot; &quot; + {!myVariable_current.VN_Name__r.LastName} ,
IF(OR(ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;GSS&apos;),ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;Elite Agent&apos;)),{!myVariable_current.Owner:User.Full_Name__c} ,&quot;&quot; ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_4_A1_0589048679</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Case_Complexity__c) &amp;&amp; ((PRIORVALUE([Case].Case_Complexity__c)==&apos;FCOE&apos;  &amp;&amp; NOT(ISPICKVAL([Case].Case_Complexity__c, &apos;FCOE&apos;)))|| 
(PRIORVALUE([Case].Case_Complexity__c)==&apos;GSS&apos;  &amp;&amp; NOT(ISPICKVAL([Case].Case_Complexity__c, &apos;GSS&apos;)))|| 
(PRIORVALUE([Case].Case_Complexity__c)==&apos;Elite Agent&apos;  &amp;&amp; NOT(ISPICKVAL([Case].Case_Complexity__c, &apos;Elite Agent&apos;))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Case_Complexity__c}) &amp;&amp; ((PRIORVALUE({!myVariable_current.Case_Complexity__c})==&apos;FCOE&apos;  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;FCOE&apos;)))|| 
(PRIORVALUE({!myVariable_current.Case_Complexity__c})==&apos;GSS&apos;  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;GSS&apos;)))|| 
(PRIORVALUE({!myVariable_current.Case_Complexity__c})==&apos;Elite Agent&apos;  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;Elite Agent&apos;))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name !=  $Label.API_data_Load_Profile &amp;&amp; 
AND(($User.Id &lt;&gt; &apos;005300000042rPL&apos;),($User.Id &lt;&gt; &apos;005a0000009Liyf&apos;), ISBLANK([Case].ContactId),
NOT(ISPICKVAL([Case].Origin, &apos;Denied Party Screening&apos;)), NOT(ISPICKVAL([Case].Origin, &apos;CNT Entitlement&apos;)),
[Case].RecordType.Name &lt;&gt; &apos;One-Off Discount&apos; ,[Case].RecordType.Name &lt;&gt; &apos;CP Events Record Type&apos;,
[Case].RecordType.Name &lt;&gt; &apos;Internal Escalations&apos;,[Case].RecordType.Name &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,[Case].RecordType.Name &lt;&gt; &apos;Mil Technical Issue&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} !=  {!$Label.API_data_Load_Profile} &amp;&amp; 
AND(({!$User.Id} &lt;&gt; &apos;005300000042rPL&apos;),({!$User.Id} &lt;&gt; &apos;005a0000009Liyf&apos;), ISBLANK({!myVariable_current.ContactId}),
NOT(ISPICKVAL({!myVariable_current.Origin}, &apos;Denied Party Screening&apos;)), NOT(ISPICKVAL({!myVariable_current.Origin}, &apos;CNT Entitlement&apos;)),
{!myVariable_current.RecordType.Name} &lt;&gt; &apos;One-Off Discount&apos; ,{!myVariable_current.RecordType.Name} &lt;&gt; &apos;CP Events Record Type&apos;,
{!myVariable_current.RecordType.Name} &lt;&gt; &apos;Internal Escalations&apos;,{!myVariable_current.RecordType.Name} &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,{!myVariable_current.RecordType.Name} &lt;&gt; &apos;Mil Technical Issue&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name !=  $Label.API_data_Load_Profile &amp;&amp; 
AND(($User.Id &lt;&gt; &apos;005300000042rPL&apos;),($User.Id &lt;&gt; &apos;005a0000009Liyf&apos;), ISBLANK([Case].ContactId),
NOT(ISPICKVAL([Case].Origin, &apos;Denied Party Screening&apos;)), NOT(ISPICKVAL([Case].Origin, &apos;CNT Entitlement&apos;)),
[Case].RecordType.Name &lt;&gt; &apos;One-Off Discount&apos; ,[Case].RecordType.Name &lt;&gt; &apos;CP Events Record Type&apos;,
[Case].RecordType.Name &lt;&gt; &apos;Internal Escalations&apos;,[Case].RecordType.Name &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,[Case].RecordType.Name &lt;&gt; &apos;Mil Technical Issue&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} !=  {!$Label.API_data_Load_Profile} &amp;&amp; 
AND(({!$User.Id} &lt;&gt; &apos;005300000042rPL&apos;),({!$User.Id} &lt;&gt; &apos;005a0000009Liyf&apos;), ISBLANK({!myVariable_old.ContactId}),
NOT(ISPICKVAL({!myVariable_old.Origin}, &apos;Denied Party Screening&apos;)), NOT(ISPICKVAL({!myVariable_old.Origin}, &apos;CNT Entitlement&apos;)),
{!myVariable_old.RecordType.Name} &lt;&gt; &apos;One-Off Discount&apos; ,{!myVariable_old.RecordType.Name} &lt;&gt; &apos;CP Events Record Type&apos;,
{!myVariable_old.RecordType.Name} &lt;&gt; &apos;Internal Escalations&apos;,{!myVariable_old.RecordType.Name} &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,{!myVariable_old.RecordType.Name} &lt;&gt; &apos;Mil Technical Issue&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Case_Complexity__c) &amp;&amp; ((PRIORVALUE([Case].Case_Complexity__c)!=&apos;FCOE&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;FCOE&apos;))|| 
(PRIORVALUE([Case].Case_Complexity__c)!=&apos;GSS&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;GSS&apos;))|| 
(PRIORVALUE([Case].Case_Complexity__c)!=&apos;Elite Agent&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;Elite Agent&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Case_Complexity__c}) &amp;&amp; ((PRIORVALUE({!myVariable_current.Case_Complexity__c})!=&apos;FCOE&apos;  &amp;&amp; ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;FCOE&apos;))|| 
(PRIORVALUE({!myVariable_current.Case_Complexity__c})!=&apos;GSS&apos;  &amp;&amp; ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;GSS&apos;))|| 
(PRIORVALUE({!myVariable_current.Case_Complexity__c})!=&apos;Elite Agent&apos;  &amp;&amp; ISPICKVAL({!myVariable_current.Case_Complexity__c}, &apos;Elite Agent&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Case].Case_Complexity__c) &amp;&amp; ((PRIORVALUE([Case].Case_Complexity__c)!=&apos;FCOE&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;FCOE&apos;))|| 
(PRIORVALUE([Case].Case_Complexity__c)!=&apos;GSS&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;GSS&apos;))|| 
(PRIORVALUE([Case].Case_Complexity__c)!=&apos;Elite Agent&apos;  &amp;&amp; ISPICKVAL([Case].Case_Complexity__c, &apos;Elite Agent&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_old.Case_Complexity__c}) &amp;&amp; ((PRIORVALUE({!myVariable_old.Case_Complexity__c})!=&apos;FCOE&apos;  &amp;&amp; ISPICKVAL({!myVariable_old.Case_Complexity__c}, &apos;FCOE&apos;))|| 
(PRIORVALUE({!myVariable_old.Case_Complexity__c})!=&apos;GSS&apos;  &amp;&amp; ISPICKVAL({!myVariable_old.Case_Complexity__c}, &apos;GSS&apos;))|| 
(PRIORVALUE({!myVariable_old.Case_Complexity__c})!=&apos;Elite Agent&apos;  &amp;&amp; ISPICKVAL({!myVariable_old.Case_Complexity__c}, &apos;Elite Agent&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name !=  $Label.API_data_Load_Profile &amp;&amp; 
(AND(($User.Id &lt;&gt; &apos;005300000042rPL&apos;),(

(ISNEW() &amp;&amp; NOT(ISBLANK([Case].ContactId))) || 

(ISCHANGED([Case].ContactId ) &amp;&amp; NOT(ISBLANK([Case].ContactId)))||

(ISCHANGED([Case].ContactId ) &amp;&amp; ISBLANK(PRIORVALUE([Case].ContactId)))),
[Case].RecordType.Name &lt;&gt; &apos;One-Off Discount&apos;,[Case].RecordType.Name &lt;&gt; &apos;Internal Escalations&apos; ,
[Case].RecordType.Name &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,[Case].RecordType.Name &lt;&gt; &apos;Mil Technical Issue&apos; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} !=  {!$Label.API_data_Load_Profile} &amp;&amp; 
(AND(({!$User.Id} &lt;&gt; &apos;005300000042rPL&apos;),(

(ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.ContactId}))) || 

(ISCHANGED({!myVariable_current.ContactId} ) &amp;&amp; NOT(ISBLANK({!myVariable_current.ContactId})))||

(ISCHANGED({!myVariable_current.ContactId} ) &amp;&amp; ISBLANK(PRIORVALUE({!myVariable_current.ContactId})))),
{!myVariable_current.RecordType.Name} &lt;&gt; &apos;One-Off Discount&apos;,{!myVariable_current.RecordType.Name} &lt;&gt; &apos;Internal Escalations&apos; ,
{!myVariable_current.RecordType.Name} &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,{!myVariable_current.RecordType.Name} &lt;&gt; &apos;Mil Technical Issue&apos; ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name !=  $Label.API_data_Load_Profile &amp;&amp; 
(AND(($User.Id &lt;&gt; &apos;005300000042rPL&apos;),(

(ISNEW() &amp;&amp; NOT(ISBLANK([Case].ContactId))) || 

(ISCHANGED([Case].ContactId ) &amp;&amp; NOT(ISBLANK([Case].ContactId)))||

(ISCHANGED([Case].ContactId ) &amp;&amp; ISBLANK(PRIORVALUE([Case].ContactId)))),
[Case].RecordType.Name &lt;&gt; &apos;One-Off Discount&apos;,[Case].RecordType.Name &lt;&gt; &apos;Internal Escalations&apos; ,
[Case].RecordType.Name &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,[Case].RecordType.Name &lt;&gt; &apos;Mil Technical Issue&apos; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} !=  {!$Label.API_data_Load_Profile} &amp;&amp; 
(AND(({!$User.Id} &lt;&gt; &apos;005300000042rPL&apos;),(

(ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_old.ContactId}))) || 

(ISCHANGED({!myVariable_old.ContactId} ) &amp;&amp; NOT(ISBLANK({!myVariable_old.ContactId})))||

(ISCHANGED({!myVariable_old.ContactId} ) &amp;&amp; ISBLANK(PRIORVALUE({!myVariable_old.ContactId})))),
{!myVariable_old.RecordType.Name} &lt;&gt; &apos;One-Off Discount&apos;,{!myVariable_old.RecordType.Name} &lt;&gt; &apos;Internal Escalations&apos; ,
{!myVariable_old.RecordType.Name} &lt;&gt; &apos;D&amp;S Clearing House Proposal&apos;,{!myVariable_old.RecordType.Name} &lt;&gt; &apos;Mil Technical Issue&apos; ))</expression>
    </formulas>
    <interviewLabel>Case_Update_Account_from_Contact-21_InterviewLabel</interviewLabel>
    <label>Case - Update Account from Contact V8</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_4_A1</name>
        <label>Create New Responsibility</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action Owner</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Action_Owner__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_6070075261</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Responsibility</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_Responsibility__c</field>
            <value>
                <elementReference>myVariable_current.Case_Complexity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reason</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Reason__c</field>
            <value>
                <elementReference>myVariable_current.Reason_for_hold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Responsibility Hold Start</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Responsibility_Hold_Start__c</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_0589048679</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <elementReference>myVariable_current.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>myVariable_current.Sub_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Responsibility__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Remove Account Value</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>AccountId</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Responsibilities__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Updates the Stop Age of the Responsibility when FCOE is removed from Case Responsibility</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Responsibility Hold Start</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Responsibility_Hold_Start__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Responsibility Hold Stop</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Responsibility_Hold_Stop__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Responsibility Hold Stop</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Responsibility_Hold_Stop__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1005947508</elementReference>
            </value>
        </inputAssignments>
        <object>Responsibility__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Update Account</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>AccountId</field>
            <value>
                <elementReference>myVariable_current.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
