src/flows/Case_Extension_Technical_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Case_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HEM Service Bulletin 131-49-8314</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Cancel Technical Issues Cases</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Waiting for Engineering update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Waiting for Honeywell Internal update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>Status On Hold &amp; Waiting for TCT update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Waiting For TCT update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Status On Hold Waiting for Customer Feedback update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>Statud On Hold Waiting For EPS update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Status On Hold Waiting For Engineering update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision29</name>
        <label>myDecision29</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>Status On Hold Waiting For Honeywell Internal update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>To Insert Technical Ext</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Waiting for Customer Feedback update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Waiting for EPS update</label>
        </rules>
    </decisions>
    <description>Case After Update , Technical_Issue_Case_Extensions__c object</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_9612526861</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A1_5342866242</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_6255356327</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_18_A1_0112007792</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_21_A1_9263052488</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_24_A1_3478201369</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_27_A1_9366918245</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_30_A1_9416201166</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_5112968814</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_7416581324</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Case].Sub_Status__c) &lt;&gt;  &apos;Waiting for Engineering&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c , &apos;Waiting for Engineering&apos;)
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!myVariable_current.Sub_Status__c}) &lt;&gt;  &apos;Waiting for Engineering&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c} , &apos;Waiting for Engineering&apos;)
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Case].Sub_Status__c) &lt;&gt;  &apos;Waiting for Honeywell Internal&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c , &apos;Waiting for Honeywell Internal&apos;)
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!myVariable_current.Sub_Status__c}) &lt;&gt;  &apos;Waiting for Honeywell Internal&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c} , &apos;Waiting for Honeywell Internal&apos;)
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(PRIORVALUE([Case].Status) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED([Case].Status) 
&amp;&amp; !ISPICKVAL([Case].Status, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for TCT&apos;))
|| (PRIORVALUE([Case].Sub_Status__c) =  &apos;Waiting for TCT&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; !ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for TCT&apos;))
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>(PRIORVALUE({!myVariable_current.Status}) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Status}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for TCT&apos;))
|| (PRIORVALUE({!myVariable_current.Sub_Status__c}) =  &apos;Waiting for TCT&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for TCT&apos;))
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(PRIORVALUE([Case].Status) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED([Case].Status) 
&amp;&amp; !ISPICKVAL([Case].Status, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Customer Feedback&apos;))
|| (PRIORVALUE([Case].Sub_Status__c) =  &apos;Waiting for Customer Feedback&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; !ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Customer Feedback&apos;))
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>(PRIORVALUE({!myVariable_current.Status}) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Status}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Customer Feedback&apos;))
|| (PRIORVALUE({!myVariable_current.Sub_Status__c}) =  &apos;Waiting for Customer Feedback&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Customer Feedback&apos;))
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(PRIORVALUE([Case].Status) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED([Case].Status) 
&amp;&amp; !ISPICKVAL([Case].Status, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for EPS&apos;))
|| (PRIORVALUE([Case].Sub_Status__c) =  &apos;Waiting for EPS&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; !ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for EPS&apos;))
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>(PRIORVALUE({!myVariable_current.Status}) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Status}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for EPS&apos;))
|| (PRIORVALUE({!myVariable_current.Sub_Status__c}) =  &apos;Waiting for EPS&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for EPS&apos;))
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(PRIORVALUE([Case].Status) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED([Case].Status) 
&amp;&amp; !ISPICKVAL([Case].Status, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Engineering&apos;))
|| (PRIORVALUE([Case].Sub_Status__c) =  &apos;Waiting for Engineering&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; !ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Engineering&apos;))
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>(PRIORVALUE({!myVariable_current.Status}) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Status}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Engineering&apos;))
|| (PRIORVALUE({!myVariable_current.Sub_Status__c}) =  &apos;Waiting for Engineering&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Engineering&apos;))
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Case].Sub_Status__c) &lt;&gt;  &apos;Waiting for TCT&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c , &apos;Waiting for TCT&apos;)
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!myVariable_current.Sub_Status__c}) &lt;&gt;  &apos;Waiting for TCT&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c} , &apos;Waiting for TCT&apos;)
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(PRIORVALUE([Case].Status) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED([Case].Status) 
&amp;&amp; !ISPICKVAL([Case].Status, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Honeywell Internal&apos;))
|| (PRIORVALUE([Case].Sub_Status__c) =  &apos;Waiting for Honeywell Internal&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; !ISPICKVAL([Case].Sub_Status__c, &apos;Waiting for Honeywell Internal&apos;))
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_30</name>
        <dataType>Boolean</dataType>
        <expression>(PRIORVALUE({!myVariable_current.Status}) =  &apos;On Hold&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Status}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Status}, &apos;On Hold&apos;) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Honeywell Internal&apos;))
|| (PRIORVALUE({!myVariable_current.Sub_Status__c}) =  &apos;Waiting for Honeywell Internal&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; !ISPICKVAL({!myVariable_current.Sub_Status__c}, &apos;Waiting for Honeywell Internal&apos;))
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].Case_Record_Type__c = &apos;Technical Issue&apos; &amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c = 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos; &amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} = 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Case].Sub_Status__c) &lt;&gt;  &apos;Waiting for Customer Feedback&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c , &apos;Waiting for Customer Feedback&apos;)
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!myVariable_current.Sub_Status__c}) &lt;&gt;  &apos;Waiting for Customer Feedback&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c} , &apos;Waiting for Customer Feedback&apos;)
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE([Case].Sub_Status__c) &lt;&gt;  &apos;Waiting for EPS&apos; 
&amp;&amp; ISCHANGED([Case].Sub_Status__c) 
&amp;&amp; ISPICKVAL([Case].Sub_Status__c , &apos;Waiting for EPS&apos;)
&amp;&amp; [Case].Case_Record_Type__c = &apos;Technical Issue&apos;
&amp;&amp;[Case].Count_Technical_Issue_Case_Extention__c &gt; 0
&amp;&amp; $Profile.Name  != $Label.API_data_Load_Profile</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE({!myVariable_current.Sub_Status__c}) &lt;&gt;  &apos;Waiting for EPS&apos; 
&amp;&amp; ISCHANGED({!myVariable_current.Sub_Status__c}) 
&amp;&amp; ISPICKVAL({!myVariable_current.Sub_Status__c} , &apos;Waiting for EPS&apos;)
&amp;&amp; {!myVariable_current.Case_Record_Type__c} = &apos;Technical Issue&apos;
&amp;&amp;{!myVariable_current.Count_Technical_Issue_Case_Extention__c} &gt; 0
&amp;&amp; {!$Profile.Name}  != {!$Label.API_data_Load_Profile}</expression>
    </formulas>
    <interviewLabel>Case_Extension_Technical_Issue-8_InterviewLabel</interviewLabel>
    <label>Case Extension Technical Issuev1.0</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_33_A1</name>
        <label>Insert into Tech Ext</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Engineering Start Hold Time</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Engineering Start Hold Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Engineering_Start_Hold_Time__c</field>
            <value>
                <elementReference>formula_13_myRule_12_A1_5342866242</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Honeywell Internal Start Hold Time</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Honeywell Internal Hold Start time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Honeywell_Internal_Hold_Start_time__c</field>
            <value>
                <elementReference>formula_16_myRule_15_A1_6255356327</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>Waiting For TCT End Time</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Waiting for TCT End Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Waiting_for_TCT_End_Time__c</field>
            <value>
                <elementReference>formula_19_myRule_18_A1_0112007792</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Case Status</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reason for Cancellation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <stringValue>FYI only CASE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Customer Feedback Hold End Time</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Feedback Hold End time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Feedback_Hold_End_time__c</field>
            <value>
                <elementReference>formula_22_myRule_21_A1_9263052488</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>EPS End Hold Time</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EPS End Hold Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EPS_End_Hold_Time__c</field>
            <value>
                <elementReference>formula_25_myRule_24_A1_3478201369</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Engineering End Hold Time</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Engineering End Hold Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Engineering_End_Hold_Time__c</field>
            <value>
                <elementReference>formula_28_myRule_27_A1_9366918245</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_30_A1</name>
        <label>Honeywell Internal Hold End Time</label>
        <locationX>3000</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Honeywell Internal Hold End time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Honeywell_Internal_Hold_End_time__c</field>
            <value>
                <elementReference>formula_31_myRule_30_A1_9416201166</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>TCT Start Time</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Waiting for TCT Start Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Waiting_for_TCT_Start_Time__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_5112968814</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Customer Feeback Hold Start time</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Feedback Hold Start time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Feedback_Hold_Start_time__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_7416581324</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Technical_Issue_Case_Extensions__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>EPS Start Hold Time</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Case_object__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EPS Start Hold Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EPS_Start_Hold_Time__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_9612526861</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Issue_Case_Extensions__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
