src/flows/CH_Events_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>To call apex method from platform event flow</description>
        <name>HWS_QuoteUpdation</name>
        <label>HWS_QuoteUpdation</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <actionName>HWS_QuoteUpdation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>$Record.sObject_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HWS_QuoteUpdation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>This will run when the Application Type is HWS and sObject API Name is HWS_Service_Quote__c</description>
        <name>Run_Service_Quote</name>
        <label>Match Object API Name</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Service_Quote_Logic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HWS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sObject_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HWS_Service_Quote__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HWS_QuoteUpdation</targetReference>
            </connector>
            <label>Run Service Quote Logic</label>
        </rules>
    </decisions>
    <interviewLabel>CH Events Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH Events Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Service_Quote</targetReference>
        </connector>
        <object>CH_Events__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
