src/flows/CH_PlannedAutoQualificationDateTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This is used to Post the Chatter Messgae on the Case when the Planned Automatic Qualification Date Timer is met</description>
        <name>CH_CIRAnsweredForPlannedAutomaticDateTimer</name>
        <label>CIR Answered for PlannedAutomaticQualificationDateTimer Post to Chatter</label>
        <locationX>696</locationX>
        <locationY>71</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_CIRUpdateonSupportTicket</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterPostCIRAnsweredForPlannedAutomaticQualificationDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>This is created as a part of NOKIASC-36588</description>
    <interviewLabel>CH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH PlannedAutoQualificationDateTime</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This is used to create the CIR Record for the PlannedAutomaticDateTimeQualifier</description>
        <name>CH_Create_CIR_Record</name>
        <label>Create CIR Record</label>
        <locationX>939</locationX>
        <locationY>251</locationY>
        <inputAssignments>
            <field>CH_Date_Time_Reason_Entered__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Reason_AdditionalComments__c</field>
            <value>
                <stringValue>Automatic Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RejectionReason_Type__c</field>
            <value>
                <stringValue>CIR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RejectionReasonfor__c</field>
            <value>
                <stringValue>Customer Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Rejection_Reasons__c</field>
            <value>
                <stringValue>Answered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SupportTicket_Reasons__c</field>
            <value>
                <elementReference>CH_CaseRelated_Values.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CH_Reasons__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CH_Lookup_Case</name>
        <label>CH_Lookup Case</label>
        <locationX>480</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_CIRAnsweredForPlannedAutomaticDateTimer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_CaseRelated_Values</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CH_TemporarySolutionProvided__c</queriedFields>
        <queriedFields>CH_SolutionProvided__c</queriedFields>
        <queriedFields>CH_Status_PriorValue__c</queriedFields>
        <queriedFields>CH_Defect__c</queriedFields>
        <queriedFields>CH_Outage__c</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>CH_PlannedAutomaticQualificationDateTime__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_CIRUpdateonSupportTicket</name>
        <label>CIR Update for PlannedAutomaticQualificationDateTimer</label>
        <locationX>899</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>CH_Create_CIR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_PlannedAutomaticQualificationDateTime__c</field>
            <value>
                <elementReference>CH_ResetDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CH_CaseRelated_Values.CH_Status_PriorValue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CH_Lookup_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CH_ChatterPostCIRAnsweredForPlannedAutomaticQualificationDateTime</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The case contact answered the CIR on {!$Flow.CurrentDateTime}</text>
    </textTemplates>
    <variables>
        <name>CH_CaseRelated_Values</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_ResetDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
