src/flows/CQI_Update_Suggestions_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Case_Evaluation_Completed_count</name>
        <label>Add Case Evaluation Completed count</label>
        <locationX>589</locationX>
        <locationY>1829</locationY>
        <assignmentItems>
            <assignToReference>parentSuggestedRecord.QA_Eval_No_of_case_evaluation_completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Assessment_call</name>
        <label>Assign Related Assessment (call)</label>
        <locationX>305</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>suggestedRecord.QA_Eval_Related_Case_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Task_suggestion_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_EvaluationRecord_ID</name>
        <label>Assign Related Evaluation Record ID</label>
        <locationX>595</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>suggestedRecord.QA_Eval_Related_Case_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Suggestion_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Completed_Call_Assignments</name>
        <label>Update Completed Call Assignments</label>
        <locationX>50</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>parentSuggestedRecord.QA_Eval_No_of_call_evaluation_completed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Suggestion_Record_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Call_Type_Assessment</name>
        <label>Is Call Type Assessment ?</label>
        <locationX>254</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Type_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Call_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call_Quality_Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_related_suggestion_record</targetReference>
            </connector>
            <label>Yes, Call Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Suggestion_Record_Present</name>
        <label>Is Case Suggestion Record Present?</label>
        <locationX>740</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Suggestion_record_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suggestedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Related_EvaluationRecord_ID</targetReference>
            </connector>
            <label>Yes, Case Suggestion record present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Type_Assessment</name>
        <label>Is Case Type Assessment ?</label>
        <locationX>586</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KPI_Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Related_Suggested_Record</targetReference>
            </connector>
            <label>Yes, Case Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Linked_to_Parent</name>
        <label>Is Linked to Parent?</label>
        <locationX>585</locationX>
        <locationY>1263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Record_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suggestedRecord.QA_Evaluation_Suggestion_Parent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Record</targetReference>
            </connector>
            <label>Yes, Parent Record available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Call_Record_found</name>
        <label>Is Parent Call Record found?</label>
        <locationX>302</locationX>
        <locationY>1645</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Call_suggestion_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentSuggestedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Completed_Call_Assignments</targetReference>
            </connector>
            <label>Yes, Parent Call suggestion found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Record_found</name>
        <label>Is Parent Record found?</label>
        <locationX>582</locationX>
        <locationY>1628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentSuggestedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Case_Evaluation_Completed_count</targetReference>
            </connector>
            <label>Yes, Parent Record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_found</name>
        <label>Is Record found?</label>
        <locationX>106</locationX>
        <locationY>1197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>suggestedRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Assessment_call</targetReference>
            </connector>
            <label>Yes, Record found</label>
        </rules>
    </decisions>
    <interviewLabel>CQI Update Suggestions Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQI Update Suggestions Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>263</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Call_Type_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>qaRecordId</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>currentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Task_Id__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Coach_Name__c</queriedFields>
        <queriedFields>QA_Eval_Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Record</name>
        <label>Get Parent Record</label>
        <locationX>587</locationX>
        <locationY>1471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Parent_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>suggestedRecord.QA_Evaluation_Suggestion_Parent__c</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>parentSuggestedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QA_Eval_No_of_case_evaluation_completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Record_call</name>
        <label>Get Parent Record (call)</label>
        <locationX>310</locationX>
        <locationY>1477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Parent_Call_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>suggestedRecord.QA_Evaluation_Suggestion_Call__c</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>parentSuggestedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QA_Eval_No_of_call_evaluation_completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Suggested_Record</name>
        <label>Get Related Suggested Record</label>
        <locationX>593</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Suggestion_Record_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Eval_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentRecord.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QA_Evaluation_Suggestion_Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>suggestedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QA_Evaluation_Suggestion_Parent__c</queriedFields>
        <queriedFields>QA_Eval_No_of_case_evaluation_completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_related_suggestion_record</name>
        <label>Get related suggestion record</label>
        <locationX>267</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QA_Eval_Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentRecord.Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QA_Evaluation_Suggestion_Call__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>suggestedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QA_Eval_Related_Case_Assessment__c</queriedFields>
        <queriedFields>QA_Evaluation_Suggestion_Call__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Suggestion_Record</name>
        <label>Update Case Suggestion Record</label>
        <locationX>593</locationX>
        <locationY>1049</locationY>
        <connector>
            <targetReference>Is_Linked_to_Parent</targetReference>
        </connector>
        <inputReference>suggestedRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>590</locationX>
        <locationY>2012</locationY>
        <inputReference>parentSuggestedRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Task_suggestion_record</name>
        <label>Update Related Task suggestion record</label>
        <locationX>134</locationX>
        <locationY>1360</locationY>
        <connector>
            <targetReference>Get_Parent_Record_call</targetReference>
        </connector>
        <inputReference>suggestedRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggestion_Record_Count</name>
        <label>Update Suggestion Record Count</label>
        <locationX>268</locationX>
        <locationY>1867</locationY>
        <inputReference>parentSuggestedRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>136</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
    <variables>
        <name>parentSuggestedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
    <variables>
        <name>qaRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>suggestedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
</Flow>
