src/flows/CQI_Task_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Task_Owner</name>
        <label>Notify Task Owner</label>
        <locationX>2055</locationX>
        <locationY>497</locationY>
        <actionName>Task.Email_notification_to_Action_owner_when_task_is_created_CQI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Created_Message</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newTaskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Re_Evaluation_Status</name>
        <label>Assign Re-Evaluation Status</label>
        <locationX>1719</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Re_Evaluation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assessment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Task_Assignments</name>
        <label>Initialize Task Assignments</label>
        <locationX>1404</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Evaluation requested for </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssessmentRecord.Agent_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssessmentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAssessmentRecord.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> ( </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAssessmentRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> )</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskRecord.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Primary_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_KPI_Assessment</name>
        <label>Is KPI Assessment?</label>
        <locationX>746</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_KPI_Assessment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>kpiAssessmentRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>callKPIAssessmentRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Manager_User</targetReference>
            </connector>
            <label>Yes KPI Assessment</label>
        </rules>
        <rules>
            <name>No_KPI_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>kpiAssessmentRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>callKPIAssessmentRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Only_KPI_Assessment_Can_be_Requested</targetReference>
            </connector>
            <label>No KPI Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Active</name>
        <label>Is Manager Active?</label>
        <locationX>1201</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userManager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Open_Task</targetReference>
            </connector>
            <label>Yes Manager Active</label>
        </rules>
        <rules>
            <name>No_Manager_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userManager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Manager_Inactive</targetReference>
            </connector>
            <label>No Manager Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Re_Evaluation_Status_Requested</name>
        <label>Is Re-Evaluation Status Requested?</label>
        <locationX>1010</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_is_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Re_Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Already_Task_Exists</targetReference>
            </connector>
            <label>Yes Status is Requested</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Re_Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Re_Evaluation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Task_Record_Type_Id</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requested_By_case_Owner</name>
        <label>Is Requested By case Owner?</label>
        <locationX>397</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Agent_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KPI_Assessment_Record_Type_ID</targetReference>
            </connector>
            <label>Yes Case Owner</label>
        </rules>
        <rules>
            <name>No_Not_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Agent_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Only_Case_Owner_Can_submit_Request</targetReference>
            </connector>
            <label>No Not Case Owner</label>
        </rules>
    </decisions>
    <interviewLabel>CQI Task Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQI Task Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Primary_Manager</name>
        <label>Create Task for Primary Manager</label>
        <locationX>1579</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Assign_Re_Evaluation_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception_Screen</targetReference>
        </faultConnector>
        <inputReference>newTaskRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Manager_User</name>
        <label>Get Agent Manager User</label>
        <locationX>1017</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Manager_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Agent_Manager__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userManager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Call_KPI_Assessment_Rec_Type_ID</name>
        <label>Get Call KPI Assessment Rec Type ID</label>
        <locationX>653</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_KPI_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQA_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call_Quality_Assessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>callKPIAssessmentRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Assessment_Record</name>
        <label>Get Current Assessment Record</label>
        <locationX>176</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Requested_By_case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>currentAssessmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <queriedFields>Agent_Manager__c</queriedFields>
        <queriedFields>Re_Evaluation_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Open_Task</name>
        <label>Get Existing Open Task</label>
        <locationX>1017</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Re_Evaluation_Status_Requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Agent_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>existingTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_KPI_Assessment_Record_Type_ID</name>
        <label>Get KPI Assessment Record Type ID</label>
        <locationX>512</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Call_KPI_Assessment_Rec_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQA_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KPI_Assessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>kpiAssessmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type_Id</name>
        <label>Get Task Record Type Id</label>
        <locationX>1218</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Task_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQI_Re_Evaluation_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>taskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Record</name>
        <label>Update Assessment Record</label>
        <locationX>1897</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>Notify_Task_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception_Screen</targetReference>
        </faultConnector>
        <inputReference>currentAssessmentRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Already_Task_Exists</name>
        <label>Error_Already_Task_Exists</label>
        <locationX>1014</locationX>
        <locationY>828</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Display_Task_Exists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;A task is currently open for the primary manager to re-evaluate this case&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Only_KPI_Assessment_Can_be_Requested</name>
        <label>Error Only KPI Assessment Can be Requested</label>
        <locationX>758</locationX>
        <locationY>531</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error_Only_KPI_Assessment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ONLY KPI ASSESSMENTS CAN BE REQUESTED FOR RE-EVALUATION.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Only_Case_Owner_Can_submit_Request</name>
        <label>Error Screen Only Case Owner Can submit Request</label>
        <locationX>403</locationX>
        <locationY>529</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error_Only_Case_Owner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Only case owners can request case re-evaluation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Exception_Screen</name>
        <label>Flow Exception Screen</label>
        <locationX>1707</locationX>
        <locationY>778</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Flow_Exception_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Task assignment cannot be completed due to below error&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Created_Message</name>
        <label>Task Created Message</label>
        <locationX>2237</locationX>
        <locationY>497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Message_Task_Created</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;A task has been assigned to the primary manager to re-evaluate this case&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Manager_Inactive</name>
        <label>User Manager Inactive</label>
        <locationX>1468</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Inactive_Manager_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Task cannot be performed. You have an Inactive Manager in this assessment record. Please contact supervisor to request an update. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Current_Assessment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callKPIAssessmentRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
    <variables>
        <name>existingTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>kpiAssessmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
