src/flows/CQI_Record_Share_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Insert_List</name>
        <label>Add to Insert List</label>
        <locationX>1228</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>insertShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shareInstanceCaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_QAA_user_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Insert_List_2</name>
        <label>Add to Insert List</label>
        <locationX>1149</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>insertShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shareInstanceQAA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Insert_List_Non_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_Read_Only</name>
        <label>Assign Case Owner Read Only</label>
        <locationX>1224</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>shareInstanceCaseOwner.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAssessmentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shareInstanceCaseOwner.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAssessmentRecord.Agent_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shareInstanceCaseOwner.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QAA_User_Read_Only</name>
        <label>Assign QAA User Read Only</label>
        <locationX>1177</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>shareInstanceQAA.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputAssessmentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shareInstanceQAA.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaaUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shareInstanceQAA.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_List_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UserOrGroupId_to_list</name>
        <label>Assign UserOrGroupId to list</label>
        <locationX>1102</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>existingUserOrGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_existing_share_records.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_existing_share_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Case_Owner_Not_Shared</name>
        <label>Is Case Owner Not Shared?</label>
        <locationX>886</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Owner_Read_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Share_with_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingUserOrGroupIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>inputAssessmentRecord.Agent_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_QAA_user_present</targetReference>
            </connector>
            <label>Yes, Existing Share with Case Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert_List_Non_Empty</name>
        <label>Is Insert List Non-Empty?</label>
        <locationX>943</locationX>
        <locationY>1485</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insertShareList</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Insert_Share_records_for_Case_Owner_and_QAA_user</targetReference>
            </connector>
            <label>Yes, Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KPI_Assessment</name>
        <label>Is KPI Assessment?</label>
        <locationX>331</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_KPI_Assessment</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>inputAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>kpiAssessmentRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputAssessmentRecord.Agent_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>inputAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>callKPIAssessmentRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Owner_User_Details</targetReference>
            </connector>
            <label>Yes, KPI Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_QAA_User_Active</name>
        <label>Is QAA User Active?</label>
        <locationX>1053</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Is_Insert_List_Non_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_user_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaaUserRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QAA_User_Read_Only</targetReference>
            </connector>
            <label>Yes user is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_QAA_user_present</name>
        <label>Is QAA user present?</label>
        <locationX>888</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>Insert_Share_records_for_Case_Owner_and_QAA_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QAA_User_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseOwnerUserRecord.CQI_Coach_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>caseOwnerUserRecord.ManagerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwnerUserRecord.CQI_Coach_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QAA_User_Details</targetReference>
            </connector>
            <label>Yes, QAA User present</label>
        </rules>
    </decisions>
    <interviewLabel>CQI Share Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQI | Record Share Flow</label>
    <loops>
        <name>For_each_existing_share_records</name>
        <label>For each existing share records</label>
        <locationX>895</locationX>
        <locationY>369</locationY>
        <collectionReference>existingShareRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UserOrGroupId_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Case_Owner_Not_Shared</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Share_records_for_Case_Owner_and_QAA_user</name>
        <label>Insert Share records for Case Owner and QAA user</label>
        <locationX>604</locationX>
        <locationY>1289</locationY>
        <inputReference>insertShareList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_existing_share_records</name>
        <label>Get all existing share records</label>
        <locationX>699</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_existing_share_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAssessmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__Share</object>
        <outputReference>existingShareRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Call_KPI_Assessment_Record_Type</name>
        <label>Get Call KPI Assessment Record Type</label>
        <locationX>175</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_KPI_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQA_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call_Quality_Assessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>callKPIAssessmentRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_User_Details</name>
        <label>Get Case Owner User Details</label>
        <locationX>561</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_existing_share_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAssessmentRecord.Agent_Name__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>caseOwnerUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>CQI_Coach_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_KPI_Assessment_Record_Type</name>
        <label>Get KPI Assessment Record Type</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Call_KPI_Assessment_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQA_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KPI_Assessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>kpiAssessmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_QAA_User_Details</name>
        <label>Get QAA User Details</label>
        <locationX>895</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_QAA_User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseOwnerUserRecord.CQI_Coach_User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>qaaUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_KPI_Assessment_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callKPIAssessmentRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOwnerUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>existingShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__Share</objectType>
    </variables>
    <variables>
        <name>existingUserOrGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
    <variables>
        <name>insertShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__Share</objectType>
    </variables>
    <variables>
        <name>kpiAssessmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaaUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>shareInstanceCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__Share</objectType>
    </variables>
    <variables>
        <name>shareInstanceQAA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__Share</objectType>
    </variables>
</Flow>
