src/flows/CQI_Find_Configured_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_found_custom_metadata_id_to_var</name>
        <label>Assign found custom metadata id to var</label>
        <locationX>50</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>cqiSetupRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_configured_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_configured_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_CQI_Setup_Found</name>
        <label>Is CQI Setup Found?</label>
        <locationX>528</locationX>
        <locationY>464</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cqiSetupRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Configured_CQI_Question_Setup</targetReference>
            </connector>
            <label>Yes Parent Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_Labels_Contains_Current_Case</name>
        <label>Is Record Type Labels Contains Current Case ?</label>
        <locationX>291</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>For_each_configured_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_configured_record.Case_Record_Type_Labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>inputRecordTypeLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_found_custom_metadata_id_to_var</targetReference>
            </connector>
            <label>Yes, Match found</label>
        </rules>
    </decisions>
    <interviewLabel>CQI Find Configured Setup {!$Flow.CurrentDateTime} + Input Record Type Label {!inputRecordTypeLabel}</interviewLabel>
    <label>CQI Find Configured Setup</label>
    <loops>
        <name>For_each_configured_record</name>
        <label>For each configured record</label>
        <locationX>296</locationX>
        <locationY>455</locationY>
        <collectionReference>lstAllCustomMetadataRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Record_Type_Labels_Contains_Current_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_CQI_Setup_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Configured_CQI_Metadata</name>
        <label>Get Configured CQI Metadata</label>
        <locationX>296</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_configured_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CQI_Setup__mdt</object>
        <outputReference>lstAllCustomMetadataRecords</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Case_Record_Type_Labels__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Configured_CQI_Question_Setup</name>
        <label>Get Configured CQI Question Setup</label>
        <locationX>806</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CQI_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cqiSetupRecordId</elementReference>
            </value>
        </filters>
        <object>CQI_Question_Setup__mdt</object>
        <outputReference>outputCQIQuestions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CQI_Setup__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Help_Text__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Option_1__c</queriedFields>
        <queriedFields>Option_1_Score__c</queriedFields>
        <queriedFields>Option_10__c</queriedFields>
        <queriedFields>Option_10_Score__c</queriedFields>
        <queriedFields>Option_2__c</queriedFields>
        <queriedFields>Option_2_Score__c</queriedFields>
        <queriedFields>Option_3__c</queriedFields>
        <queriedFields>Option_3_Score__c</queriedFields>
        <queriedFields>Option_4__c</queriedFields>
        <queriedFields>Option_4_Score__c</queriedFields>
        <queriedFields>Option_5__c</queriedFields>
        <queriedFields>Option_5_Score__c</queriedFields>
        <queriedFields>Option_6__c</queriedFields>
        <queriedFields>Option_6_Score__c</queriedFields>
        <queriedFields>Option_7__c</queriedFields>
        <queriedFields>Option_7_Score__c</queriedFields>
        <queriedFields>Option_8__c</queriedFields>
        <queriedFields>Option_8_Score__c</queriedFields>
        <queriedFields>Option_9__c</queriedFields>
        <queriedFields>Option_9_Score__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Question_Display_Order__c</queriedFields>
        <sortField>Question_Display_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>170</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Configured_CQI_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to store the record id of the metadata found for the input record type label.</description>
        <name>cqiSetupRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordTypeLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstAllCustomMetadataRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQI_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>outputCQIQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CQI_Question_Setup__mdt</objectType>
    </variables>
</Flow>
