src/flows/CQI_Re_Evaluation_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Case_Owner</name>
        <label>Send Notification to Case Owner</label>
        <locationX>1886</locationX>
        <locationY>299</locationY>
        <actionName>CQA_Summary__c.CQI_Re_Evaluation_Completed_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Assessment_Summary_Score</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentAssessmentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Call_Quality_Questions_Input</name>
        <label>Assign Call Quality Questions Input</label>
        <locationX>640</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>caseRecordTypeLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call Quality Assessment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configured_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Re_evaluation_Information</name>
        <label>Assign Re-evaluation Information</label>
        <locationX>1452</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Previous_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssessmentRecord.Assessment_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Re_Evaluation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Re_Evaluation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Evaluator_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAssessmentRecord.Modified_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_KPI_Assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Display_Error_Message</name>
        <label>Set Display Error Message</label>
        <locationX>1259</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>isDisplayErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Quality_Assessment_Re_evaluation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_All_Questions_Answered</name>
        <label>Is All Questions Answered?</label>
        <locationX>1321</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Set_Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Questions_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAllQuestionsAnswered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Re_evaluation_Information</targetReference>
            </connector>
            <label>Yes, All Questions Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Call_Assessment</name>
        <label>Is Call Assessment?</label>
        <locationX>639</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RecordType_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Call_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>callAssessmentRecTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Call_Quality_Questions_Input</targetReference>
            </connector>
            <label>Yes Call Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Manager</name>
        <label>Is Primary Manager?</label>
        <locationX>403</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssessmentRecord.Agent_Manager__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Call_Assessment</targetReference>
            </connector>
            <label>Yes, Primary Manager</label>
        </rules>
    </decisions>
    <interviewLabel>CQI Re-Evaluation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQI Re-Evaluation Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assessment_Summary_Score</name>
        <label>Get Assessment Summary Score</label>
        <locationX>2022</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>updatedAssessmentSummary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assessment_Score__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Call_Assessment_Record_TypeId</name>
        <label>Get Call Assessment Record TypeId</label>
        <locationX>205</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQA_Summary__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call_Quality_Assessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>callAssessmentRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_Details</name>
        <label>Get Case Owner Details</label>
        <locationX>412</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Primary_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>caseOwnerUserDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Details</name>
        <label>Get Case Record Details</label>
        <locationX>261</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Owner_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>currentCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RecordType_Label</name>
        <label>Get Case RecordType Label</label>
        <locationX>856</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Configured_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCaseRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseRecordTypeLabel</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Assessment_Record</name>
        <label>Get Current Assessment Record</label>
        <locationX>50</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Call_Assessment_Record_TypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CQA_Summary__c</object>
        <outputReference>currentAssessmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Agent_Manager__c</queriedFields>
        <queriedFields>Agent_Name__c</queriedFields>
        <queriedFields>Coach_Name__c</queriedFields>
        <queriedFields>Evaluator_Notes__c</queriedFields>
        <queriedFields>Re_Evaluation_Date__c</queriedFields>
        <queriedFields>Re_Evaluation_Status__c</queriedFields>
        <queriedFields>Survey_s__c</queriedFields>
        <queriedFields>Coach_Comments__c</queriedFields>
        <queriedFields>Article_Number_s__c</queriedFields>
        <queriedFields>Previous_Score__c</queriedFields>
        <queriedFields>Modified_By__c</queriedFields>
        <queriedFields>Assessment_Score__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Assessment_Results</name>
        <label>Get Existing Assessment Results</label>
        <locationX>1027</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Quality_Assessment_Re_evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Quality_Assessment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAssessmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>CQA_Results__c</object>
        <outputReference>existingAssessmentResults</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Case_Quality_Assessment__c</queriedFields>
        <queriedFields>Assessment_Score__c</queriedFields>
        <queriedFields>Selected_Option__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessment_Results</name>
        <label>Update Assessment Results</label>
        <locationX>1731</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Send_Notification_to_Case_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception_Message</targetReference>
        </faultConnector>
        <inputReference>outputResultsInsertUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KPI_Assessment</name>
        <label>Update KPI Assessment</label>
        <locationX>1586</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Update_Assessment_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Exception_Message</targetReference>
        </faultConnector>
        <inputReference>currentAssessmentRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Case_Quality_Assessment_Re_evaluation</name>
        <label>Case Quality Assessment Re-evaluation</label>
        <locationX>1187</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_All_Questions_Answered</targetReference>
        </connector>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;KPI ASSESSMENT RE-EVALUATION&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Error_message_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: red; background-color: white; font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Please answer all assessment questions to proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>isDisplayErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CQA_AssessmentForm</name>
            <extensionName>c:CQA_AssessmentForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>assessmentSummary</name>
                <value>
                    <elementReference>currentAssessmentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputAssessmentResults</name>
                <value>
                    <elementReference>existingAssessmentResults</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputQuestionsMetadata</name>
                <value>
                    <elementReference>configuredQuestionsMetadata</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReEvaluationView</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outputResults</name>
                <value>
                    <elementReference>outputResultsInsertUpdate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputResultsInsertUpdate</assignToReference>
                <name>outputResults</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>currentAssessmentRecord</assignToReference>
                <name>assessmentSummary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>existingAssessmentResults</assignToReference>
                <name>inputAssessmentResults</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>configuredQuestionsMetadata</assignToReference>
                <name>inputQuestionsMetadata</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isAllQuestionsAnswered</assignToReference>
                <name>isFormValidated</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Evaluation_Notes</name>
            <defaultValue>
                <stringValue>{!currentAssessmentRecord.Evaluator_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Re-Evaluation Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>503</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Not_A_Primary_Manager</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Only Primary Manager of Case Owner can perform this activity. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Exception_Message</name>
        <label>Flow Exception Message</label>
        <locationX>1622</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Flow_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Assessment cannot be completed due to below error&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2159</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Message_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Case quality evaluation is completed with a CQI Score of&amp;nbsp; &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!updatedAssessmentSummary.Assessment_Score__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>129</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Assessment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Configured_Questions</name>
        <label>Get Configured Questions</label>
        <locationX>853</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Get_Existing_Assessment_Results</targetReference>
        </connector>
        <flowName>CQI_Find_Configured_Setup</flowName>
        <inputAssignments>
            <name>inputRecordTypeLabel</name>
            <value>
                <elementReference>caseRecordTypeLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>configuredQuestionsMetadata</assignToReference>
            <name>outputCQIQuestions</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>callAssessmentRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOwnerUserDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>caseRecordTypeLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configuredQuestionsMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CQI_Question_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>currentAssessmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
    <variables>
        <name>currentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>existingAssessmentResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Results__c</objectType>
    </variables>
    <variables>
        <name>isAllQuestionsAnswered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isDisplayErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputResultsInsertUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CQA_Results__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>setUpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedAssessmentSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CQA_Summary__c</objectType>
    </variables>
</Flow>
