src/flows/Create_Skill_From_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_comments</name>
        <label>Assign comments</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SkillComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Value_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_Common</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Skill_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment3</name>
        <label>Assignment3</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SkillComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Value_Comments3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_Common</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Skill_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignmnet2</name>
        <label>Assignmnet2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SkillComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skill_Value_Comments2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expertise_Common</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Expertise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Skill_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Defaultchoice</name>
        <choiceText>{!None}</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>None</name>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Contact_is_employee</name>
        <label>Check Contact is employee</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactIsemployee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skills</targetReference>
            </connector>
            <label>Contact is Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_skill_type</name>
        <label>Check skill type</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Skill_from_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Type_is_Aircraft_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectedmasterskillvalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aircraft Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Aircraft_Type</targetReference>
            </connector>
            <label>Skill Type is Aircraft Type</label>
        </rules>
        <rules>
            <name>Skill_Type_is_Supported_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectedmasterskillvalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supported Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Supported_Product</targetReference>
            </connector>
            <label>Skill Type is Supported Products</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PrimarySecondary2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Secondary__c</picklistField>
        <picklistObject>Skills2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Queryskillvalue</name>
        <dataType>String</dataType>
        <displayField>Skill_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selectedmasterskillvalue</elementReference>
            </value>
        </filters>
        <object>Skill_DataBase__c</object>
        <valueField>Skill_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SkillExpertise</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expertise__c</picklistField>
        <picklistObject>Skills2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Storemasterskillset</name>
        <dataType>String</dataType>
        <displayField>Master_Skill_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Skill_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Skill_DataBase__c</object>
        <outputAssignments>
            <assignToReference>Selectedmasterskillvalue</assignToReference>
            <field>Master_Skill_Type__c</field>
        </outputAssignments>
        <valueField>Master_Skill_Type__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Skill From Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Skill From Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Skill_Record</name>
        <label>Create Skill Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>newskillID</assignRecordIdToReference>
        <connector>
            <targetReference>Open_skillrecordscreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft_Type__c</field>
            <value>
                <elementReference>SelectAircraftType.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise__c</field>
            <value>
                <elementReference>Expertise_Common</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Secondary__c</field>
            <value>
                <elementReference>PrimarySecondary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Type__c</field>
            <value>
                <elementReference>Select_Skill_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Value_Comments__c</field>
            <value>
                <elementReference>SkillComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Value__c</field>
            <value>
                <elementReference>Select_Skill_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supported_Products__c</field>
            <value>
                <elementReference>SelectSupportedProduct.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Skills2__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_is_employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactIsemployee</assignToReference>
            <field>Contact_Is_Employee__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Skill_from_Contact</name>
        <label>Select Skill Value</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment3</targetReference>
        </connector>
        <fields>
            <name>Select_Skill_Value</name>
            <choiceReferences>Defaultchoice</choiceReferences>
            <choiceReferences>Queryskillvalue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Skill Value</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expertise3</name>
            <choiceReferences>Defaultchoice</choiceReferences>
            <choiceReferences>SkillExpertise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expertise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Skill_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Defaultchoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Skill_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Mobile App Products</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skill_Value_Comments3</name>
            <dataType>String</dataType>
            <fieldText>Skill Value Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Skill_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Defaultchoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Skill_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Mobile App Products</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(248, 248, 248);&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;font-weight: bold;&quot;&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;150&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Expertise Level&lt;/td&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;500&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Description&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;BASIC&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has training on the product/system, but has no working experience on the product line/system. Requires assistance/direction to resolve/troubleshoot product line/system issues. Not active in supporting this product line/system on day-to-day.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;INTERMEDIATE&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has a good general working knowledge of the product. Is able to troubleshoot most general and routine issues. Has had training on specific product line. May require support or guidance.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;ADVANCED&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has in-depth knowledge of the product/system and has the ability to resolve/troubleshoot complex issues. Keeps up-to-date with product update. Is Active with product line/system.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;EXPERT&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Understands and is able to troubleshoot all models and systems including aircraft interface of a specific product line. Acts in a consulting role, mentors personal on product line and systems.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Skill_Value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Defaultchoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Skill_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Mobile App Products</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Skills</name>
        <label>Create Skills</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_skill_type</targetReference>
        </connector>
        <fields>
            <name>Select_Skill_Type</name>
            <choiceReferences>Storemasterskillset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Skill Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Alert</name>
            <fieldText>&lt;h4&gt;&lt;b style=&quot;color: rgb(204, 0, 0);&quot;&gt;Error:&lt;/b&gt;&lt;/h4&gt;&lt;p&gt;The selected Contact is not a Honeywell Employee. You can associate skills only for Contact who is a Honeywell Employee.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_skillrecordscreen</name>
        <label>Open skillrecordscreen</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpenSkillrecord</name>
            <extensionName>c:NavigatetoSkillsScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recid</name>
                <value>
                    <elementReference>newskillID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Aircraft_Type</name>
        <label>Select Aircraft Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_comments</targetReference>
        </connector>
        <fields>
            <name>SelectAircraftType</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Aircraft_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Aircraft Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Skills2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>aircrafttypeid</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Expertise</name>
            <choiceReferences>Defaultchoice</choiceReferences>
            <choiceReferences>SkillExpertise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expertise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectAircraftType.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skill_Value_Comments</name>
            <dataType>String</dataType>
            <fieldText>Skill Value Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectAircraftType.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(248, 248, 248);&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;font-weight: bold;&quot;&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;150&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Expertise Level&lt;/td&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;500&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Description&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;BASIC&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has training on the product/system, but has no working experience on the product line/system. Requires assistance/direction to resolve/troubleshoot product line/system issues. Not active in supporting this product line/system on day-to-day.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;INTERMEDIATE&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has a good general working knowledge of the product. Is able to troubleshoot most general and routine issues. Has had training on specific product line. May require support or guidance.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;ADVANCED&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has in-depth knowledge of the product/system and has the ability to resolve/troubleshoot complex issues. Keeps up-to-date with product update. Is Active with product line/system.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;EXPERT&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Understands and is able to troubleshoot all models and systems including aircraft interface of a specific product line. Acts in a consulting role, mentors personal on product line and systems.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectAircraftType.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Supported_Product</name>
        <label>Select Supported Product</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignmnet2</targetReference>
        </connector>
        <fields>
            <name>SelectSupportedProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supported_Products__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supported Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Skills2__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Expertise</name>
            <choiceReferences>Defaultchoice</choiceReferences>
            <choiceReferences>SkillExpertise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expertise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectSupportedProduct.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PrimarySecondary</name>
            <choiceReferences>Defaultchoice</choiceReferences>
            <choiceReferences>PrimarySecondary2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary/Secondary</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectSupportedProduct.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skill_Value_Comments2</name>
            <dataType>String</dataType>
            <fieldText>Skill Value Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectSupportedProduct.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Explanation2</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(248, 248, 248);&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;font-weight: bold;&quot;&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;150&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Expertise Level&lt;/td&gt;&lt;td cellpadding=&quot;1&quot; width=&quot;500&quot; style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Description&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;BASIC&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has training on the product/system, but has no working experience on the product line/system. Requires assistance/direction to resolve/troubleshoot product line/system issues. Not active in supporting this product line/system on day-to-day.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;INTERMEDIATE&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has a good general working knowledge of the product. Is able to troubleshoot most general and routine issues. Has had training on specific product line. May require support or guidance.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;ADVANCED&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Has in-depth knowledge of the product/system and has the ability to resolve/troubleshoot complex issues. Keeps up-to-date with product update. Is Active with product line/system.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;EXPERT&lt;/td&gt;&lt;td style=&quot;margin: 0px; vertical-align: top; border-bottom: 1px none rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236);&quot;&gt;Understands and is able to troubleshoot all models and systems including aircraft interface of a specific product line. Acts in a consulting role, mentors personal on product line and systems.&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectSupportedProduct.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aircrafttypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIsemployee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expertise_Common</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newskillID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selectedmasterskillvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skill_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportedproductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
