src/flows/eGreensheet_Approvers_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PullValidApprovers</name>
        <label>PullValidApprovers</label>
        <locationX>1814</locationX>
        <locationY>397</locationY>
        <actionName>Invocable_eG_ProductSBUSearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Choose_Product_Approvers</targetReference>
        </connector>
        <inputParameters>
            <name>productSBUSearch</name>
            <value>
                <elementReference>InvocableParameter</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ocv_ValidProductApprovers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Approver_Fields_BA</name>
        <label>Assign Approver Fields BA</label>
        <locationX>364</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>BusApproversList.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusApproversList.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BAApproverLevels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusApproversList.Workflow_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusApproversList.Select_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessApproverSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection_BA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Fields_CA</name>
        <label>Assign Approver Fields CA</label>
        <locationX>893</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>ConApproversList.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConApproversList.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAApproverLevels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConApproversList.Workflow_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConApproversList.Select_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractApproverSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection_CA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Fields_FA</name>
        <label>Assign Approver Fields FA</label>
        <locationX>1306</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>FinApproversList.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinApproversList.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAApproverLevels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinApproversList.Workflow_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinApproversList.Select_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceApproverSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection_FA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_Fields_PA_0</name>
        <label>Assign Approver Fields PA</label>
        <locationX>1629</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>ProdApproversList.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdApproversList.Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAApproverLevels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdApproversList.Workflow_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdApproversList.Select_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductApproverSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection_PA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notifier_Fields</name>
        <label>Assign Notifier Fields</label>
        <locationX>2128</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>NotifiersList.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotifiersList.Workflow_details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotifiersList.Select_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotificationApproverSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Notify_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection_BA</name>
        <label>Assign to New Collection BA</label>
        <locationX>221</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>ApproversListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BusApproversList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selects_Business_Approvers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection_CA</name>
        <label>Assign to New Collection CA</label>
        <locationX>735</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>ApproversListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConApproversList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Contract_Approvers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection_FA</name>
        <label>Assign to New Collection FA</label>
        <locationX>1216</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>ApproversListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinApproversList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Finance_Approvers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection_PA</name>
        <label>Assign to New Collection PA</label>
        <locationX>1642</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>ApproversListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdApproversList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Product_Approvers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Notify_Collection</name>
        <label>Assign to New Notify Collection</label>
        <locationX>2058</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>NotificationListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotifiersList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Notifiers_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductSBUSearch</name>
        <label>ProductSBUSearch</label>
        <locationX>1813</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>InvocableParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatIDandTierChosen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PullValidApprovers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choose_Tier_0</name>
        <choiceText>Tier 0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier 0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose_Tier_I</name>
        <choiceText>Tier I</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier I</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose_Tier_II</name>
        <choiceText>Tier II</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier II</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose_Tier_III</name>
        <choiceText>Tier III</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier III</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose_Tier_IV</name>
        <choiceText>Tier IV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier IV</stringValue>
        </value>
    </choices>
    <choices>
        <name>EGBA_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>EGBA_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Business_Approver_Needed</name>
        <choiceText>No Business Approver Needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Business Approver Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Contract_Approver_Needed</name>
        <choiceText>No Contract Approver Needed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Finance_Approver_Needed</name>
        <choiceText>No Finance Approver Needed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Product_Approver_Needed</name>
        <choiceText>No Product Approver Needed</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>BA_Is_Sales_Channel_Aero</name>
        <label>Is Sales Channel Aero</label>
        <locationX>453</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Select_CA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tier Chosen</defaultConnectorLabel>
        <rules>
            <name>BA_Is_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_Aero</targetReference>
            </connector>
            <label>Is Aero SC</label>
        </rules>
        <rules>
            <name>BA_Is_Not_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_NonAero</targetReference>
            </connector>
            <label>Is Not Aero SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_Is_Sales_Channel_Aero</name>
        <label>Is Sales Channel Aero</label>
        <locationX>949</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Select_FA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tier Chosen</defaultConnectorLabel>
        <rules>
            <name>CA_Is_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_AeroContract</targetReference>
            </connector>
            <label>Is Aero SC</label>
        </rules>
        <rules>
            <name>CA_Is_Not_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_NonAeroContract</targetReference>
            </connector>
            <label>Is Not Aero SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_Is_Sales_Channel_Aero_0</name>
        <label>Is Sales Channel Aero</label>
        <locationX>1357</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Select_PA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tier selected</defaultConnectorLabel>
        <rules>
            <name>FA_Is_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_AeroFinance</targetReference>
            </connector>
            <label>Is Aero SC</label>
        </rules>
        <rules>
            <name>FA_Is_Not_Aero_SC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>v_eG_SalesChannel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_Approvers_NonAeroFinance</targetReference>
            </connector>
            <label>Is Not Aero SC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_eG_Required_Fields</name>
        <label>Check eG Required Fields</label>
        <locationX>292</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>ErrorNullField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SC_and_PS_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_Req_Fields_Null</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_BA_Tier</targetReference>
            </connector>
            <label>SC and PS completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_eG_Status</name>
        <label>Check eG Status</label>
        <locationX>148</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>ErrorWrongStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Draft</defaultConnectorLabel>
        <rules>
            <name>Is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_eG_Required_Fields</targetReference>
            </connector>
            <label>Is Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Business_Approvers_Chosen</name>
        <label>More Business Approvers Chosen</label>
        <locationX>468</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Select_CA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Approvers</defaultConnectorLabel>
        <rules>
            <name>More_Approvers_Needed_eG_BA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNoEGBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_BA_Tier</targetReference>
            </connector>
            <label>More Approvers Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Contract_Approvers_Chosen</name>
        <label>More Contract Approvers Chosen</label>
        <locationX>969</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Select_FA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Approvers</defaultConnectorLabel>
        <rules>
            <name>More_Approvers_Needed_eG_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNoEGCA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_CA_Tier</targetReference>
            </connector>
            <label>More Approvers Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Finance_Approvers_Chosen</name>
        <label>More Finance Approvers Chosen</label>
        <locationX>1381</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Select_PA_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Approvers</defaultConnectorLabel>
        <rules>
            <name>More_Approvers_Needed_eG_FA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNoEGFA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_FA_Tier</targetReference>
            </connector>
            <label>More Approvers Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Product_Approvers_Chosen</name>
        <label>More Product Approvers Chosen</label>
        <locationX>1808</locationX>
        <locationY>976</locationY>
        <defaultConnector>
            <targetReference>Select_Notifiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Approvers</defaultConnectorLabel>
        <rules>
            <name>More_Approvers_Needed_eG_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesOrNoEGPA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_PA_Tier</targetReference>
            </connector>
            <label>More Approvers Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notifiers_Needed_Check</name>
        <label>Notifiers Needed Check</label>
        <locationX>2207</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>WarningBeforeNext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Notifiers Needed</defaultConnectorLabel>
        <rules>
            <name>Notifiers_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotifiersSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Notifiers</targetReference>
            </connector>
            <label>Notifiers Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Selected_Product</name>
        <label>Tier Selected Product</label>
        <locationX>1818</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Select_Notifiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tier selected</defaultConnectorLabel>
        <rules>
            <name>Product_Tier_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_II</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_III</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAApproverLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_Tier_IV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductSBUSearch</targetReference>
            </connector>
            <label>Product Tier Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Aero_BA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Aero_CA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Aero_FA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotAero_BA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotAero_CA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotAero_FA_Approvers_DynamicList</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Notifiers_DynamicChoice</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Approver_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PA_Approvers_DynamicChoice</name>
        <dataType>String</dataType>
        <displayField>Formatted_Approver_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_SBU_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_SBU_List</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Are_Req_Fields_Null</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!v_eG_ProductSBU})||ISBLANK({!v_eG_SalesChannel})</expression>
    </formulas>
    <formulas>
        <name>ConcatIDandTierChosen</name>
        <dataType>String</dataType>
        <expression>{!recordId}&amp;&apos;,&apos;&amp;{!PAApproverLevels}</expression>
    </formulas>
    <interviewLabel>eGreensheet Approvers Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eGreensheet Approvers Screen Flow</label>
    <loops>
        <name>Select_Contract_Approvers_Loop</name>
        <label>Select Contract Approvers Loop</label>
        <locationX>945</locationX>
        <locationY>485</locationY>
        <assignNextValueToReference>ContractApproverSelected</assignNextValueToReference>
        <collectionReference>selectedDataTableContractAp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Fields_CA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_CA_Approvers_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Select_Finance_Approvers_Loop</name>
        <label>Select Finance Approvers Loop</label>
        <locationX>1370</locationX>
        <locationY>490</locationY>
        <assignNextValueToReference>FinanceApproverSelected</assignNextValueToReference>
        <collectionReference>selectedDataTableFinanceApp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Fields_FA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_FA_Approvers_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Select_Notifiers_Loop</name>
        <label>Select Notifiers Loop</label>
        <locationX>2200</locationX>
        <locationY>483</locationY>
        <assignNextValueToReference>NotificationApproverSelected</assignNextValueToReference>
        <collectionReference>selectedDataTableNotification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Notifier_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WarningBeforeNext_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Select_Product_Approvers_Loop</name>
        <label>Select Product Approvers Loop</label>
        <locationX>1810</locationX>
        <locationY>676</locationY>
        <assignNextValueToReference>ProductApproverSelected</assignNextValueToReference>
        <collectionReference>selectedDatatableApprovers_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Fields_PA_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_PA_Approvers_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selects_Business_Approvers_Loop</name>
        <label>Selects Business Approvers Loop</label>
        <locationX>460</locationX>
        <locationY>483</locationY>
        <assignNextValueToReference>BusinessApproverSelected</assignNextValueToReference>
        <collectionReference>selectedDataTableBusinessApp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approver_Fields_BA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_BA_Approvers_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approvers</name>
        <label>Create Approvers</label>
        <locationX>2682</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>UpdateEGStatus</targetReference>
        </connector>
        <inputReference>ApproversListFinal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approvers_0</name>
        <label>Create Approvers</label>
        <locationX>2447</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Create_Notifications</targetReference>
        </connector>
        <inputReference>ApproversListFinal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notifications</name>
        <label>Create Notifications</label>
        <locationX>2449</locationX>
        <locationY>645</locationY>
        <connector>
            <targetReference>UpdateEGStatus_0</targetReference>
        </connector>
        <inputReference>NotificationListFinal</inputReference>
    </recordCreates>
    <recordLookups>
        <name>eGreensheet_Lookup_Details</name>
        <label>eGreensheet Lookup Details</label>
        <locationX>9</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_eG_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Workflow_details__c</object>
        <outputAssignments>
            <assignToReference>v_TierInEgreensheet</assignToReference>
            <field>Approval_Level_in_Progress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_eGreensheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Product_SBU_List</assignToReference>
            <field>Product_SBU_List__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_eG_ProductSBU</assignToReference>
            <field>Product_SBU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_eG_SalesChannel</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Notifiers</name>
        <label>Lookup Notifiers</label>
        <locationX>2204</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Notification_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Approver_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_Notification</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>PS_Approvers_Product</name>
        <label>Product Approvers</label>
        <locationX>1814</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_Selected_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_SBU__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_App_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Product_SBU__c</queriedFields>
        <queriedFields>Product_SBU_Text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_Aero</name>
        <label>SC Approvers Aero</label>
        <locationX>366</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Business_Approvers_Aero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_Approvers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_AeroContract</name>
        <label>SC Approvers Aero</label>
        <locationX>867</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Contract_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_App_Contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_AeroFinance</name>
        <label>SC Approvers Aero</label>
        <locationX>1280</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Finance_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_App_Finance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_NonAero</name>
        <label>SC Approvers Non-Aero</label>
        <locationX>557</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Business_Approvers_Aero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_Approvers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_NonAeroContract</name>
        <label>SC Approvers NonAero</label>
        <locationX>1018</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Contract_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_App_Contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SC_Approvers_NonAeroFinance</name>
        <label>SC Approvers Non Aero</label>
        <locationX>1425</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Finance_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approver_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_eG_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FAApproverLevels</elementReference>
            </value>
        </filters>
        <object>Approver__c</object>
        <outputReference>ocv_SEA_SalesChannel_App_Finance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_type__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Sales_Channel__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Formatted_Approver_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEGStatus</name>
        <label>UpdateEGStatus</label>
        <locationX>2677</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>eG_Approvers_Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Workflow_details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEGStatus_0</name>
        <label>UpdateEGStatus</label>
        <locationX>2446</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>eG_Approvers_Thank_You_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Workflow_details__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Business_Approvers_Aero</name>
        <label>Choose Aero Business Approvers</label>
        <locationX>454</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selects_Business_Approvers_Loop</targetReference>
        </connector>
        <fields>
            <name>BusinessApproverLC</name>
            <extensionName>c:Datatable_SEA_Approvers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ocv_SEA_SalesChannel_Approvers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Approver Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Sales_Channel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Sales Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Tier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDataTableBusinessApp</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_No_Approvers</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note: If you see duplicate Approver names &lt;U&gt;only select each name once.&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If there are no approvers available in the box above please contact your Salesforce Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Contract_Approvers</name>
        <label>Choose Contract Approvers</label>
        <locationX>945</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Contract_Approvers_Loop</targetReference>
        </connector>
        <fields>
            <name>ContractApproverLC</name>
            <extensionName>c:Datatable_SEA_Approvers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ocv_SEA_SalesChannel_App_Contract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Approver Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Sales_Channel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Sales Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Tier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDataTableContractAp</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_No_Approvers_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note: If you see duplicate Approver names &lt;U&gt;only select each name once.&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If there are no approvers available in the box above please contact your Salesforce Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Finance_Approvers</name>
        <label>Choose Finance Approvers</label>
        <locationX>1364</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Finance_Approvers_Loop</targetReference>
        </connector>
        <fields>
            <name>FinanceApproverLC_0</name>
            <extensionName>c:Datatable_SEA_Approvers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ocv_SEA_SalesChannel_App_Finance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Approver Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Sales_Channel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Sales Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Tier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDataTableFinanceApp</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_No_Approvers_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note: If you see duplicate Approver names &lt;U&gt;only select each name once.&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If there are no approvers available in the box above please contact your Salesforce Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Notification_Users</name>
        <label>Choose Notification Users</label>
        <locationX>2203</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Notifiers_Loop</targetReference>
        </connector>
        <fields>
            <name>NotificationLC</name>
            <extensionName>c:Datatable_SEA_Approvers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ocv_SEA_Notification</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Approver Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Sales_Channel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Sales Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Tier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDataTableNotification</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_No_Approvers_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note: If you see duplicate Approver names &lt;U&gt;only select each name once.&lt;/U&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If there are no approvers available in the box above please contact your Salesforce Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Product_Approvers</name>
        <label>Choose Product Approvers</label>
        <locationX>1818</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Product_Approvers_Loop</targetReference>
        </connector>
        <fields>
            <name>ProdApproversDataTable</name>
            <extensionName>c:Datatable_SEA_Approvers</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Approver Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>ocv_ValidProductApprovers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Product_SBU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Product SBU</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Tier</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDatatableApprovers_Product</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_No_Approvers_0_1_0_0</name>
            <fieldText>Note: If there are no approvers available in the box above please contact your Salesforce Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eG_Approvers_Thank_You</name>
        <label>Thank You</label>
        <locationX>2679</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYoueGreensheetText</name>
            <fieldText>Thank you, your eGreensheet selected approvers have been notified. Please press X to close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>eG_Approvers_Thank_You_0</name>
        <label>Thank You</label>
        <locationX>2449</locationX>
        <locationY>829</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYoueGreensheetText_0</name>
            <fieldText>Thank you, your eGreensheet selected approvers and notifications have been sent.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorNullField</name>
        <label>ErrorNullField</label>
        <locationX>195</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WrongStatusMessage_0</name>
            <fieldText>Please populate the Product SBU and Sales Channel before generating the approver list.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorWrongStatus</name>
        <label>ErrorWrongStatus</label>
        <locationX>20</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WrongStatusMessage</name>
            <fieldText>Cannot generate approver list when the status of the eGreensheet is {!v_Status}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_BA_Approvers_Needed</name>
        <label>More BA Approvers Needed</label>
        <locationX>471</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Business_Approvers_Chosen</targetReference>
        </connector>
        <fields>
            <name>MoreBAApprovers</name>
            <fieldText>Do you need to select more Business Approvers at a different tier?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesOrNoEGBA</name>
            <choiceReferences>EGBA_Yes</choiceReferences>
            <choiceReferences>EGBA_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_CA_Approvers_Needed</name>
        <label>More CA Approvers Needed</label>
        <locationX>962</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Contract_Approvers_Chosen</targetReference>
        </connector>
        <fields>
            <name>MoreCAApprovers</name>
            <fieldText>Do you need to select more Contract Approvers at a different tier?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesOrNoEGCA</name>
            <choiceReferences>EGBA_Yes</choiceReferences>
            <choiceReferences>EGBA_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_FA_Approvers_Needed</name>
        <label>More FA Approvers Needed</label>
        <locationX>1383</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Finance_Approvers_Chosen</targetReference>
        </connector>
        <fields>
            <name>MoreCAApprovers_0</name>
            <fieldText>Do you need to select more Financial Approvers at a different tier?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesOrNoEGFA</name>
            <choiceReferences>EGBA_Yes</choiceReferences>
            <choiceReferences>EGBA_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_PA_Approvers_Needed</name>
        <label>More PA Approvers Needed</label>
        <locationX>1810</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Product_Approvers_Chosen</targetReference>
        </connector>
        <fields>
            <name>MoreCAApprovers_0_0</name>
            <fieldText>Do you need to select more Product Approvers at a different tier?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesOrNoEGPA</name>
            <choiceReferences>EGBA_Yes</choiceReferences>
            <choiceReferences>EGBA_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_BA_Tier</name>
        <label>Select BA Tier</label>
        <locationX>449</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BA_Is_Sales_Channel_Aero</targetReference>
        </connector>
        <fields>
            <name>DisplayOverallTierBA</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The overall approval level for this eGreensheet is {!v_TierInEgreensheet}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;What Approval Level do you need for &lt;B&gt;Business Approvers&lt;/B&gt;?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BAApproverLevels</name>
            <choiceReferences>Choose_Tier_0</choiceReferences>
            <choiceReferences>Choose_Tier_I</choiceReferences>
            <choiceReferences>Choose_Tier_II</choiceReferences>
            <choiceReferences>Choose_Tier_III</choiceReferences>
            <choiceReferences>Choose_Tier_IV</choiceReferences>
            <choiceReferences>No_Business_Approver_Needed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CA_Tier</name>
        <label>Select CA Tier</label>
        <locationX>947</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CA_Is_Sales_Channel_Aero</targetReference>
        </connector>
        <fields>
            <name>DisplayOverallTierBA_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The overall approval level for this eGreensheet is {!v_TierInEgreensheet}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;What Approval Level do you need for &lt;B&gt;Contract Approvers&lt;/B&gt;?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CAApproverLevels</name>
            <choiceReferences>Choose_Tier_0</choiceReferences>
            <choiceReferences>Choose_Tier_I</choiceReferences>
            <choiceReferences>Choose_Tier_II</choiceReferences>
            <choiceReferences>Choose_Tier_III</choiceReferences>
            <choiceReferences>Choose_Tier_IV</choiceReferences>
            <choiceReferences>No_Contract_Approver_Needed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_FA_Tier</name>
        <label>Select FA Tier</label>
        <locationX>1356</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CA_Is_Sales_Channel_Aero_0</targetReference>
        </connector>
        <fields>
            <name>DisplayOverallTierFA</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The overall approval level for this eGreensheet is {!v_TierInEgreensheet}.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;What Approval Level do you need for &lt;B&gt;Finance Approvers&lt;/B&gt;?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FAApproverLevels</name>
            <choiceReferences>Choose_Tier_0</choiceReferences>
            <choiceReferences>Choose_Tier_I</choiceReferences>
            <choiceReferences>Choose_Tier_II</choiceReferences>
            <choiceReferences>Choose_Tier_III</choiceReferences>
            <choiceReferences>Choose_Tier_IV</choiceReferences>
            <choiceReferences>No_Finance_Approver_Needed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Notifiers</name>
        <label>Select Notifiers</label>
        <locationX>2206</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notifiers_Needed_Check</targetReference>
        </connector>
        <fields>
            <name>YesOrNoNotify</name>
            <fieldText>Do you need to select users to notify about this eGreensheet?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotifiersSelection</name>
            <choiceReferences>EGBA_Yes</choiceReferences>
            <choiceReferences>EGBA_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_PA_Tier</name>
        <label>Select PA Tier</label>
        <locationX>1816</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PS_Approvers_Product</targetReference>
        </connector>
        <fields>
            <name>DisplayOverallTierPA</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The overall approval level for this eGreensheet is &lt;B&gt;{!v_TierInEgreensheet}.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;What Approval Level do you need for &lt;B&gt;Product Approvers&lt;/B&gt;?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PAApproverLevels</name>
            <choiceReferences>Choose_Tier_0</choiceReferences>
            <choiceReferences>Choose_Tier_I</choiceReferences>
            <choiceReferences>Choose_Tier_II</choiceReferences>
            <choiceReferences>Choose_Tier_III</choiceReferences>
            <choiceReferences>Choose_Tier_IV</choiceReferences>
            <choiceReferences>No_Product_Approver_Needed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningBeforeNext</name>
        <label>WarningBeforeNext</label>
        <locationX>2416</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Approvers</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>Warning: If you click Next the approvers will be created. Please click Previous if any further adjustments need to be made.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningBeforeNext_0</name>
        <label>WarningBeforeNext</label>
        <locationX>2351</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Approvers_0</targetReference>
        </connector>
        <fields>
            <name>WarningMessage_0</name>
            <fieldText>Warning: If you click Next the approvers will be created. Please click Previous if any further adjustments need to be made.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>eGreensheet_Lookup_Details</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AppHistoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproversListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>BusApproversList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>BusinessApproverSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ConApproversList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>ContractApproverSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>Final_Business_Selected_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>FinalApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>FinalList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>FinanceApproverSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>FinApproversList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <description>This parameter is a concatenation of eg ID and Tier Chosen separated by a comma to send to the invocable method</description>
        <name>InvocableParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotificationApproverSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>NotificationListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Workflow_Notification_History__c</objectType>
    </variables>
    <variables>
        <name>NotifiersList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Workflow_Notification_History__c</objectType>
    </variables>
    <variables>
        <name>ocv_NotificationUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_Notification</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_ProductSBU_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_SalesChannel_App_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_SalesChannel_App_Finance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_SalesChannel_App_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ocv_SEA_SalesChannel_Approvers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <description>This ocv is an output of an invocable apex class</description>
        <name>ocv_ValidProductApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ov_ProductApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <description>List of business approvers chosen</description>
        <name>ovc_Approvers_Chosen_Aero</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>ProdApproversList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>Product_SBU_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductApproverSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <description>Holds the eGreensheet record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedApprovers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkFlow_Approval_History__c</objectType>
    </variables>
    <variables>
        <name>SelectedApprovers_parsed</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedBusinessApprovers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedContractorApprovers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDatatableApprovers_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>selectedDataTableBusinessApp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>selectedDataTableContractAp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>selectedDataTableFinanceApp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>selectedDataTableNotification</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Approver__c</objectType>
    </variables>
    <variables>
        <name>SelectedFinanceApprovers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedNotifiers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProductApprovers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_ApproverType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_eG_ProductSBU</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sales Channel selected during eGreensheet process</description>
        <name>v_eG_SalesChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_eGreensheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_SEAApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_TierForApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_TierInEgreensheet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
