src/flows/ERM_Update_Event_Host.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FillIdtoUpdate</name>
        <label>FillIdtoUpdate</label>
        <locationX>32</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>IdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updateid</name>
        <label>Updateid</label>
        <locationX>539</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>IdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_Host_is_null</name>
        <label>Event Host is null</label>
        <locationX>290</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Host is not null</defaultConnectorLabel>
        <rules>
            <name>Host_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event.Event_Host__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Account</targetReference>
            </connector>
            <label>Host is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_CT_Head_email_Null</name>
        <label>is CT Head email Null</label>
        <locationX>293</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>aaa</defaultConnectorLabel>
        <rules>
            <name>CT_Head_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.CTHeadEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FillIdtoUpdate</targetReference>
            </connector>
            <label>CT Head is null</label>
        </rules>
        <rules>
            <name>CT_Head_Email_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.CTHeadEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_User</targetReference>
            </connector>
            <label>CT Head Email is not null</label>
        </rules>
    </decisions>
    <description>Deleted the notification</description>
    <interviewLabel>ERM Update Event Host {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERM Update Event Host</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>0</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Host_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Event__c</object>
        <outputAssignments>
            <assignToReference>Event.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event.CreatedById</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Event.Event_Host__c</assignToReference>
            <field>Event_Host__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Account</name>
        <label>Query Account</label>
        <locationX>289</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_CT_Head_email_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account.CTHeadEmail__c</assignToReference>
            <field>CTHeadEmail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_User</name>
        <label>Query User</label>
        <locationX>290</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updateid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.CTHeadEmail__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>302</locationX>
        <locationY>541</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Host__c</field>
            <value>
                <elementReference>IdtoUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Event__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Event_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CTHeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event__c</objectType>
    </variables>
    <variables>
        <name>IdtoUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
