src/flows/GDMFSL_Required_Resource_Subcontractor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Required_Resource</name>
        <label>Assign Required Resource</label>
        <locationX>1098</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>vRequiredResource.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Rule.GDMFSL_Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRequiredResource.PreferenceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRequiredResource.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Required_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Updates</name>
        <label>Assign WO Updates</label>
        <locationX>465</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>vWorkOrderUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vWorkOrderUpdate.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_STM.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_Service_Territory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Resources_to_Delete</name>
        <label>Existing Resources to Delete?</label>
        <locationX>840</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Assign_Required_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fExistingRequiredResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Required_Resources</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Service_Territory</name>
        <label>Found Service Territory?</label>
        <locationX>659</locationX>
        <locationY>669</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_STM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Updates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Resource</name>
        <label>Has Service Resource?</label>
        <locationX>510</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Rule.GDMFSL_Service_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Non_Resident_PM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Non_Resident_PM</name>
        <label>Is Non-Resident PM?</label>
        <locationX>674</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NRPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI.WorkType.GDMFSL_WorkType_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.MaintenancePlan.ServiceContract.GDMFSL_Site_Resident_Labour_Present__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_Resources</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the Service Resource.</description>
    <formulas>
        <name>fIsNonResidentPM</name>
        <dataType>Boolean</dataType>
        <expression>AND(
     {!Get_WOLI.WorkOrder.Work_Type_Category__c} = &apos;PM&apos;,
     OR(
          ISBLANK({!Get_WOLI.WorkOrder.ServiceContractId}),
          NOT({!Get_WOLI.WorkOrder.ServiceContract.GDMFSL_Site_Resident_Labour_Present__c})
     )
)</expression>
    </formulas>
    <interviewLabel>GDMFSL Required Resource Subcontractor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Required Resource Subcontractor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Required_Resource</name>
        <label>Create Required Resource</label>
        <locationX>1098</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Get_Primary_STM</targetReference>
        </connector>
        <inputReference>vRequiredResource</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Required_Resources</name>
        <label>Delete Existing Required Resources</label>
        <locationX>847</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Assign_Required_Resource</targetReference>
        </connector>
        <inputReference>fExistingRequiredResources</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Service Territory Member</description>
        <name>Get_Primary_STM</name>
        <label>Get Primary STM</label>
        <locationX>838</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Service_Territory</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Rule.GDMFSL_Service_Resource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_Resources</name>
        <label>Get Required Resources</label>
        <locationX>681</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Resources_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>fExistingRequiredResources</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>191</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Rule</name>
        <label>Get Work Rule</label>
        <locationX>357</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WOLI.MaintenanceWorkRuleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MaintenanceWorkRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_Service_Territory</name>
        <label>Update WO Service Territory</label>
        <locationX>342</locationX>
        <locationY>667</locationY>
        <inputReference>vWorkOrderUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fExistingRequiredResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <description>Work Order Line Item record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequiredResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>vWorkOrderUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
