src/flows/GDMFSL_Integration_Timesheet_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CheckIfBurdenEntry</name>
        <label>CheckIfBurdenEntry</label>
        <locationX>822</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsBurden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTSERecord.GDMFSL_Is_Burden_Entry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTSERecord.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallBurdenFlow</targetReference>
            </connector>
            <label>IsBurden</label>
        </rules>
        <rules>
            <name>LaborORTravel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetTSERecord.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTSERecord.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallLabor_TravelFlow</targetReference>
            </connector>
            <label>LaborORTravel</label>
        </rules>
        <rules>
            <name>IsAllowance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTSERecord.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllowanceFlow</targetReference>
            </connector>
            <label>IsAllowance</label>
        </rules>
    </decisions>
    <decisions>
        <description>to check if the flow was executed when TS was approved or it was invoked from TSE UI</description>
        <name>CheckIfFromTSApprovalORTSE</name>
        <label>CheckIfFromTSApprovalORTSE</label>
        <locationX>197</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>GetTSERecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From TSEUI</defaultConnectorLabel>
        <rules>
            <name>FromTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Burden_Subflow</targetReference>
            </connector>
            <label>FromTS</label>
        </rules>
    </decisions>
    <interviewLabel>GDMFSL_Integration_Timesheet_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL_Integration_Timesheet_MAIN_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTSERecord</name>
        <label>GetTSERecord</label>
        <locationX>776</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfBurdenEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSEId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>65</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>CheckIfFromTSApprovalORTSE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AllowanceFlow</name>
        <label>AllowanceFlow</label>
        <locationX>1075</locationX>
        <locationY>480</locationY>
        <flowName>GDMFSL_Integration_Timesheet_Allowance_flow</flowName>
        <inputAssignments>
            <name>TSEUIID</name>
            <value>
                <elementReference>TSEId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Burden_Subflow</name>
        <label>Call Burden Subflow</label>
        <locationX>206</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Call_Labor_and_Travel_Logic</targetReference>
        </connector>
        <flowName>GDMFSL_Integration_Timesheet_Burden_flow</flowName>
        <inputAssignments>
            <name>TSID</name>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Labor_and_Travel_Logic</name>
        <label>Call Labor and Travel Logic</label>
        <locationX>206</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>CallAllowanceFlow</targetReference>
        </connector>
        <flowName>GDMFSL_Integration_Timesheet_Labor_Travel_Flow</flowName>
        <inputAssignments>
            <name>TSID</name>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CallAllowanceFlow</name>
        <label>CallAllowanceFlow</label>
        <locationX>209</locationX>
        <locationY>710</locationY>
        <flowName>GDMFSL_Integration_Timesheet_Allowance_flow</flowName>
        <inputAssignments>
            <name>TSID</name>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CallBurdenFlow</name>
        <label>CallBurdenFlow</label>
        <locationX>874</locationX>
        <locationY>605</locationY>
        <flowName>GDMFSL_Integration_Timesheet_Burden_flow</flowName>
        <inputAssignments>
            <name>TSEUIID</name>
            <value>
                <elementReference>TSEId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CallLabor_TravelFlow</name>
        <label>CallLabor&amp;TravelFlow</label>
        <locationX>649</locationX>
        <locationY>512</locationY>
        <flowName>GDMFSL_Integration_Timesheet_Labor_Travel_Flow</flowName>
        <inputAssignments>
            <name>TSEUIRecordId</name>
            <value>
                <elementReference>TSEId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>TS-ID</description>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
