src/flows/GDMFSL_Profit_Center_Before_Update_OR_Insert_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>349</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Profit_Center_External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Field_Change</name>
        <label>Field Change?</label>
        <locationX>166</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>168</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Field_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <description>Profit Center before Insert or Update triggers</description>
    <interviewLabel>Profit Center | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Profit Center | Before Update OR Insert Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <object>GDMFSL_Profit_Center__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
