src/flows/GDMFSL_Create_Case_from_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Automatic_Case_Fields</name>
        <label>Set Automatic Case Fields</label>
        <locationX>616</locationX>
        <locationY>1957</locationY>
        <assignmentItems>
            <assignToReference>newCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contract.GDMFSL_Bill_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Ship_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location.GDMFSL_Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Sold_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contract.GDMFSL_Sold_To_Source_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Bill_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contract.GDMFSL_Bill_To_Source_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Values</name>
        <label>Set Case Values</label>
        <locationX>616</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>newCase.GDMFSL_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.Site_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedSiteContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Automatic_Case_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceSiteContactNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Authorized_Caller</name>
        <label>Check Authorized Caller</label>
        <locationX>616</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Create_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorized Caller Not Required</defaultConnectorLabel>
        <rules>
            <name>AuthorizedCallerRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Relationship</targetReference>
            </connector>
            <label>Authorized Caller Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Caller_Authorized</name>
        <label>Is Caller Authorized</label>
        <locationX>440</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Not_authorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caller is Not Authorized</defaultConnectorLabel>
        <rules>
            <name>Caller_is_Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Relationship.GDMFSL_Is_Authorized_Caller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_0</targetReference>
            </connector>
            <label>Caller is Authorized</label>
        </rules>
    </decisions>
    <description>DTXFSL-8981 - Site Contact should NOT be a mandatory choice option</description>
    <dynamicChoiceSets>
        <name>AssociatedContractList</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contract_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_ContractActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GDMFSL_Associated_Contract__c</object>
        <outputAssignments>
            <assignToReference>newCase.ServiceContractId</assignToReference>
            <field>Service_Contract__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contract_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Site_Contact_List</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_IsSiteContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>SelectedSiteContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>GDMFSL Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Create Case from Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>616</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Relationship</name>
        <label>Get Account Relationship</label>
        <locationX>440</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Caller_Authorized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>616</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>616</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Authorized_Caller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GDMFSL_Service Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Contract</name>
        <label>Get Selected Contract</label>
        <locationX>616</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCase.ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Bill_to_Account__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>GDMFSL_Bill_To_Source_System__c</queriedFields>
        <queriedFields>GDMFSL_Sold_To_Source_System__c</queriedFields>
        <queriedFields>GDMFSL_Bill_To_Account_Number__c</queriedFields>
        <queriedFields>GDMFSL_Sold_To_Account_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Created</name>
        <label>Case Created</label>
        <locationX>616</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseConfirmation</name>
            <fieldText>&lt;p&gt;Case {!Get_New_Case.CaseNumber} was created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>616</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Contract</targetReference>
        </connector>
        <fields>
            <name>Caller</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Caller:&lt;/b&gt; {!Get_Contact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Contact_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Site Contact: &lt;/b&gt;{!Site_Contact}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Contract</name>
            <choiceReferences>AssociatedContractList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Contract</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PO</name>
            <dataType>String</dataType>
            <fieldText>PO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseReason</name>
            <choiceReferences>CaseReasonsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>616</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Caller_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Caller:&lt;/b&gt; {!Get_Contact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Contact</name>
            <choiceReferences>Site_Contact_List</choiceReferences>
            <choiceReferences>ChoiceSiteContactNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Site Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>968</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;The case was not created due to the following error:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_authorized</name>
        <label>Not authorized</label>
        <locationX>528</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_authorized_text</name>
            <fieldText>&lt;p&gt;{!NotAuthorizedText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate</name>
        <label>Validate</label>
        <locationX>616</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>ValidateLabel</name>
            <fieldText>&lt;p&gt;Please validate the details are correct, then click on Next to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Location&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!Get_Location.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Site Contact&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!Site_Contact}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Service Contract&lt;/b&gt;: {!Service_Contract}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Subject&lt;/b&gt;: {!newCase.Subject}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Description&lt;/b&gt;: {!newCase.Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotAuthorizedText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are not authorized to create a service case, please contact your Honeywell Contract lead to request a service case.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AuthorizedCallerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AuthorizedCallers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSiteContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
