src/flows/GDMFSL_Phone_Resolution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1379</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>currSA.ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolutionDurationPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Resolution_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Reason_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Resolution_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Resolved_By_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startTimeResolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone Resolution</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1766</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>fifteenOption</name>
        <choiceText>15 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>thirityOption</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;30 &lt;/span&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Minutes&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Assess_Status</name>
        <label>Assess Status</label>
        <locationX>1379</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Phone_Resolution_Not_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wrong Status</defaultConnectorLabel>
        <rules>
            <name>Debrief_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedWO.GDMFSL_Resolved_By_Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debrief_Completed_Screen</targetReference>
            </connector>
            <label>Debrief Completed</label>
        </rules>
        <rules>
            <name>Allowed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWorkType.GDMFSL_WorkType_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Resolution_Screen</targetReference>
            </connector>
            <label>Allowed Status</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>resolutionReasonOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Resolution_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>startTimeResolution</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - ({!ResolutionDurationPicklist}/ 1440)</expression>
    </formulas>
    <interviewLabel>GDMFSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Phone Resolution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Retrieves the current Service Appointment</description>
        <name>Get_Current_SA</name>
        <label>Get Current SA</label>
        <locationX>1379</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>currSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>GDMFSL_Resolution_Reason__c</queriedFields>
        <queriedFields>GDMFSL_Resolution_Notes__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Work_Order</name>
        <label>Get Related Work Order</label>
        <locationX>1379</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currSA.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>relatedWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Resolved_By_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Related Work Type</description>
        <name>Get_Related_Work_Type</name>
        <label>Get Related Work Type</label>
        <locationX>1379</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currSA.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>currentWorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_WorkType_Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Status</name>
        <label>Complete Status</label>
        <locationX>2065</locationX>
        <locationY>1143</locationY>
        <inputReference>currSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1379</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputReference>currSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1379</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <inputReference>relatedWO</inputReference>
    </recordUpdates>
    <screens>
        <name>Debrief_Completed_Screen</name>
        <label>Debrief Completed</label>
        <locationX>2092</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Debrief_Completed_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Debrief has already been completed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for Invalid Phone Resolution Criteria</description>
        <name>Phone_Resolution_Not_Allowed</name>
        <label>Phone Resolution Not Allowed</label>
        <locationX>2095</locationX>
        <locationY>679</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidPhoneResolutionDisplat</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This service request does not meet the criteria to be resolved &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Phone_Resolution_Screen</name>
        <label>Phone Resolution</label>
        <locationX>1135</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>ResolutionDurationPicklist</name>
            <choiceReferences>fifteenOption</choiceReferences>
            <choiceReferences>thirityOption</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Resolution Duration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Resolution_Reason_Picklist</name>
            <choiceReferences>resolutionReasonOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Notes</name>
            <fieldText>Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1253</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Work Type Record</description>
        <name>currentWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>currSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
