src/flows/GDMFSL_Send_SMS_Bulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_SMS_Message</name>
        <label>Send SMS Message</label>
        <locationX>631</locationX>
        <locationY>212</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>SMS_Messages</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>SMS_Messages.contextRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Get_SMS_Channel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>SMS_Messages.messagingTempateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>SMS_Messages.phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>SMS_Messages.userId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>GDMFSL_Send_SMS_Bulk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL_Send_SMS_Bulk</label>
    <loops>
        <name>SMS_Messages</name>
        <label>SMS Messages</label>
        <locationX>378</locationX>
        <locationY>213</locationY>
        <collectionReference>vSMSMessageRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_SMS_Message</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SMS_Channel</name>
        <label>Get SMS Channel</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_Messages</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SMS_Channel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vSMSMessageRecipients</name>
        <apexClass>GDMFSL_SMSMessageRecipient</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
