src/flows/GDMFSL_Collect_Readings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignReading</name>
        <label>AssignReading</label>
        <locationX>775</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Reading_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reading_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_of_Measure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reading_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reading_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currWOLI.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currWorkStep.WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currAssetReading.GDMFSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currWOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignReadingToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the single reading to the reading collection</description>
        <name>AssignReadingToCollection</name>
        <label>AssignReadingToCollection</label>
        <locationX>775</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>newCollectionAssetReadings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currAssetReading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenAddMoreReadings</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>MoreReadingsNeeded</name>
        <label>MoreReadingsNeeded</label>
        <locationX>418</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>CreateAssetReadings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShowYesNoChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Asset_Reading</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Antje: Called by Worksteps as action definition, added collection screen Ron and Antje update for WO</description>
    <dynamicChoiceSets>
        <name>pcklstReadingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Reading_Type__c</picklistField>
        <picklistObject>GDMFSL_Asset_Reading__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklstUnitofMeasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Unit_of_Measure__c</picklistField>
        <picklistObject>GDMFSL_Asset_Reading__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GDMFSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Collect Readings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateAssetReadings</name>
        <label>CreateAssetReadings</label>
        <locationX>424</locationX>
        <locationY>1039</locationY>
        <connector>
            <targetReference>ScreenConfirmationAssetReadingCreation</targetReference>
        </connector>
        <inputReference>newCollectionAssetReadings</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetWOLI</name>
        <label>GetWOLI</label>
        <locationX>777</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Asset_Reading</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currWorkStep.WorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>currWOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetWorkstep</name>
        <label>GetWorkstep</label>
        <locationX>777</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>currWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Collect_Asset_Reading</name>
        <label>Collect Asset Reading</label>
        <locationX>775</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignReading</targetReference>
        </connector>
        <fields>
            <name>Reading_Type</name>
            <choiceReferences>pcklstReadingType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reading Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reading_Value</name>
            <dataType>Number</dataType>
            <fieldText>Reading Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Unit_of_Measure</name>
            <choiceReferences>pcklstUnitofMeasure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit of Measure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reading_Comments</name>
            <fieldText>Reading Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The inserted comment text is longer than the allowed length.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Reading_Comments})  &lt;= 4000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAddMoreReadings</name>
        <label>ScreenAddMoreReadings</label>
        <locationX>772</locationX>
        <locationY>1085</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MoreReadingsNeeded</targetReference>
        </connector>
        <fields>
            <name>ShowTextQuestion</name>
            <fieldText>&lt;p&gt;Do you need to add more readings?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowYesNoChoice</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConfirmationAssetReadingCreation</name>
        <label>ScreenConfirmationAssetReadingCreation</label>
        <locationX>424</locationX>
        <locationY>1263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowConfirmationCreation</name>
            <fieldText>&lt;p&gt;The Asset Readings have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetWorkstep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>one single Asset Reading</description>
        <name>currAssetReading</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Asset_Reading__c</objectType>
    </variables>
    <variables>
        <name>currWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCollectionAssetReadings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Asset_Reading__c</objectType>
    </variables>
</Flow>
