src/flows/GDMFSL_Resource_Absence_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>573</locationX>
        <locationY>615</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Post_Body_Content</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>427</locationX>
        <locationY>736</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Is_Insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>GDMFSL_Resource_Absence_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Duration</name>
        <label>Assign Duration</label>
        <locationX>166</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>vStandardWorkdayDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_STM.ServiceTerritory.GDMFSL_Standard_Workday_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Emergency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store start and end dates in variables</description>
        <name>Assign_Startdate_and_Enddate</name>
        <label>Assign Startdate and Enddate</label>
        <locationX>999</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>loopStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startOnlyDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endOnlyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDMFSL_Same_day_absence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GDMFSL_Update_loopStartDate</name>
        <label>Update loopStartDate</label>
        <locationX>1153</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>loopStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopStartDatePlusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDMFSL_Loop_through_dates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Change</name>
        <label>Approval Change?</label>
        <locationX>713</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Newly_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RA_Timesheet_Entry</targetReference>
            </connector>
            <label>Yes - Approved</label>
        </rules>
        <rules>
            <name>Yes_Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Timesheet_Entries</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved</name>
        <label>Approved?</label>
        <locationX>853</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Startdate_and_Enddate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_singleday_timesheet</name>
        <label>Check singleday timesheet</label>
        <locationX>1733</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>GDMFSL_Create_sameday_timesheet_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isTimesheetExists</defaultConnectorLabel>
        <rules>
            <name>isSingleDayTimesheetNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curTimesheetRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_singleday_timesheet</targetReference>
            </connector>
            <label>isSingleDayTimesheetNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Timesheet_Entries</name>
        <label>Found Timesheet Entries?</label>
        <locationX>847</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Timesheet_Entries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GDMFSL_Loop_through_dates</name>
        <label>Loop through dates</label>
        <locationX>1144</locationX>
        <locationY>781</locationY>
        <defaultConnectorLabel>Iterations not available</defaultConnectorLabel>
        <rules>
            <name>Iterations_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_multiday_timesheet</targetReference>
            </connector>
            <label>Iterations available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether absence create is same day absence</description>
        <name>GDMFSL_Same_day_absence</name>
        <label>Same day absence</label>
        <locationX>1141</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>GDMFSL_Loop_through_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Day</defaultConnectorLabel>
        <rules>
            <name>SameDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopStartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Singleday_timesheet</targetReference>
            </connector>
            <label>SameDay</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check is timesheet is available</description>
        <name>GDMFSL_Timesheet_availability</name>
        <label>Timesheet availability</label>
        <locationX>1507</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>GDMFSL_Create_timesheet_entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>timesheetExists</defaultConnectorLabel>
        <rules>
            <name>Check_Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Saturday&quot;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Sunday&quot;</stringValue>
                </rightValue>
            </conditions>
            <label>Check Weekend</label>
        </rules>
        <rules>
            <name>timesheetNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTimesheetNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDMFSL_Create_multiday_Timesheet</targetReference>
            </connector>
            <label>timesheetNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Emergency</name>
        <label>Is Emergency?</label>
        <locationX>278</locationX>
        <locationY>617</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GDMFSL_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Break</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Non_Break</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Break</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process</targetReference>
            </connector>
            <label>No - Non-Break</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert</name>
        <label>Is Insert?</label>
        <locationX>704</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>Approval_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Approval</name>
        <label>Needs Approval?</label>
        <locationX>416</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Is_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vApprovalProcessStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_STM_Found</name>
        <label>Primary STM Found?</label>
        <locationX>50</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Is_Emergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_STM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_STM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if it is of type Break. In that case do not continue</description>
        <name>Resource_Absence_Type</name>
        <label>Resource Absence Type</label>
        <locationX>441</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Break_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Break</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Non - Break Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Sheet_Entry_Exists</name>
        <label>Time Sheet Entry Exists?</label>
        <locationX>991</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Assign_Startdate_and_Enddate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RA_Timesheet_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Defect 9449 - Added safety check for &quot;only execute if RA is not of record type Break&quot;
DTXFSL-9585: Include TS Status consideration</description>
    <formulas>
        <name>day</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD({!loopStartDate} - DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <formulas>
        <name>endOnlyDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!originalEndDateTime})</expression>
    </formulas>
    <formulas>
        <name>ftimesheetentryfinish</name>
        <dataType>String</dataType>
        <expression>&apos;Timesheet finish is &apos; &amp; TEXT({!timesheetEntryFinish})</expression>
    </formulas>
    <formulas>
        <name>isTimesheetNull</name>
        <dataType>Boolean</dataType>
        <expression>if({!curTimesheetRecord.Id} = NULL, true, false)</expression>
    </formulas>
    <formulas>
        <description>Add 1 day in start date to loop through</description>
        <name>loopStartDatePlusOne</name>
        <dataType>Date</dataType>
        <expression>{!loopStartDate} + 1</expression>
    </formulas>
    <formulas>
        <name>Post_Body_Content</name>
        <dataType>String</dataType>
        <expression>&apos;@[&apos; +  {!$Record.GDMFSL_Manager__c}  + &apos;] An Emergency Absence was created for &apos; + {!theSR.Name} + &apos; from &apos; + {!RAStartDate}  + &apos; &apos; + {!RAStartTime} + &apos; to &apos; + {!RAEndDate} + &apos; &apos; + {!RAEndTime} + &apos; (&apos; + {!SRTimeZone} + &apos;).&apos;</expression>
    </formulas>
    <formulas>
        <name>RAEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE( {!$Record.End} + ({!UserTimezoneOffset}/24) ))</expression>
    </formulas>
    <formulas>
        <name>RAEndTime</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE( MID( TEXT( {!$Record.End} + ({!UserTimezoneOffset}/24) ), 12, 2 ) ))
&amp; &quot;:&quot; &amp; 
MID( TEXT( {!$Record.End} + ({!UserTimezoneOffset}/24) ), 15, 2 )</expression>
    </formulas>
    <formulas>
        <name>RAStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE( {!$Record.Start} + ({!UserTimezoneOffset}/24) ))</expression>
    </formulas>
    <formulas>
        <name>RAStartTime</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE( MID( TEXT( {!$Record.Start} + ({!UserTimezoneOffset}/24) ), 12, 2 ) ))
&amp; &quot;:&quot; &amp; 
MID( TEXT( {!$Record.Start} + ({!UserTimezoneOffset}/24) ), 15, 2 )</expression>
    </formulas>
    <formulas>
        <name>SRTimeZone</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Resource.RelatedRecord.TimeZoneSidKey})</expression>
    </formulas>
    <formulas>
        <name>startOnlyDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!originalStartDateTime})</expression>
    </formulas>
    <formulas>
        <name>timesheetEntryFinish</name>
        <dataType>DateTime</dataType>
        <expression>{!timesheetEntryStart} + (BLANKVALUE({!vStandardWorkdayDuration},480) / 1440)</expression>
    </formulas>
    <formulas>
        <name>timesheetEntryStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!loopStartDate})+&quot; &quot; +&apos;13:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>UserTimezoneOffset</name>
        <dataType>Number</dataType>
        <expression>(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 00:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 01:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 02:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 03:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 04:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 05:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 06:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 07:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 08:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 09:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 10:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 11:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 12:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 13:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 14:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 15:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 16:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 17:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 18:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 19:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 20:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 21:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 22:00:00&quot;)) - TODAY()) + 
(DATEVALUE(DATETIMEVALUE(TEXT(TODAY())+&quot; 23:00:00&quot;)) - TODAY())</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>GDMFSL Resource Absence | After Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Resource Absence | After Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_singleday_timesheet</name>
        <label>Create singleday timesheet</label>
        <locationX>1510</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Get_Singleday_timesheet</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>theSR.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create timesheet if not exist for defined day</description>
        <name>GDMFSL_Create_multiday_Timesheet</name>
        <label>Create multiday Timesheet</label>
        <locationX>1618</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Get_multiday_timesheet</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>theSR.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create timesheet entry for the timesheet</description>
        <name>GDMFSL_Create_sameday_timesheet_entry</name>
        <label>Create sameday  timesheet entry</label>
        <locationX>1986</locationX>
        <locationY>588</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Burden_Code__c</field>
            <value>
                <elementReference>$Record.GDMFSL_Burden_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Classification__c</field>
            <value>
                <stringValue>Burden</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Region__c</field>
            <value>
                <elementReference>theSR.GDMFSL_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Resource_Absence__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.AbsenceNumber}-Absence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>curTimesheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>PT</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create timesheet entry for multiple day entry</description>
        <name>GDMFSL_Create_timesheet_entry</name>
        <label>Create timesheet entry</label>
        <locationX>1316</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>GDMFSL_Update_loopStartDate</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>timesheetEntryFinish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Burden_Code__c</field>
            <value>
                <elementReference>$Record.GDMFSL_Burden_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Classification__c</field>
            <value>
                <stringValue>Burden</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Region__c</field>
            <value>
                <elementReference>$Record.GDMFSL_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Resource_Absence__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>timesheetEntryStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.AbsenceNumber}-Absence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>curTimesheetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>PT</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Timesheet_Entries</name>
        <label>Delete Timesheet Entries</label>
        <locationX>1016</locationX>
        <locationY>50</locationY>
        <inputReference>TimesheetEntries</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Approval_Process</name>
        <label>Approval Process</label>
        <locationX>287</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>vApprovalProcessStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Timesheet_Entries</name>
        <label>Get Existing Timesheet Entries</label>
        <locationX>721</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Timesheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Resource_Absence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimesheetEntries</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_multiday_timesheet</name>
        <label>Get multiday timesheet</label>
        <locationX>1400</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GDMFSL_Timesheet_availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>curTimesheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_STM</name>
        <label>Get Primary STM</label>
        <locationX>57</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_STM_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RA_Timesheet_Entry</name>
        <label>Get RA Timesheet Entry</label>
        <locationX>997</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Sheet_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Resource_Absence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>243</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_STM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>theSR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>GDMFSL_Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Singleday_timesheet</name>
        <label>Get Singleday timesheet</label>
        <locationX>1320</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_singleday_timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>curTimesheetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>121</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Resource_Absence_Type</targetReference>
        </connector>
        <object>ResourceAbsence</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>curTimesheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>emailaddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>originalEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.End</elementReference>
        </value>
    </variables>
    <variables>
        <name>originalStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Start</elementReference>
        </value>
    </variables>
    <variables>
        <name>theSR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>TimesheetEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>vApprovalProcessStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Standard Workday Duration in hours</description>
        <name>vStandardWorkdayDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </variables>
</Flow>
