src/flows/GDMFSL_Active_Inactive_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_to_Fetch_List_of_SA_Assigned</name>
        <label>Apex to Fetch List of SA Assigned</label>
        <locationX>207</locationX>
        <locationY>292</locationY>
        <actionName>GDMFSL_FlowHandlerDeactivateSR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_of_Total_InProgress_Appointments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstAssignedResource</name>
            <value>
                <elementReference>FetchedAssignedResource</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FetchAllServiceAppointment</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Total Count of Asset Resource Preference for Current Resource</description>
        <name>Count_of_Asset_Preferred_Resource</name>
        <label>Count of Asset Preferred Resource</label>
        <locationX>661</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>Count_AssetResourcePreference</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FetchedAssetResourcePreference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Resource_Being_Referred</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Total Count where Resource is Preferred Resource for Locations</description>
        <name>Count_of_Location_Preferred</name>
        <label>Count of Location Preferred</label>
        <locationX>415</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>Count_LocationResource_Preference</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FetchedLocationResourcePreference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Resource_Preference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count of Total InProgress Appointments</description>
        <name>Count_of_Total_InProgress_Appointments</name>
        <label>Count of Total InProgress Appointments</label>
        <locationX>206</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>CountTotal_ServiceAppointment</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FetchAllServiceAppointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_Preferred_Resource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if currently Resource is Active Or Inactive</description>
        <name>Active_or_Inactive</name>
        <label>Active or Inactive</label>
        <locationX>843</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Set_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Inactive</defaultConnectorLabel>
        <rules>
            <name>If_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resource</targetReference>
            </connector>
            <label>If Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current Resource has any Assignments</description>
        <name>Has_Assignments</name>
        <label>Has Assignments</label>
        <locationX>506</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Get_Location_Preferred_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has No Assignments</defaultConnectorLabel>
        <rules>
            <name>Has_Assigned_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_to_Fetch_List_of_SA_Assigned</targetReference>
            </connector>
            <label>Has Assigned Appointments</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current resource is assigned as preferred resource for Asset</description>
        <name>Is_Current_Resource_Assigned_Asset</name>
        <label>Is Current Resource Assigned</label>
        <locationX>651</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>Is_Resource_Being_Referred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Is_Assigned_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedAssetResourcePreference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_of_Asset_Preferred_Resource</targetReference>
            </connector>
            <label>Is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is current Resource Assigned as a preferred Resource for Locations</description>
        <name>Is_Current_Resource_Assigned_Location</name>
        <label>Is Current Resource Assigned</label>
        <locationX>407</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_Resource_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Is_Preferred_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchedLocationResourcePreference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_of_Location_Preferred</targetReference>
            </connector>
            <label>Is Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <description>Final Decision to make sure to allow deactivation or not</description>
        <name>Is_Resource_Being_Referred</name>
        <label>Is Resource Being Referred</label>
        <locationX>815</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>DeActivate_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivation Update</defaultConnectorLabel>
        <rules>
            <name>Resource_being_Referred</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Count_AssetResourcePreference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_LocationResource_Preference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountTotal_ServiceAppointment</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_with_Violation</targetReference>
            </connector>
            <label>Resource being Referred</label>
        </rules>
    </decisions>
    <description>Flow to Activate and DeActivate Service Resource</description>
    <interviewLabel>Active Inactive Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Active Inactive Service Resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the records of Asset Resource Preference for current resource</description>
        <name>Get_Asset_Resource_Preference</name>
        <label>Get Asset Resource Preference</label>
        <locationX>660</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Current_Resource_Assigned_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Asset_Resource_Preference__c</object>
        <outputReference>FetchedAssetResourcePreference</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Assigned Resource Related List of the Current Resource</description>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>513</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>FetchedAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Service Resource from where the flow is Initiated</description>
        <name>Get_Current_Service_Resource</name>
        <label>Get Current Service Resource</label>
        <locationX>850</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_or_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>CurrentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Location Preferred Resource where current Resource is Assigned</description>
        <name>Get_Location_Preferred_Resource</name>
        <label>Get Location Preferred Resource</label>
        <locationX>515</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Current_Resource_Assigned_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Location_Resource_Preference__c</object>
        <outputReference>FetchedLocationResourcePreference</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DeActivate_Resource</name>
        <label>DeActivate Resource</label>
        <locationX>827</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Final_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Engineer as Active if its Inactive</description>
        <name>Set_Active</name>
        <label>Set Active</label>
        <locationX>1009</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Activation_Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <screens>
        <description>Resource Activated Screen</description>
        <name>Activation_Successful</name>
        <label>Activation Successful</label>
        <locationX>1178</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActivationMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!CurrentServiceResource.Name} has been activated successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Final Message cannot Deactivate</description>
        <name>Final_Screen_with_Violation</name>
        <label>Final Screen with Violation</label>
        <locationX>1185</locationX>
        <locationY>824</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(228, 95, 8);&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 12px; color: rgb(238, 11, 11);&quot;&gt;Cannot Deactivate {!CurrentServiceResource.Name} as it has dependent assignments as below :﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceAppointmentMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Count of InProgress Service Appointments  : {!CountTotal_ServiceAppointment}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountTotal_ServiceAppointment</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LocationPreferenceMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Count of Locations where Resource is Preferred : {!Count_LocationResource_Preference}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count_LocationResource_Preference</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssetResourceMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Count of Assets where Resource is Preferred : {!Count_AssetResourcePreference}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count_AssetResourcePreference</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Success_Message</name>
        <label>Final Success Message</label>
        <locationX>1175</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Deactivation_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!CurrentServiceResource.Name} is Deactivated Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>724</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_Current_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Total Count for Asset Resource Preference</description>
        <name>Count_AssetResourcePreference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>To hold total count for Location Resource Preference</description>
        <name>Count_LocationResource_Preference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>To hold count of total Service Appointments</description>
        <name>CountTotal_ServiceAppointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Hold the current Service Resource Record</description>
        <name>CurrentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <description>Fetch the List received as an output from Apex Class</description>
        <name>FetchAllServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Fetched Asset Resource Preference</description>
        <name>FetchedAssetResourcePreference</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Asset_Resource_Preference__c</objectType>
    </variables>
    <variables>
        <description>Stores all the Assignments of the current Resource</description>
        <name>FetchedAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <description>Fetched Location Resource Preference Record for Current Resource</description>
        <name>FetchedLocationResourcePreference</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Location_Resource_Preference__c</objectType>
    </variables>
    <variables>
        <description>Fetch the Service Appointment</description>
        <name>FetchedServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Current Service Resource Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
