src/flows/GDMFSL_Scan_Work_Order_Asset_DESKTOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Add_Asset_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Asset_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asset_Already_Exists</name>
        <label>Asset Already Exists?</label>
        <locationX>651</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Asset_Not_Found_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetDigitalId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Digital_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Asset_to_WO_if_it_is_not_yet_linked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Break_Fix</name>
        <label>Is Break Fix?</label>
        <locationX>267</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Not_Break_Fix_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Break_Fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varServiceAppointment.WorkType.GDMFSL_WorkType_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scan_an_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Antje: Fix for not created WOLI</description>
    <interviewLabel>GDMFSL Scan Work Order Asset DESKTOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Scan Work Order Asset DESKTOP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>469</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Digital_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Digital_Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varAssetDigitalId</assignToReference>
            <field>GDMFSL_Digital_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Break_Fix_Work_Type_Id</name>
        <label>Get Break Fix Work Type Id</label>
        <locationX>86</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Break_Fix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>varWorkTypeBreakFixId</assignToReference>
            <field>GDMFSL_WorkType_Category__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_WO</name>
        <label>Get Parent WO</label>
        <locationX>80</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Break_Fix_Work_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>varParentWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>87</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>varServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <screens>
        <name>Asset_Not_Found_Msg</name>
        <label>Asset Not Found Msg</label>
        <locationX>659</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Asset_Not_Foundd</name>
            <fieldText>&lt;p&gt;The supplied Asset (&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varAssetDigitalId}) could not be found.  Please follow standard Asset creation processes to create this Asset.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Break_Fix_WO</name>
        <label>Not Break Fix WO</label>
        <locationX>274</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Break_Fix_Msg</name>
            <fieldText>&lt;p&gt;Assets can only be confirmed for Work Orders of Work Type &apos;Break Fix&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scan_an_Asset</name>
        <label>Scan an Asset</label>
        <locationX>276</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <fields>
            <name>Digital_Id</name>
            <dataType>String</dataType>
            <fieldText>Digital Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This sub flow will retrieve all WOLI to the current WO and check the provided existing Asset against them to see if it is already associated. If not, it will offer to link it (if current asset location matches the location fo the WO)</description>
        <name>Link_Asset_to_WO_if_it_is_not_yet_linked</name>
        <label>Link Asset to WO if it is not yet linked</label>
        <locationX>662</locationX>
        <locationY>398</locationY>
        <flowName>GDMFSL_Link_Asset_to_WO_DESKTOP</flowName>
        <inputAssignments>
            <name>BoolIsNewAsset</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetDigitalId</name>
            <value>
                <elementReference>varAssetDigitalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetId</name>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetLocationId</name>
            <value>
                <elementReference>varAssetLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceAppointment</name>
            <value>
                <elementReference>varServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWOLocationId</name>
            <value>
                <elementReference>varParentWO.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>varServiceAppointment.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkTypeId</name>
            <value>
                <elementReference>varServiceAppointment.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The Id of the Work Order used to begin this flow</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theNewWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varAssetDigitalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varNewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varNewAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewWOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varWorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varWorkTypeBreakFixId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
