src/flows/GDMFSL_Integration_Expense_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Expense_to_Collection</name>
        <label>Add Expense to Collection</label>
        <locationX>1787</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>colExpensesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>expenseToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Expense_on_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Canonical_Collection</name>
        <label>Add to Canonical Collection</label>
        <locationX>1628</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>colCanonical</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theCanonical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Status_to_Expense</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAddtionalChargetoCollection</name>
        <label>AddAddtionalChargetoCollection</label>
        <locationX>181</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>theTSECanoColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAddtionalCharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Expenses_for_WO</name>
        <label>Assign Expenses for WO</label>
        <locationX>1199</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>colExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_non_Rejected_Expenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Expense_on_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Status_to_Expense</name>
        <label>Assign New Status to Expense</label>
        <locationX>1870</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>expenseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseToUpdate.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Expense_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_Expense</name>
        <label>Assign single Expense</label>
        <locationX>927</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>colExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Expense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Expense_on_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Canonical_Record</name>
        <label>Assign Values to Canonical Record</label>
        <locationX>1463</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>theCanonical.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Card_Holder_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.GDMFSL_Card_Holder_E_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Chargeable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.GDMFSL_Chargeable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Related_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCanonical.Service_Order_Number2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Canonical_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNonPCardToCanoObject</name>
        <label>AssignNonPCardToCanoObject</label>
        <locationX>1379</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.TransactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SURCHARGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expense</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Expense_on_Collection.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToTSECanoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToTSECanoCollection</name>
        <label>AssignToTSECanoCollection</label>
        <locationX>1159</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>theTSECanoColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Expense_on_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyAddlChargeLaborMultiplier</name>
        <label>CopyAddlChargeLaborMultiplier</label>
        <locationX>393</locationX>
        <locationY>1408</locationY>
        <assignmentItems>
            <assignToReference>LaborMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughEachMetaDataItem.SAPCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfFlagIsSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateTSECanoForAddlCharges</name>
        <label>CreateTSECanoForAddlCharges</label>
        <locationX>177</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.CreatedBy.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SURCHARGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additionalcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Transaction_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brach_AddlCharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaborMultiplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Additional_Charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddAddtionalChargetoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DecreaseTheCount</name>
        <label>DecreaseTheCount</label>
        <locationX>684</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>CountOfMetaDataItems</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindMatchingMetaDataItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCountOfMetaDataItems</name>
        <label>GetCountOfMetaDataItems</label>
        <locationX>50</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>CountOfMetaDataItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllAddlChargeMetaData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAddtionalCharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTheCountOfMetaData</name>
        <label>ResetTheCountOfMetaData</label>
        <locationX>461</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>CountOfMetaDataItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllAddlChargeMetaData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetTheLaborMultiplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTheFlag</name>
        <label>ResetTheFlag</label>
        <locationX>539</locationX>
        <locationY>1408</locationY>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAddlChargeLaborMultiplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTheLaborMultiplier</name>
        <label>ResetTheLaborMultiplier</label>
        <locationX>674</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>LaborMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughEachMetaDataItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTheFlag</name>
        <label>SetTheFlag</label>
        <locationX>459</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetTheCountOfMetaData</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCountStatus</name>
        <label>CheckCountStatus</label>
        <locationX>354</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>CreateTSECanoForAddlCharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfMetaDataItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTSECanoForAddlCharges</targetReference>
            </connector>
            <label>Count=0</label>
        </rules>
        <rules>
            <name>CountGt0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfMetaDataItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughEachMetaDataItem</targetReference>
            </connector>
            <label>CountGt0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the expense is P-Card or Non-P-Card</description>
        <name>CheckExpenseType</name>
        <label>CheckExpenseType</label>
        <locationX>1247</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Expense_on_Collection.ExpenseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material Purchased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Canonical_Record</targetReference>
            </connector>
            <label>P-Card</label>
        </rules>
        <rules>
            <name>Non_P_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Expense_on_Collection.ExpenseType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Material Purchased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNonPCardToCanoObject</targetReference>
            </connector>
            <label>Non-P-Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfFlagIsSet</name>
        <label>CheckIfFlagIsSet</label>
        <locationX>172</locationX>
        <locationY>1243</locationY>
        <defaultConnector>
            <targetReference>LoopThroughEachMetaDataItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flag=False</defaultConnectorLabel>
        <rules>
            <name>Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTSECanoForAddlCharges</targetReference>
            </connector>
            <label>Flag=True</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindMatchingMetaDataItem</name>
        <label>FindMatchingMetaDataItem</label>
        <locationX>678</locationX>
        <locationY>1357</locationY>
        <defaultConnector>
            <targetReference>CheckIfFlagIsSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFound</defaultConnectorLabel>
        <rules>
            <name>MatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughEachMetaDataItem.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopAddtionalCharges.GDMFSL_Additional_Charge_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetTheFlag</targetReference>
            </connector>
            <label>MatchFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_WO</name>
        <label>Input WO?</label>
        <locationX>1197</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Get_Expense</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_Export</name>
        <label>Is status Export?</label>
        <locationX>1510</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Export</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_non_Rejected_Expenses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WO_status_Export</name>
        <label>Is WO status Export?</label>
        <locationX>920</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WO_Export</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expense.WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_Expense</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DTXFSL:9063 - Updated Activity type on Non-P card expense to have Activity type- SURCHARGE</description>
    <formulas>
        <name>Brach_AddlCharge</name>
        <dataType>String</dataType>
        <expression>{!LoopAddtionalCharges.GDMFSL_Work_Order__r.GDMFSL_Profit_Center__r.Name}+&apos;_&apos;+{!LoopAddtionalCharges.GDMFSL_Work_Order__r.GDMFSL_Sales_Organization__c}+&apos;_&apos;+ {!SAPDisciplineAddCharge}</expression>
    </formulas>
    <formulas>
        <name>Branch</name>
        <dataType>String</dataType>
        <expression>{!For_each_Expense_on_Collection.WorkOrder.GDMFSL_Profit_Center__r.Name}+&apos;_&apos;+
{!For_each_Expense_on_Collection.WorkOrder.GDMFSL_Sales_Organization__c}+&apos;_&apos;+ {!SAPBranch}</expression>
    </formulas>
    <interviewLabel>GDMFSL Integration Expense Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Integration Expense Flow</label>
    <loops>
        <name>For_each_Expense_on_Collection</name>
        <label>For each Expense on Collection</label>
        <locationX>1057</locationX>
        <locationY>520</locationY>
        <collectionReference>colExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckExpenseType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAddtionalCharges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAddtionalCharges</name>
        <label>LoopAddtionalCharges</label>
        <locationX>340</locationX>
        <locationY>507</locationY>
        <collectionReference>GetAddtionalCharges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetBranch_AddCharge</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Canonical_Expense</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughEachMetaDataItem</name>
        <label>LoopThroughEachMetaDataItem</label>
        <locationX>685</locationX>
        <locationY>1022</locationY>
        <collectionReference>GetAllAddlChargeMetaData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecreaseTheCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCountStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Canonical_Expense</name>
        <label>Create Canonical Expense</label>
        <locationX>629</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Update_Expense_Integration_Status</targetReference>
        </connector>
        <inputReference>colCanonical</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateTSEConoObjectsForNonPCardExpenses</name>
        <label>CreateTSEConoObjectsForNonPCardExpenses</label>
        <locationX>856</locationX>
        <locationY>849</locationY>
        <inputReference>theTSECanoColl</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Expense</name>
        <label>Get Expense</label>
        <locationX>927</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_WO_status_Export</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpenseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpenseType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Material Purchased</stringValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_non_Rejected_Expenses</name>
        <label>Get non-Rejected Expenses</label>
        <locationX>1278</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Expenses_for_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>1489</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAddtionalCharges</name>
        <label>GetAddtionalCharges</label>
        <locationX>350</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllAddlChargeMetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDMFSL_Additional_Charge__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllAddlChargeMetaData</name>
        <label>GetAllAddlChargeMetaData</label>
        <locationX>202</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCountOfMetaDataItems</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDMFSL_Additional_Charges__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBranch</name>
        <label>GetBranch</label>
        <locationX>1673</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_status_Export</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO.WorkType.GDMFSL_Discipline__r.Name</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Branch__mdt</object>
        <outputAssignments>
            <assignToReference>SAPBranch</assignToReference>
            <field>SAP_Discipline__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBranch_AddCharge</name>
        <label>GetBranch_AddCharge</label>
        <locationX>457</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTheFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAddtionalCharges.GDMFSL_Work_Order__r.WorkType.GDMFSL_Discipline__r.Name</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Branch__mdt</object>
        <outputAssignments>
            <assignToReference>SAPDisciplineAddCharge</assignToReference>
            <field>SAP_Discipline__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense_Integration_Status</name>
        <label>Update Expense Integration Status</label>
        <locationX>749</locationX>
        <locationY>689</locationY>
        <connector>
            <targetReference>CreateTSEConoObjectsForNonPCardExpenses</targetReference>
        </connector>
        <inputReference>colExpensesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>801</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Input_WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colCanonical</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Expense_Canonical__c</objectType>
    </variables>
    <variables>
        <name>colExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>colExpensesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfMetaDataItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmptyColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>ExpenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LaborMultiplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPDisciplineAddCharge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theCanonical</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Expense_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theTSECano</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theTSECanoColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
