src/flows/GDMFSL_Complete_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Labor_Values</name>
        <label>Assign Labor Values</label>
        <locationX>1708</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>LaborWorkStartDateTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaborWorkStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborWorkEndDateTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignServiceAppointmentValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServiceAppointmentValues</name>
        <label>Assign Service Appointment Values</label>
        <locationX>1829</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>currSA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaborWorkEndDateTimeVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaborWorkEndDateTimeSameMinHandling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TimeSheet_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>1396</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>LaborWorkEndDateTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currSA.GDMFSL_Actual_Check_Out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LaborWorkStartDateTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currSA.ActualStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currSA.GDMFSL_Regular_Labor_in_minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currSA.GDMFSL_OT_Labor_in_minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTLaborDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currSA.GDMFSL_PT_Labor_in_minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LaborSummaryScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentPayTypeChoice</name>
        <choiceText>{!currSA.GDMFSL_Travel_Pay_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currSA.GDMFSL_Travel_Pay_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoOptionValue</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesOptionValue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assess_Last_Service_Appointment_Of_The_Day</name>
        <label>Assess Last Service Appointment Of The Day</label>
        <locationX>2016</locationX>
        <locationY>823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLastAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>last_Service_Appointment_for_the_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Monitoring_Safe_and_Sound_Check</targetReference>
            </connector>
            <label>IsLastAppointment</label>
        </rules>
    </decisions>
    <description>UPDATE: Include Time Sheet Labor Refactor (DTXFSL-5181/5225), Antje: Add Scheduled start/end Same Minute Handling</description>
    <dynamicChoiceSets>
        <name>TravelPayTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Travel_Pay_Type__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CompletionDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!LaborWorkStartDateTime} + ({!EnteredDurationInMinutesFormula}/24/60)</expression>
    </formulas>
    <formulas>
        <name>DefaultDurationInMinutesFormula</name>
        <dataType>Number</dataType>
        <expression>({!LaborWorkEndDateTimeVar}-{!LaborWorkStartDateTimeVar})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EnteredDurationInMinutesFormula</name>
        <dataType>Number</dataType>
        <expression>{!Regular_Duration} + {!OT_Duration} + {!Premium_Duration}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This Formula will handle the case in which the end time would be the same minute like the start time and in that case add one minute to the end time</description>
        <name>LaborWorkEndDateTimeSameMinHandling</name>
        <dataType>DateTime</dataType>
        <expression>IF(
(({!LaborWorkEndDateTimeVar} - {!LaborWorkStartDateTimeVar})*24*60) &lt;= 0,
{!LaborWorkStartDateTimeVar} + (1/1440),
{!LaborWorkEndDateTimeVar})</expression>
    </formulas>
    <interviewLabel>GDMFSL Complete Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Complete Work</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>UpdateServiceAppointment</name>
        <label>Update Service Appointment</label>
        <locationX>2018</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Service_Appointment_Assement</targetReference>
        </connector>
        <inputReference>currSA</inputReference>
    </recordUpdates>
    <screens>
        <name>LaborSummaryScreen</name>
        <label>Labor Summary</label>
        <locationX>1562</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Labor_Values</targetReference>
        </connector>
        <fields>
            <name>LaborWorkStartDateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>LaborWorkStartDateTimeVar</elementReference>
            </defaultValue>
            <fieldText>Work Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Regular_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RegLaborDuration</elementReference>
            </defaultValue>
            <fieldText>Regular Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OT_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>OTLaborDuration</elementReference>
            </defaultValue>
            <fieldText>OT Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Premium_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PTLaborDuration</elementReference>
            </defaultValue>
            <fieldText>Premium Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment_Assement</name>
        <label>Service Appointment Assement</label>
        <locationX>2021</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assess_Last_Service_Appointment_Of_The_Day</targetReference>
        </connector>
        <fields>
            <name>last_Service_Appointment_for_the_day</name>
            <choiceReferences>YesOptionValue</choiceReferences>
            <choiceReferences>NoOptionValue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this the last Service Appointment for the day?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1269</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_TimeSheet_Entries</name>
        <label>Create TimeSheet Entries</label>
        <locationX>1989</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>UpdateServiceAppointment</targetReference>
        </connector>
        <flowName>GDMFSL_TimeSheet_Entries</flowName>
        <inputAssignments>
            <name>DateTimeToDateTSConversion</name>
            <value>
                <elementReference>currSA.GDMFSL_StartTravelDateTimeToDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DistanceTravelled</name>
            <value>
                <elementReference>currSA.GDMFSL_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DistanceUOM</name>
            <value>
                <elementReference>currSA.GDMFSL_Distance_UOM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LaborStartTime</name>
            <value>
                <elementReference>LaborWorkStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OTVarMin</name>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PTVarMin</name>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegularVarMin</name>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>currSA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelIsEndOfDay</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelOTDuration</name>
            <value>
                <elementReference>currSA.GDMFSL_OT_Travel_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelPTDuration</name>
            <value>
                <elementReference>currSA.GDMFSL_PT_Travel_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelRegularDuration</name>
            <value>
                <elementReference>currSA.GDMFSL_Regular_Travel_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelStartTime</name>
            <value>
                <elementReference>currSA.GDMFSL_ActualStartTravel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>currSA.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Start_Monitoring_Safe_and_Sound_Check</name>
        <label>Start Monitoring Safe and Sound Check</label>
        <locationX>2247</locationX>
        <locationY>816</locationY>
        <flowName>GDMFSL_Safe_and_Sound</flowName>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>LaborWorkEndDateTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaborWorkStartDateTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTLaborDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PTLaborDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegLaborDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalPayTypeDurationInMinutesVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
