src/flows/GDMFSL_Integration_Work_Order_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CheckIntegrationStatus</name>
        <label>CheckIntegrationStatus</label>
        <locationX>403</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>CannotResubmitWO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubmissionAllowed</name>
            <conditionLogic>((3 OR (4 AND 5)) AND (1 OR 2))</conditionLogic>
            <conditions>
                <leftValueReference>GetWO.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.IoT_Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.GDMFSL_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDMFSL_Integration_Work_Order_Flow</targetReference>
            </connector>
            <label>SubmissionAllowed</label>
        </rules>
        <rules>
            <name>SubmissionNotAllowed</name>
            <conditionLogic>((3 OR (4 AND 5)) AND (1 OR 2))</conditionLogic>
            <conditions>
                <leftValueReference>GetWO.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.IoT_Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Export</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWO.GDMFSL_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotResubmitWO</targetReference>
            </connector>
            <label>SubmissionNotAllowed</label>
        </rules>
    </decisions>
    <description>added condition that SAP SO Number should be empty</description>
    <interviewLabel>GDMFSL Integration - Work Order Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Integration - Work Order Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWO</name>
        <label>GetWO</label>
        <locationX>332</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIntegrationStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>CannotResubmitWO</name>
        <label>CannotResubmitWO</label>
        <locationX>188</locationX>
        <locationY>561</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The WO cannot be re-submitted to SAP. Please contact your system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GDMFSL_Integration_Work_Order_Flow</name>
        <label>GDMFSL Integration - Work Order Flow</label>
        <locationX>648</locationX>
        <locationY>580</locationY>
        <flowName>GDMFSL_Integration_Work_Order_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
