src/flows/GDMFSL_CreateCase_from_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Last_Record_and_Add_to_Count</name>
        <label>Assign Last Record and Add to Count</label>
        <locationX>556</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>AuthorizedCallersNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthorizedCallerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Authorized_Callers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Case_0_0</name>
        <label>Assign Values to Case</label>
        <locationX>344</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Ship_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Record.GDMFSL_Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescriptionLongText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOriginPicklistCtrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseReasonPicklistCtrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Site_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>siteContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubjectText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Record.GDMFSL_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Accounts</name>
        <label>Clear Accounts</label>
        <locationX>475</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CallSoldToBillToAccountSelectionFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Accounts_0</name>
        <label>Clear Accounts</label>
        <locationX>211</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_Accounts_from_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>One_Caller</name>
        <label>One Caller Assignment</label>
        <locationX>342</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorizedCallerRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorizedCallerRecord.GDMFSL_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accounts_from_Contract</name>
        <label>Set Accounts from Contract</label>
        <locationX>211</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.GDMFSL_Bill_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccounts</name>
        <label>SetAccounts</label>
        <locationX>475</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Sold_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSoldToPartnerAccRelObject.Partner_Account_Source_System__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Bill_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBillToPartnerAccRelObject.Partner_Account_Source_System__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBillToPartnerAccRelObject.Partner_Account_Source_System__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSoldToPartnerAccRelObject.Partner_Account_Source_System__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceAuthorizedCallerNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceSiteContactNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Authorized_Callers_Number</name>
        <label>Check Authorized Callers Number</label>
        <locationX>342</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Select_Authorized_Caller_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Authorized Callers</defaultConnectorLabel>
        <rules>
            <name>Multiple_Callers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizedCallersNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Authorized_Caller_Screen</targetReference>
            </connector>
            <label>Multiple Callers</label>
        </rules>
        <rules>
            <name>One_Authorized_Caller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizedCallersNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Caller</targetReference>
            </connector>
            <label>One Authorized Caller</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Selected</name>
        <label>Contract Selected</label>
        <locationX>343</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Clear_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Accounts_0</targetReference>
            </connector>
            <label>Has Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Empty</name>
        <label>Is Asset Empty</label>
        <locationX>871</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>No_Asset_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Asset Value</defaultConnectorLabel>
        <rules>
            <name>Asset_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAssetIdEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Information</targetReference>
            </connector>
            <label>Asset Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Exist</name>
        <label>Is Location Exist?</label>
        <locationX>607</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Location_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLocationExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Record</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Authorized_Callers2</name>
        <label>Needs Authorized Callers?</label>
        <locationX>156</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Get_All_Active_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Record.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Authorized_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DTXFSL-8981 - change Site Contact to NON mandatory choice
DTXFSL-9457 + 9491 - Antje: Added additional None option to Authorized and site contact where missing and removed No caller screen</description>
    <dynamicChoiceSets>
        <name>ActiveContactChoiceset</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetChioceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuthorizedContactChoiseSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Is_Authorized_Caller__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOriginPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This set holds only picklist values that are valid for the Case record type GDMFSL Service Request</description>
        <name>CaseOriginRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Origin_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasePriorityChioseSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasePriorityRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Priority_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Reason_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonsChioceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLIRecordSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Service_Contract_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputAssignments>
            <assignToReference>ServiceContractId</assignToReference>
            <field>ServiceContractId</field>
        </outputAssignments>
        <sortField>GDMFSL_Service_Contract_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Service_Contract_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationChioceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.LocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_IsSiteContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>siteContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siteContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>IsAssetIdEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF (ISBLANK({!recordId}),true,false)</expression>
    </formulas>
    <formulas>
        <name>IsLocationExist</name>
        <dataType>Boolean</dataType>
        <expression>IF (ISBLANK({!Get_Asset_Information.LocationId}),false,true)</expression>
    </formulas>
    <formulas>
        <name>IsRecordEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF (ISBLANK({!$Flow.CurrentRecord}),true,false)</expression>
    </formulas>
    <interviewLabel>GDMFSL CreateCase from Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL CreateCase from Asset</label>
    <loops>
        <name>Loop_through_Authorized_Callers</name>
        <label>Loop through Authorized Callers</label>
        <locationX>335</locationX>
        <locationY>872</locationY>
        <collectionReference>AuthorizedCallersTable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_Record_and_Add_to_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Authorized_Callers_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>342</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <inputReference>NewCaseToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_Contacts</name>
        <label>Get All Active Contacts</label>
        <locationX>166</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AuthorizedCallersTable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>GDMFSL_Contact_Name__c</queriedFields>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Information</name>
        <label>Get Asset Information</label>
        <locationX>607</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Location_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorized_Contacts</name>
        <label>Get Authorized Contacts</label>
        <locationX>335</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Is_Authorized_Caller__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AuthorizedCallersTable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>GDMFSL_Contact_Name__c</queriedFields>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Record</name>
        <label>Get Location Record</label>
        <locationX>341</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Authorized_Callers2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Information.LocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>GDMFSL_Ship_To_Account__c</queriedFields>
        <queriedFields>GDMFSL_Need_Auth_Caller__c</queriedFields>
        <queriedFields>GDMFSL_SAP_Customer_Number__c</queriedFields>
        <queriedFields>GDMFSL_Region__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>552</locationX>
        <locationY>2616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseToCreate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_0</name>
        <label>Get Record Type</label>
        <locationX>343</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Case_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GDMFSL_Service_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets service contract from selected line item</description>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>343</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillToPartnerAccRelObject</name>
        <label>GetBillToPartnerAccRelObject</label>
        <locationX>708</locationX>
        <locationY>2415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToAccPartnerRelRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Partner_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSoldToPartnerAccRelObject</name>
        <label>GetSoldToPartnerAccRelObject</label>
        <locationX>834</locationX>
        <locationY>2379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillToPartnerAccRelObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSoldToAccPartnerRelRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Partner_Relationship__c</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Screen</name>
        <label>Case Screen</label>
        <locationX>344</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type_0</targetReference>
        </connector>
        <fields>
            <name>Loc_Asset_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Location:&lt;/b&gt; {!Get_Location_Record.Name}     &lt;b&gt;Asset:&lt;/b&gt; {!Get_Asset_Information.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Authorized Caller:&lt;/b&gt;{!ContactName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Site Contact:&lt;/b&gt; {!siteContactName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Contract_Radio</name>
            <choiceReferences>CLIRecordSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Contract</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseOriginPicklistCtrl</name>
            <choiceReferences>CaseOriginRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseReasonPicklistCtrl</name>
            <choiceReferences>CaseReasonRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CasePriority</name>
            <choiceReferences>CasePriorityRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseSubjectText</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseDescriptionLongText</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_Not_Exist</name>
        <label>Location Not Exist</label>
        <locationX>871</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Location_Not_Found</name>
            <fieldText>&lt;p&gt;No Location was found on the Asset&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Message</name>
        <label>New Case Message</label>
        <locationX>543</locationX>
        <locationY>2753</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Case &lt;/span&gt;{!Get_New_Case.CaseNumber} was created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Asset_Value</name>
        <label>No Asset Value</label>
        <locationX>1134</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Asset_not_Found_Label</name>
            <fieldText>&lt;p&gt;Asset Information cannot be found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Authorized_Caller_Screen</name>
        <label>Select Authorized Caller Screen</label>
        <locationX>88</locationX>
        <locationY>1261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Site_Contact_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Authorized_Caller</name>
            <choiceReferences>AuthorizedContactChoiseSet</choiceReferences>
            <choiceReferences>ChoiceAuthorizedCallerNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Authorized Caller</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Location_Record.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Active_Caller</name>
            <choiceReferences>ActiveContactChoiceset</choiceReferences>
            <choiceReferences>ChoiceAuthorizedCallerNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Authorized Caller</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Location_Record.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Site_Contact_Screen</name>
        <label>Select Site Contact Screen</label>
        <locationX>80</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Site_Contact</name>
            <choiceReferences>SiteContactChoiceSet</choiceReferences>
            <choiceReferences>ChoiceSiteContactNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Site Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>745</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Asset_Empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallSoldToBillToAccountSelectionFlow</name>
        <label>CallSoldToBillToAccountSelectionFlow</label>
        <locationX>676</locationX>
        <locationY>2276</locationY>
        <connector>
            <targetReference>GetSoldToPartnerAccRelObject</targetReference>
        </connector>
        <flowName>GDMFSL_SOLDTO_BILLTO_Flow</flowName>
        <inputAssignments>
            <name>varLocation</name>
            <value>
                <elementReference>Get_Location_Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBillToAccPartnerRelRecordID</assignToReference>
            <name>varBillToRecordID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSoldToAccPartnerRelRecordID</assignToReference>
            <name>varSoldToRecordID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AuthorizedCallerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AuthorizedCallersNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AuthorizedCallersTable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Asset&apos;s Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToAccPartnerRelRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSoldToAccPartnerRelRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
