src/flows/GDMFSL_Mobile_Safety_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1374</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>parsedPPECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Counted_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_to_Proceed</name>
        <label>Assign Approval to Proceed</label>
        <locationX>706</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Formal_Approval_to_Proceed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAZDo_you_have_formal_approval_to_proceed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HAZ_Approval_to_Proceed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Compliance_Check_Answers</name>
        <label>Assign Compliance Check Answers</label>
        <locationX>228</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Compliance_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compliance_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.Formal_Approval_to_Proceed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_Assessment_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formal_Approval</name>
        <label>Assign Formal Approval</label>
        <locationX>670</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Formal_Approval_to_Proceed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_formal_approval_to_proceed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Formal_Approval_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hazards</name>
        <label>Assign Hazards</label>
        <locationX>528</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Hazards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hazards</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asbestos_or_Hazardous_Energy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HSE_Answers</name>
        <label>Assign HSE Answers</label>
        <locationX>1069</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Permits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.Controls_To_Be_Implemented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Controls_To_Be_Implemented</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.Self_Declaration_Job_is_Safe_to_Proceed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Self_Declaration_Job_is_Safe_to_Proceed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.PPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theHSERecord.Residual_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residual_Risk_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_High_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Risk</name>
        <label>Assign Initial Risk</label>
        <locationX>373</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Initial_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Risk_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HSE_Hazards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notes</name>
        <label>Assign Notes</label>
        <locationX>234</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HSE_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPE_values</name>
        <label>Assign PPE values</label>
        <locationX>1066</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.PPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPECount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parsedPPECollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyPPECollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Kit_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Required_Notes</name>
        <label>Assign Required Notes</label>
        <locationX>373</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>theHSERecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MandatoryNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_HSE_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_PPEs</name>
        <label>Count PPEs</label>
        <locationX>1739</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>PPECount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Brackets</name>
        <label>Remove Brackets</label>
        <locationX>1276</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>withoutBrackets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theHSERecord.PPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>withoutBrackets</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Counted_Item</name>
        <label>Remove Counted Item</label>
        <locationX>1490</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>withoutBrackets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeLast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Items_Counted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Items_Counted</name>
        <label>All Items Counted?</label>
        <locationX>1426</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCounted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>withoutBrackets</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Collection</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asbestos_or_Hazardous_Energy</name>
        <label>Asbestos or Hazardous Energy?</label>
        <locationX>610</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>HSE_Permits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAsbExp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Hazards</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Asbestos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hazards</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hazardous Energy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hazard_Stop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>At_least_3_PPE_items</name>
        <label>At least 3 PPE items?</label>
        <locationX>1777</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Msg_PPE_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3PPEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPECount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSE_Residual_Risk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HAZ_Approval_to_Proceed</name>
        <label>HAZ Approval to Proceed?</label>
        <locationX>908</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>HAZ_Select_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>YesHAZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theHSERecord.Formal_Approval_to_Proceed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSE_Permits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoHAZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theHSERecord.Formal_Approval_to_Proceed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Notes</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Formal_Approval_Selected</name>
        <label>Is Formal Approval Selected?</label>
        <locationX>524</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>Formal_Approval_Msg_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFormalApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_formal_approval_to_proceed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_High_Risk</name>
        <label>Is High Risk?</label>
        <locationX>1054</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>X3_Risky_Items_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Risk</defaultConnectorLabel>
        <rules>
            <name>HighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Residual_Risk_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Controlled Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Msg_Screen</targetReference>
            </connector>
            <label>High Risk</label>
        </rules>
        <rules>
            <name>Medium_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Residual_Risk_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium Controlled Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_More_Risky_Items_Selected</targetReference>
            </connector>
            <label>Medium Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Kit_Selected</name>
        <label>Is Kit Selected</label>
        <locationX>1147</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>HSE_Residual_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesKit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPE</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Have a fit for purpose PPE kit with you</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Brackets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onsite</name>
        <label>Onsite?</label>
        <locationX>336</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Not_Onsite_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOnsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSE_Compliance_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_NotesScreen</name>
        <label>Required Notes</label>
        <locationX>756</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theHSERecord.Formal_Approval_to_Proceed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Assessment_Required</name>
        <label>Risk Assessment Required</label>
        <locationX>216</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compliance_Check</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Risk Assessment Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSE_Initial_Risk_Selection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_More_Risky_Items_Selected</name>
        <label>2 More Risky Items Selected?</label>
        <locationX>1127</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Required_NotesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRiskyItems</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Self_Declaration_Job_is_Safe_to_Proceed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All controls noted in place prior to starting work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permits</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entering Confined Space</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permits</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live Electrical Work (50V or greater)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Msg_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3_Risky_Items_Selected</name>
        <label>3 Risky Items Selected?</label>
        <locationX>1261</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Required_NotesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3RiskyItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permits</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Entering Confined Space</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permits</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Live Electrical Work (50V or greater)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Self_Declaration_Job_is_Safe_to_Proceed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All controls noted in place prior to starting work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Msg_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Guided Safety Check
DTXFSL-9354</description>
    <dynamicChoiceSets>
        <name>choiceComplianceCheck</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Compliance_Check__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceControlsToBeImplemented</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Controls_To_Be_Implemented__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceFormalApproval</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Formal_Approval_to_Proceed__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceHazards</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hazards__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceInitialRisk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Initial_Risk__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicePermits</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Permits__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicePPE</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PPE__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceResidualRisk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residual_Risk__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSelfDeclaration</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Self_Declaration_Job_is_Safe_to_Proceed__c</picklistField>
        <picklistObject>GDMFSL_HSE_Check__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>firstItem</name>
        <dataType>String</dataType>
        <expression>(LEFT({!withoutBrackets},FIND(&quot;;&quot;,{!withoutBrackets})-1))</expression>
    </formulas>
    <formulas>
        <name>removeBrackets</name>
        <dataType>String</dataType>
        <expression>TRIM(
   SUBSTITUTE(
      SUBSTITUTE(
             {!multiPicklist}, &quot;[&quot;,&quot;&quot;),
                   &quot;]&quot;,&quot;&quot;)
)+&quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>removeLast</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!withoutBrackets},LEN({!withoutBrackets})-FIND(&quot;;&quot;,{!withoutBrackets}))))</expression>
    </formulas>
    <interviewLabel>GDMFSL Mobile Safety Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Mobile Safety Check</label>
    <loops>
        <name>Loop_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>1588</locationX>
        <locationY>343</locationY>
        <assignNextValueToReference>eachPPE</assignNextValueToReference>
        <collectionReference>parsedPPECollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_PPEs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>At_least_3_PPE_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_HSE_Record</name>
        <label>Create HSE Record</label>
        <locationX>234</locationX>
        <locationY>1087</locationY>
        <inputReference>theHSERecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_SA_record</name>
        <label>Get SA record</label>
        <locationX>178</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onsite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>theSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <screens>
        <name>Block_Msg_Screen</name>
        <label>Block Msg Screen</label>
        <locationX>783</locationX>
        <locationY>1081</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Formal_Approval</targetReference>
        </connector>
        <fields>
            <name>BlockMsgScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;STOP!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;Assess that all permits are in place.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;Ensure you have formal approval to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_have_formal_approval_to_proceed</name>
            <choiceReferences>choiceFormalApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have formal approval to proceed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Formal_Approval_Msg_Screen</name>
        <label>Formal Approval Msg Screen</label>
        <locationX>670</locationX>
        <locationY>1329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Block_Msg_Screen</targetReference>
        </connector>
        <fields>
            <name>FormalApprovalMsg</name>
            <fieldText>&lt;p&gt;Formal Approval to Proceed must be selected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HAZ_Select_Approval</name>
        <label>HAZ Select Approval</label>
        <locationX>597</locationX>
        <locationY>736</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hazard_Stop</targetReference>
        </connector>
        <fields>
            <name>HAZApprovalMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Formal Approval to Proceed must be selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hazard_Stop</name>
        <label>Hazard Stop</label>
        <locationX>704</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Approval_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>HazardWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;STOP!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;Assess that all permits are in place.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: red;&quot;&gt;Ensure you have formal approval to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HAZDo_you_have_formal_approval_to_proceed</name>
            <choiceReferences>choiceFormalApproval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have formal approval to proceed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Compliance_Check</name>
        <label>HSE Compliance Check</label>
        <locationX>349</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Compliance_Check_Answers</targetReference>
        </connector>
        <fields>
            <name>Compliance_Check</name>
            <choiceReferences>choiceComplianceCheck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compliance Check</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Controls_To_Be_Implemented</name>
        <label>HSE Controls To Be Implemented</label>
        <locationX>831</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HSE_Self_Declaration</targetReference>
        </connector>
        <fields>
            <name>Controls_To_Be_Implemented</name>
            <choiceReferences>choiceControlsToBeImplemented</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Controls To Be Implemented</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Hazards</name>
        <label>HSE Hazards</label>
        <locationX>528</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Hazards</targetReference>
        </connector>
        <fields>
            <name>Hazards</name>
            <choiceReferences>choiceHazards</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hazards</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Initial_Risk_Selection</name>
        <label>HSE Initial Risk</label>
        <locationX>373</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Initial_Risk</targetReference>
        </connector>
        <fields>
            <name>Initial_Risk_Choice</name>
            <choiceReferences>choiceInitialRisk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Initial Risk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Permits</name>
        <label>HSE Permits</label>
        <locationX>703</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HSE_Controls_To_Be_Implemented</targetReference>
        </connector>
        <fields>
            <name>Permits</name>
            <choiceReferences>choicePermits</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Permits</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_PPE</name>
        <label>HSE PPE</label>
        <locationX>967</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_PPE_values</targetReference>
        </connector>
        <fields>
            <name>PPE</name>
            <choiceReferences>choicePPE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PPE</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Residual_Risk</name>
        <label>HSE Residual Risk</label>
        <locationX>1068</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_HSE_Answers</targetReference>
        </connector>
        <fields>
            <name>Residual_Risk_Choice</name>
            <choiceReferences>choiceResidualRisk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Residual Risk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HSE_Self_Declaration</name>
        <label>HSE Self Declaration</label>
        <locationX>967</locationX>
        <locationY>154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HSE_PPE</targetReference>
        </connector>
        <fields>
            <name>Self_Declaration_Job_is_Safe_to_Proceed</name>
            <choiceReferences>choiceSelfDeclaration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Self Declaration Job is Safe to Proceed</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Msg_PPE_Screen</name>
        <label>Msg PPE Screen</label>
        <locationX>1783</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HSE_PPE</targetReference>
        </connector>
        <fields>
            <name>PPEMsg</name>
            <fieldText>&lt;p&gt;If &apos;Have a fit for purpose PPE kit with you&apos; option is selected, you need at least 2 more PPE options.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Onsite_Screen</name>
        <label>Not Onsite Screen</label>
        <locationX>481</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotOnsiteMsg</name>
            <fieldText>&lt;p&gt;You must be on site to perform a Safety Check.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notes_Screen</name>
        <label>Notes Screen</label>
        <locationX>236</locationX>
        <locationY>839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Notes</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Required_Notes</name>
        <label>Required Notes</label>
        <locationX>488</locationX>
        <locationY>957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Required_Notes</targetReference>
        </connector>
        <fields>
            <name>MandatoryNotes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>answerCompliantcheck</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eachPPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyPPECollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multiPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oneItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parsedPPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parsedPPECollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPECount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>theHSERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_HSE_Check__c</objectType>
    </variables>
    <variables>
        <name>theSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>withoutBrackets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
