src/flows/GDMFSL_Mobile_ETC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignETCAndReasonToSA_0_0_0</name>
        <label>AssignETCAndReasonToSA</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>currSAUpdate.GDMFSL_Reason_ETC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSAUpdate.GDMFSL_Estimated_Remaining_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_remaining_duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSAUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSAUpdate.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjustedSchedEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentSA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>picklistStatusOnsite</name>
        <choiceText>Onsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onsite</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If status is OnSite, the ETC can be captured. In all other statuses not.</description>
        <name>IsSAEligibleForETC</name>
        <label>IsSAEligibleForETC</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>SANotEligibleScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAIsNotEligible</defaultConnectorLabel>
        <rules>
            <name>SAIsEligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>picklistStatusOnsite</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currSAWorktype.GDMFSL_WorkType_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Estimated_Time_to_Complete</targetReference>
            </connector>
            <label>SAIsEligible</label>
        </rules>
    </decisions>
    <description>Engineer can capture estimated time to completed (ETC)  and finish time of SA will be recalculated</description>
    <formulas>
        <name>AdjustedSchedEnd</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!Estimated_remaining_duration} /1440)</expression>
    </formulas>
    <interviewLabel>GDMFSL Mobile ETC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Mobile ETC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetCurrentSA</name>
        <label>GetCurrentSA</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSAWorktype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>currSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>GDMFSL_Estimated_Remaining_Duration__c</queriedFields>
        <queriedFields>GDMFSL_Reason_ETC__c</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the Worktype object of the SA</description>
        <name>GetSAWorktype</name>
        <label>GetSAWorktype</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsSAEligibleForETC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currSA.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>currSAWorktype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_WorkType_Category__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentSA</name>
        <label>UpdateCurrentSA</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>currSAUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Estimated_Time_to_Complete</name>
        <label>Capture Estimated Time to Complete</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignETCAndReasonToSA_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Estimated_remaining_duration</name>
            <dataType>Number</dataType>
            <fieldText>Estimated remaining duration (in Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Estimated remaining duration should be longer than 0 minutes&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Estimated_remaining_duration} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SANotEligibleScreen</name>
        <label>SANotEligibleScreen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowTextSANotEligible</name>
            <fieldText>&lt;p&gt;The Service Appointment must be of work type Breakfix and in status Onsite to be able to enter ETC.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentSA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currSAUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Holds the worktype that the SA has</description>
        <name>currSAWorktype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <description>Holds the selected SA</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
