src/flows/GDMFSL_Create_Allowance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignAmount</name>
        <label>AssignAmount</label>
        <locationX>1252</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allowance_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignTSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDerivedBurdenCodeValues</name>
        <label>AssignDerivedBurdenCodeValues</label>
        <locationX>1263</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currAbsencePriority.GDMFSL_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAllowancTSEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the TSE</description>
        <name>AssignTSE</name>
        <label>AssignTSE</label>
        <locationX>947</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currTS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Allowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allowance_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetClassification</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Will hold the actual engineer Region value after derived or entered.</description>
        <name>choiceDynamicRegion</name>
        <choiceText>{!theSR.GDMFSL_Region__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>theSR.GDMFSL_Region__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Does_Allowance_Exist</name>
        <label>Does Allowance Exist?</label>
        <locationX>1473</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Cannot_Create_Allowance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Allowance_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allowance_Code</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetRegionSettings</targetReference>
            </connector>
            <label>Allowance Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAllowanceRequired</name>
        <label>IsAllowanceRequired</label>
        <locationX>1246</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>AssignTSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllowanceIsNotRequired</defaultConnectorLabel>
        <rules>
            <name>AllowanceIsRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currRegionSetting.GDMFSL_Allowance_Amount_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCaptureAllowanceAmount</targetReference>
            </connector>
            <label>AllowanceIsRequired</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Timesheet Status. If it is not in status = &quot;New&quot; then it is not eligible to create an allowance and another timesheet needs to be used or created.</description>
        <name>IsTSInEligibleEditStatus</name>
        <label>IsTSEligibleForEdit</label>
        <locationX>768</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Timesheet_not_eligible_for_Allowance_additions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TSisNotEligible</defaultConnectorLabel>
        <rules>
            <name>TSisEligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currTS.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>TSisEligible</label>
        </rules>
    </decisions>
    <description>DTXFSL-9046: Separate Allowance picklist values from Burden Code
DTXFSL-9585: Include TS Status consideration</description>
    <dynamicChoiceSets>
        <name>pcklstAllowance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Allowance__c</picklistField>
        <picklistObject>TimeSheetEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklstRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Region__c</picklistField>
        <picklistObject>TimeSheetEntry</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GDMFSL Create Allowance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Create Allowance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateAllowancTSEntry</name>
        <label>CreateAllowancTSEntry</label>
        <locationX>1522</locationX>
        <locationY>682</locationY>
        <inputReference>AllowanceTimeSheetEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>980</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCaptureAllowance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currTS.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>theSR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Search in MDT for Classification for selected Burden Code</description>
        <name>GetClassification</name>
        <label>GetClassification</label>
        <locationX>950</locationX>
        <locationY>681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDerivedBurdenCodeValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Absence_Burden_Code_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Allowance_Code</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Absence_Priority__mdt</object>
        <outputReference>currAbsencePriority</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Classification__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Reads Regionsettings according to engineers primary ST region. Note: This GetRecords is placed after the initial capturing screen, because it could currently be, that an engineer is changing the suggested (derived) region value. The region value needs to be on the form for dependent picklists.</description>
        <name>GetRegionSettings</name>
        <label>GetRegionSettings</label>
        <locationX>1483</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAllowanceRequired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Region_Setting__mdt</object>
        <outputReference>currRegionSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Allowance_Amount_Required__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the TS of today</description>
        <name>GetTSRecords</name>
        <label>GetTSRecords</label>
        <locationX>777</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTSInEligibleEditStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>currTS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Cannot_Create_Allowance_Screen</name>
        <label>Cannot Create Allowance Screen</label>
        <locationX>1640</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cannot_Create_Allowance_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Allowance cannot be created without an Allowance type. Please contact your administrator for information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCaptureAllowance</name>
        <label>ScreenCaptureAllowance</label>
        <locationX>1228</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Allowance_Exist</targetReference>
        </connector>
        <fields>
            <name>Region</name>
            <choiceReferences>pcklstRegion</choiceReferences>
            <choiceReferences>choiceDynamicRegion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceDynamicRegion</defaultSelectedChoiceReference>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Allowance_Code</name>
            <choiceReferences>pcklstAllowance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Allowance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Start time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start time must be smaller than End time&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_time} &lt; {!End_Time}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCaptureAllowanceAmount</name>
        <label>ScreenCaptureAllowanceAmount</label>
        <locationX>1463</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAmount</targetReference>
        </connector>
        <fields>
            <name>Allowance_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Allowance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Timesheet_not_eligible_for_Allowance_additions</name>
        <label>Timesheet not eligible for Allowance additions</label>
        <locationX>775</locationX>
        <locationY>554</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningNotEligibleTS</name>
            <fieldText>&lt;p&gt;This Timesheet doesn´t allow for any additional entries. Please make sure to use a Timesheet that has an eligible Status (New).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTSRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllowanceTimeSheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>currAbsencePriority</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Absence_Priority__mdt</objectType>
    </variables>
    <variables>
        <name>currRegionSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Region_Setting__mdt</objectType>
    </variables>
    <variables>
        <description>current engineer primary Service Territory according to his/her membership</description>
        <name>currST</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>currSTMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <description>current Timesheet</description>
        <name>currTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>Holds either the automatically derived Engineer Region from the current primary Service Territory Membership or the manual entered Region from the engineer in case nothing was found.</description>
        <name>EngineerRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the value of the actual timesheet from which the flow is called</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Saves the ID of the logged in user</description>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theSR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
