src/flows/GDMFSL_Integration_UI_Product_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>If_the_PRLI_is_in_Failed_Status</name>
        <label>If the PRLI is in integration Failed Status</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>YES_In_Failed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_triggering_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_triggering_Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_The_parent_Flow</targetReference>
            </connector>
            <label>YES - In Failed Status</label>
        </rules>
        <rules>
            <name>No_Not_in_Int_Failed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_triggering_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_triggering_Record.Integration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No-Not in Int Failed Status</label>
        </rules>
    </decisions>
    <interviewLabel>GDMFSL Integration UI - Product Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Integration UI - Product Request Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_the_triggering_Record</name>
        <label>Get the triggering Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_PRLI_is_in_Failed_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt; The Product Request is not in a  valid status to be re-submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>header</name>
        <label>header</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_Message</name>
            <fieldText>&lt;p&gt;The record was submitted. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_triggering_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_The_parent_Flow</name>
        <label>Call The parent Flow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>header</targetReference>
        </connector>
        <flowName>GDMFSL_Integration_Product_Request_Flow</flowName>
        <inputAssignments>
            <name>UIPRLIID</name>
            <value>
                <elementReference>Get_the_triggering_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
