src/flows/GDMFSL_WorkOrder_After_Update_OR_Insert_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Service_Leader</name>
        <label>Send Email to Service Leader</label>
        <locationX>1258</locationX>
        <locationY>473</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Has_Work_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.GDMFSL_Field_Service_Leader__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_SA_to_Collection</name>
        <label>Add SA to Collection</label>
        <locationX>1403</locationX>
        <locationY>776</locationY>
        <assignmentItems>
            <assignToReference>collectionofSAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_to_Additional_Charge_Variable</name>
        <label>Assign Field Values to Additional Charge Variable</label>
        <locationX>482</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>NewAdditionalCharge.GDMFSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAdditionalCharge.GDMFSL_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Region_Expense_Setting.GDMFSL_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAdditionalCharge.GDMFSL_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Region_Expense_Setting.GDMFSL_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAdditionalCharge.GDMFSL_Additional_Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Region_Expense_Setting.GDMFSL_Additional_Charge_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAdditionalCharge.GDMFSL_Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Additional_Charge_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Additional_Charge_Collection</name>
        <label>Assign To Additional Charge Collection</label>
        <locationX>394</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>NewAdditionalChargesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAdditionalCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Region_Expense_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unschedule_SA</name>
        <label>Unschedule SA</label>
        <locationX>1402</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_SAs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>BF Work Order in Dispatched status</description>
        <name>Has_Priority_Changed</name>
        <label>Has Priority Changed?</label>
        <locationX>932</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriorityChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Priority</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkType.GDMFSL_WorkType_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_child_SAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Work_Type</name>
        <label>Has Work Type Changed?</label>
        <locationX>932</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Has_Priority_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.WorkTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WorkTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Region_Expense_Setting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>665</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Has_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quoted_Work_created_by_SAP</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quoted_Work_created_by_SAP</name>
        <label>Quoted Work created by SAP with Service Leader?</label>
        <locationX>1074</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Has_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesQuotedWork</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAP_Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_External_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Field_Service_Leader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Field_Service_Leader__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Field_Service_Leader__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Service_Leader</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DTXFSL-8577</description>
    <interviewLabel>WorkOrder After Update OR Insert Triggers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder | After Update OR Insert Triggers</label>
    <loops>
        <name>Loop_on_Region_Expense_Setting</name>
        <label>Loop on Region Expense Setting</label>
        <locationX>479</locationX>
        <locationY>502</locationY>
        <collectionReference>colAddCharges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_Values_to_Additional_Charge_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Mandatory_Additional_Charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_SAs</name>
        <label>Loop through SAs</label>
        <locationX>1259</locationX>
        <locationY>744</locationY>
        <collectionReference>Get_child_SAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unschedule_SA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Mandatory_Additional_Charges</name>
        <label>Create Mandatory Additional Charges</label>
        <locationX>643</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Has_Priority_Changed</targetReference>
        </connector>
        <inputReference>NewAdditionalChargesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_child_SAs</name>
        <label>Get child SAs</label>
        <locationX>1120</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SAs</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Region_Expense_Setting</name>
        <label>Get Region Expense Setting</label>
        <locationX>702</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Region_Expense_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GDMFSL_Region__c</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Region_Expense_Setting__mdt</object>
        <outputReference>colAddCharges</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Additional_Charge_Type__c</queriedFields>
        <queriedFields>GDMFSL_Quantity__c</queriedFields>
        <queriedFields>GDMFSL_Region__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SAs</name>
        <label>Update SAs</label>
        <locationX>1257</locationX>
        <locationY>925</locationY>
        <inputReference>collectionofSAs</inputReference>
    </recordUpdates>
    <start>
        <locationX>547</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A quoted reactive work order {!$Record.WorkOrderNumber} has been created. Please schedule and dispatch the service appointments to the appropriate technician.
- WO Start Date: {!$Record.StartDate}
- WO End Date: {!$Record.EndDate}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WO Number Quoted Reactive {!$Record.GDMFSL_External_ID__c}</text>
    </textTemplates>
    <variables>
        <name>colAddCharges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Region_Expense_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>collectionofSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ErrorAdditionalCharge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAdditionalCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Additional_Charge__c</objectType>
    </variables>
    <variables>
        <name>NewAdditionalChargesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Additional_Charge__c</objectType>
    </variables>
    <variables>
        <name>WO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
