src/flows/GDMFSL_Integration_Timesheet_Labor_Travel_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddrecordtoCollection</name>
        <label>AddrecordtoCollection</label>
        <locationX>1414</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>theCanonicalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTSEColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTravelCanotoMasterColl</name>
        <label>AddTravelCanotoMasterColl</label>
        <locationX>1725</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>theCanonicalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfMileage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMileageCanoToMainCollection</name>
        <label>AssignMileageCanoToMainCollection</label>
        <locationX>608</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>theCanonicalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTSEColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSingleRecordToTSEColl</name>
        <label>AssignSingleRecordToTSEColl</label>
        <locationX>389</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>theTSEColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSingleTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTSEColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTSERecordsToColl</name>
        <label>AssignTSERecordsToColl</label>
        <locationX>647</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>theTSEColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverTSEColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariables</name>
        <label>AssignVariables</label>
        <locationX>1022</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfTotalMetaDataItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllTimeSheetMetaDataRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBranch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCanoForLabor</name>
        <label>CreateCanoForLabor</label>
        <locationX>1852</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Labor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAP_Activity_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMetaDataColl.Labor_Multiplier_INT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddrecordtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCanonicalMappingForMileage</name>
        <label>CreateCanonicalMappingForMileage</label>
        <locationX>506</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.GDMFSL_Distance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mileage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mileage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.GDMFSL_Travel_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.GDMFSL_Travel_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignMileageCanoToMainCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateTravelCano</name>
        <label>CreateTravelCano</label>
        <locationX>1856</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityType_Travel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.Work_Type_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMetaDataColl.Labor_Multiplier_INT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddTravelCanotoMasterColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DecreaseTheCount</name>
        <label>DecreaseTheCount</label>
        <locationX>959</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>CountOfTotalMetaDataItems</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMetaDataItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTheFlag</name>
        <label>ResetTheFlag</label>
        <locationX>1433</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfTheFlagIsSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTotalMetaDataCount</name>
        <label>SetTotalMetaDataCount</label>
        <locationX>50</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>CountOfTotalMetaDataItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllTimeSheetMetaDataRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChecktheSourceOfEvent</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ActivityType_Travel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Hours</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckClassification</name>
        <label>CheckClassification</label>
        <locationX>1376</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Labor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTSEColl.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCanoForLabor</targetReference>
            </connector>
            <label>Labor</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTSEColl.GDMFSL_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTravelCano</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfTheFlagIsSet</name>
        <label>CheckIfTheFlagIsSet</label>
        <locationX>1400</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>LoopThroughMetaDataColl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flag=false</defaultConnectorLabel>
        <rules>
            <name>Flag_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckClassification</targetReference>
            </connector>
            <label>Flag=true</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTheCountStatus</name>
        <label>CheckTheCountStatus</label>
        <locationX>1190</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>CheckClassification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfTotalMetaDataItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckClassification</targetReference>
            </connector>
            <label>Count=0</label>
        </rules>
        <rules>
            <name>MetaDataCountGt0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfTotalMetaDataItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughMetaDataColl</targetReference>
            </connector>
            <label>MetaDataCountGt0</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecktheSourceOfEvent</name>
        <label>ChecktheSourceOfEvent</label>
        <locationX>150</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>FromTSApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTSRecord</targetReference>
            </connector>
            <label>FromTSApproval</label>
        </rules>
        <rules>
            <name>FromTSEUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TSEUIRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSingleTSE</targetReference>
            </connector>
            <label>FromTSEUI</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetMetaDataItem</name>
        <label>CheckMetaDataItem</label>
        <locationX>1125</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>CheckIfTheFlagIsSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MetaDataItemNOTFound</defaultConnectorLabel>
        <rules>
            <name>MetaDataItemFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughMetaDataColl.Labor_Multiplier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopOverTSEColl.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetTheFlag</targetReference>
            </connector>
            <label>MetaDataItemFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfMileage_0</name>
        <label>CheckMileage</label>
        <locationX>800</locationX>
        <locationY>1138</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Mileage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTSEColl.GDMFSL_Distance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCanonicalMappingForMileage</targetReference>
            </connector>
            <label>Mileage&gt;0</label>
        </rules>
        <rules>
            <name>Mileage0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTSEColl.GDMFSL_Distance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOverTSEColl.GDMFSL_Distance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverTSEColl</targetReference>
            </connector>
            <label>Mileage-0</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfTSIsApproved</name>
        <label>IfTSIsApproved</label>
        <locationX>549</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>IsApproved-NO</defaultConnectorLabel>
        <rules>
            <name>IsApproved_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTSRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTSE</targetReference>
            </connector>
            <label>IsApproved-YES</label>
        </rules>
    </decisions>
    <description>Assign variables in one assignment block to reduce the no. of iteration computation. = DTXFSL 9655 9666</description>
    <formulas>
        <name>Branch</name>
        <dataType>String</dataType>
        <expression>{!LoopOverTSEColl.WorkOrder.GDMFSL_Profit_Center__r.Name}+&apos;_&apos;+{!LoopOverTSEColl.WorkOrder.GDMFSL_Sales_Organization__c}+&apos;_&apos;+ {!SAPBranch}</expression>
    </formulas>
    <formulas>
        <name>LaborMultiplier</name>
        <dataType>String</dataType>
        <expression>CASE ({!LoopOverTSEColl.GDMFSL_Activity_Type__c},
&apos;RT&apos;,&apos;Regular Time&apos;,
&apos;OT&apos;,&apos;OverTime&apos;,
&apos;PT&apos;,&apos;Premium Time&apos;, &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>GDMFSL_Integration_Timesheet_Labor_Travel_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL_Integration_Timesheet_Labor_Travel_Flow</label>
    <loops>
        <name>LoopOverTSEColl</name>
        <label>LoopOverTSEColl</label>
        <locationX>793</locationX>
        <locationY>430</locationY>
        <collectionReference>theTSEColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCanonicalRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughMetaDataColl</name>
        <label>LoopThroughMetaDataColl</label>
        <locationX>894</locationX>
        <locationY>845</locationY>
        <collectionReference>AllTimeSheetMetaDataRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecreaseTheCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckTheCountStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCanonicalRecords</name>
        <label>CreateCanonicalRecords</label>
        <locationX>1183</locationX>
        <locationY>169</locationY>
        <inputReference>theCanonicalCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AllTimeSheetMetaDataRecords</name>
        <label>AllTimeSheetMetaDataRecords</label>
        <locationX>199</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetTotalMetaDataCount</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDMFSL_Timesheet_integration__mdt</object>
        <sortField>Labor_Multiplier__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activity_Type</name>
        <label>Get Activity Type</label>
        <locationX>895</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughMetaDataColl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.GDMFSL_Activity_Type__r.Name</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Branch__mdt</object>
        <outputAssignments>
            <assignToReference>SAP_Activity_Type</assignToReference>
            <field>SAP_Activity_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBranch</name>
        <label>GetBranch</label>
        <locationX>864</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTSEColl.WorkOrder.WorkType.GDMFSL_Discipline__r.Name</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Branch__mdt</object>
        <outputAssignments>
            <assignToReference>SAPBranch</assignToReference>
            <field>SAP_Discipline__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSingleTSE</name>
        <label>GetSingleTSE</label>
        <locationX>224</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSingleRecordToTSEColl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSEUIRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Labor only TSE for this timesheet</description>
        <name>GetTSE</name>
        <label>GetTSE</label>
        <locationX>781</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTSERecordsToColl</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSID</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Labor</stringValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTSRecord</name>
        <label>GetTSRecord</label>
        <locationX>391</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfTSIsApproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TSID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>222</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>AllTimeSheetMetaDataRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfTotalMetaDataItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>MetaDataLocalVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Timesheet_integration__mdt</objectType>
    </variables>
    <variables>
        <name>MetaDataRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Timesheet_integration__mdt</objectType>
    </variables>
    <variables>
        <name>SAP_Activity_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of TS Canonical records</description>
        <name>theCanonicalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theTSECano</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theTSEColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TSEUIRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
