src/flows/GDMFSL_Send_Service_Contract_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_BF_Email</name>
        <label>Send BF Email</label>
        <locationX>1064</locationX>
        <locationY>59</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_BF_Email_Sent_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyBF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectBF</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancelation_Alert</name>
        <label>Send Cancelation Alert</label>
        <locationX>632</locationX>
        <locationY>338</locationY>
        <actionName>ServiceContract.GDMFSL_Service_Contract_Cancellation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_PM_Email</name>
        <label>Send PM Email</label>
        <locationX>1070</locationX>
        <locationY>204</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_PM_Email_Sent_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectPM</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Warranty_Expiration_Email_Alert</name>
        <label>Send Warranty Expiration Email Alert</label>
        <locationX>637</locationX>
        <locationY>501</locationY>
        <actionName>ServiceContract.GDMFSL_Service_Contract_Warranty_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Email_to_Recipient_List</name>
        <label>Add Email to Recipient List</label>
        <locationX>634</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Contract.GDMFSL_Service_Leader__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_L1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Recipient_List2</name>
        <label>Add Email to Recipient List</label>
        <locationX>798</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Contract.GDMFSL_L1__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_L2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_to_Recipient_List3</name>
        <label>Add Email to Recipient List</label>
        <locationX>942</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Contract.GDMFSL_L2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BF_Email_Sent_Flag</name>
        <label>Set BF Email Sent Flag</label>
        <locationX>1204</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>theSC.GDMFSL_Email_BFHoursExhausted_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theSC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PM_Email_Sent_Flag</name>
        <label>Set PM Email Sent Flag</label>
        <locationX>1208</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>theSC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theSC.GDMFSL_Email_PMHoursExhausted_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancelation_emails_valid</name>
        <label>Cancelation emails valid?</label>
        <locationX>380</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_email_for_Cancelation_Alert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Service_Leader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_L1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_L2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Cancelation_Alert</targetReference>
            </connector>
            <label>Has email for Cancelation Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_L1</name>
        <label>Has L1?</label>
        <locationX>626</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Has_L2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_L1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Recipient_List2</targetReference>
            </connector>
            <label>L1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_L2</name>
        <label>Has L2?</label>
        <locationX>784</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_L2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Recipient_List3</targetReference>
            </connector>
            <label>L2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Service_Leader</name>
        <label>Has Service Leader</label>
        <locationX>437</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Has_L1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Service_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Service_Leader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_to_Recipient_List</targetReference>
            </connector>
            <label>Service Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Warranty_Email_valid</name>
        <label>Is Warranty Email valid?</label>
        <locationX>381</locationX>
        <locationY>502</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_valid_email_for_Warranty_Alert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Sales_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Warranty_Expiration_Email_Alert</targetReference>
            </connector>
            <label>Has valid email for Warranty Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>169</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Cancelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelation_emails_valid</targetReference>
            </connector>
            <label>Cancelation</label>
        </rules>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Warranty_Email_valid</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
        <rules>
            <name>ATSHours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATSHours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Service_Leader</targetReference>
            </connector>
            <label>ATSHours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email?</label>
        <locationX>897</locationX>
        <locationY>127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break_Fix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeOfHoursExhausted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Email_BFHoursExhausted_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BF_Email</targetReference>
            </connector>
            <label>Break Fix</label>
        </rules>
        <rules>
            <name>Preventative_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Contract.GDMFSL_Email_PMHoursExhausted_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeOfHoursExhausted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_PM_Email</targetReference>
            </connector>
            <label>Preventative Maintenance</label>
        </rules>
    </decisions>
    <description>Check if valid User to send emails exist and call Email Alert</description>
    <interviewLabel>Service Contract Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Service Contract Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>177</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SC</name>
        <label>Update SC</label>
        <locationX>1346</locationX>
        <locationY>124</locationY>
        <inputReference>theSC</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyBF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The remaining BF Hours of the following Service Contract are exhausted:
Name: {!Get_Service_Contract.ContractNumber}
ID: {!Get_Service_Contract.Id}
Originally available Hours: {!Get_Service_Contract.GDMFSL_ATS_BreakFix_Hours__c}
Actual Time Consumed (BF): {!Get_Service_Contract.GDMFSL_Actual_Time_Consumed_BF_Hours__c}
Remaining ATS BF Hours: {!Get_Service_Contract.GDMFSL_Remaining_BF_Hours__c}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyPM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The remaining PM Hours of the following Service Contract are exhausted:
Name: {!Get_Service_Contract.ContractNumber}
ID: {!Get_Service_Contract.Id}
Originally available Hours: {!Get_Service_Contract.GDMFSL_ATS_PM_Hours__c}
Actual Time Consumed (PM): {!Get_Service_Contract.GDMFSL_Actual_Time_Consumed_PM_Hours__c}
Remaining ATS PM Hours: {!Get_Service_Contract.GDMFSL_Remaining_PM_Hours__c}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectBF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATS BF Hours exhausted for Contract {!Get_Service_Contract.ContractNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectPM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATS PM Hours exhausted for Contract {!Get_Service_Contract.ContractNumber}</text>
    </textTemplates>
    <variables>
        <name>EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theSC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>TypeOfHoursExhausted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BF</stringValue>
        </value>
    </variables>
</Flow>
