src/flows/GDMFSL_Service_Territory_Holiday_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_ServRes_to_Collection</name>
        <label>add ServRes to Collection</label>
        <locationX>657</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>servTerrToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_all_Sel_ServTerr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_all_Sel_ServTerr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_a_ServTerr</name>
        <label>update a ServTerr</label>
        <locationX>364</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>for_all_Sel_ServTerr.GDMFSL_Holiday_Processing_Range_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HolProcessStartDate_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_all_Sel_ServTerr.GDMFSL_Holiday_Processing_Range_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HolProcessEndDate_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_ServRes_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_ServTerr_Selected</name>
        <label>is ServTerr Selected</label>
        <locationX>357</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>for_all_Sel_ServTerr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelServTerrsCheck</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>for_all_Sel_ServTerr.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_a_ServTerr</targetReference>
            </connector>
            <label>is Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>allServiceTerritories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedRegion</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>availRegions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Region__c</picklistField>
        <picklistObject>ServiceTerritory</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>GDMFSL_Service_Territory_Holiday_Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL_Service_Territory_Holiday_Processing</label>
    <loops>
        <name>for_all_Sel_ServTerr</name>
        <label>for all Sel ServTerr</label>
        <locationX>660</locationX>
        <locationY>304</locationY>
        <collectionReference>getActiveServTerrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_ServTerr_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>save_the_changes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getActiveServTerrs</name>
        <label>getActiveServTerrs</label>
        <locationX>737</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_all_Sel_ServTerr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedRegion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>save_the_changes</name>
        <label>save the changes</label>
        <locationX>908</locationX>
        <locationY>304</locationY>
        <inputReference>servTerrToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Holiday_Process_Entry</name>
        <label>Holiday Process Entry</label>
        <locationX>586</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getActiveServTerrs</targetReference>
        </connector>
        <fields>
            <name>page_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Service Territory Holiday Processing&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select one or more Service Territories from the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!selectedRegion}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; region to be Holiday processed between &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!HolProcessStartDate_0} &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;and &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!HolProcessEndDate_0}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; when ready and holidays will be processed for all Service Resources in the selected Service Territories.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelServTerrsCheck</name>
            <choiceReferences>allServiceTerritories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Service Territories to Include</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Holiday_Process_Entry_0</name>
        <label>Holiday Process Entry</label>
        <locationX>401</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Holiday_Process_Entry</targetReference>
        </connector>
        <fields>
            <name>page_text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Service Territory Holiday Processing&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Enter the date range to process holidays and then select the Region to be used.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to select the Service Territories in that Region.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HolProcessStartDate_0</name>
            <dataType>Date</dataType>
            <fieldText>Holiday Processing Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HolProcessEndDate_0</name>
            <dataType>Date</dataType>
            <fieldText>Holiday Processing End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>selectedRegion</name>
            <choiceReferences>availRegions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Region for Processing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Holiday_Process_Entry_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aServTerr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>servTerrIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servTerrToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
</Flow>
