src/flows/GDMFSL_Create_Case_from_Location_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Id_and_Name</name>
        <label>Assign Id and Name</label>
        <locationX>1180</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.GDMFSL_Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocAuthorizedCallers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.GDMFSL_Need_Auth_Caller__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Authorized_Callers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Record_and_Add_to_Count</name>
        <label>Assign Last Record and Add to Count</label>
        <locationX>1596</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>AuthorizedCallersNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loc_No_and_Last_Record</name>
        <label>Assign Loc No and Last Record</label>
        <locationX>453</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>LocationNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Locations_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Locations_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Location</name>
        <label>Assign Single Location</label>
        <locationX>1165</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>LocationNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Location_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Case</name>
        <label>Assign Values to Case</label>
        <locationX>2228</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_type_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Site_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>siteContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Ship_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.GDMFSL_Ship_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationRecord.GDMFSL_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Contract_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Accounts</name>
        <label>Clear Accounts</label>
        <locationX>2313</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_Accounts_from_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Accounts_0</name>
        <label>Clear Accounts</label>
        <locationX>2762</locationX>
        <locationY>1951</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CallBillTOSoldTOAccountSelectionFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accounts_from_Contract</name>
        <label>Set Accounts from Contract</label>
        <locationX>2313</locationX>
        <locationY>2086</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract_Details.GDMFSL_Bill_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SourceSystem_Accounts</name>
        <label>Set SourceSystem Accounts</label>
        <locationX>2523</locationX>
        <locationY>2312</locationY>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Sold_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSoldToPartnerAccRelObject.Partner_Account_Source_System__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.Bill_To_Source_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBillToPartnerAc.Partner_Account_Source_System__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.GDMFSL_Bill_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBillToPartnerAc.Partner_Account_Source_System__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSoldToPartnerAccRelObject.Partner_Account_Source_System__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceAuthorizedCallerNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceServiceContractNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceSiteContactNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Location_Numbers</name>
        <label>Check Location Numbers</label>
        <locationX>1159</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>No_Location_final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Location</defaultConnectorLabel>
        <rules>
            <name>Multiple_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Location_Screen</targetReference>
            </connector>
            <label>Multiple Locations</label>
        </rules>
        <rules>
            <name>Single_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_and_Name</targetReference>
            </connector>
            <label>Single Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Search_Location</name>
        <label>Check Search Location</label>
        <locationX>984</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>No Search</defaultConnectorLabel>
        <rules>
            <name>Search_for_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Search_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_location</targetReference>
            </connector>
            <label>Search for Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Selected</name>
        <label>Contract Selected</label>
        <locationX>2502</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Clear_Accounts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Contract_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Accounts</targetReference>
            </connector>
            <label>Has Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Empty</name>
        <label>Is Location Empty</label>
        <locationX>717</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>No_Asset_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Location Value</defaultConnectorLabel>
        <rules>
            <name>Location_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsLocationIdEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_by_ID</targetReference>
            </connector>
            <label>Location Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Authorized_Callers</name>
        <label>Needs Authorized Callers?</label>
        <locationX>1172</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Get_All_Active_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocAuthorizedCallers</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Authorized_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DTXFSL-8981 - Added changes related to making Site Contact NOT mandatory
DTXFSL-9457 + 9491 - Antje: Added additional None option to Authorized and site contact where missing and removed No caller screen</description>
    <dynamicChoiceSets>
        <name>ActiveContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecord.GDMFSL_Ship_To_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetChioceSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Asset_Info_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationRecord.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuthorizedContactChoiseSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Is_Authorized_Caller__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOriginPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This set holds only picklist values that are valid for the Case record type GDMFSL Service Request</description>
        <name>CaseOriginRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Origin_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasePriorityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasePriorityRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Priority_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonRecordTypeBasedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Reason_GDMFSLServiceRequest__c</picklistField>
        <picklistObject>RecordType_Picklist_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseReasonsChioceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationChioceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Location_Name_Search_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_AKA_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Location_Name_Search_Text</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>LocAuthorizedCallers</assignToReference>
            <field>GDMFSL_Need_Auth_Caller__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>GDMFSL_Ship_To_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceContractsTbl</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Associated_Contract_Name_ATS_BF__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Associated_Contract__c</object>
        <outputAssignments>
            <assignToReference>ContractId</assignToReference>
            <field>Service_Contract__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contract_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contract_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>stores Site Contacts Choice Set</description>
        <name>SiteContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GDMFSL_Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_IsSiteContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>siteContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>siteContactName</assignToReference>
            <field>GDMFSL_Contact_Name__c</field>
        </outputAssignments>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GDMFSL_Contact_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>IsLocationIdEmpty</name>
        <dataType>Boolean</dataType>
        <expression>IF (ISBLANK({!recordId}),true,false)</expression>
    </formulas>
    <interviewLabel>GDMFSL Create Case from Location New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Create Case from Location New</label>
    <loops>
        <name>Check_for_Locations_No</name>
        <label>Check for Locations No</label>
        <locationX>744</locationX>
        <locationY>775</locationY>
        <collectionReference>Get_Locations_Table</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loc_No_and_Last_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Location_Numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Authorized_Callers</name>
        <label>Loop through Authorized Callers</label>
        <locationX>1609</locationX>
        <locationY>1283</locationY>
        <collectionReference>AuthorizedCallersTable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_Record_and_Add_to_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Authorized_Caller_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>2313</locationX>
        <locationY>2269</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <inputReference>NewCaseToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_Contacts</name>
        <label>Get All Active Contacts</label>
        <locationX>1382</locationX>
        <locationY>1144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AuthorizedCallersTable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>GDMFSL_Contact_Name__c</queriedFields>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorized_Contacts</name>
        <label>Get Authorized Contacts</label>
        <locationX>1182</locationX>
        <locationY>1413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Authorized_Callers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Is_Authorized_Caller__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AuthorizedCallersTable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>GDMFSL_Contact_Name__c</queriedFields>
        <sortField>GDMFSL_Contact_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_by_ID</name>
        <label>Get Location by ID</label>
        <locationX>1164</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Single_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>locationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>GDMFSL_Ship_To_Account__c</queriedFields>
        <queriedFields>GDMFSL_Need_Auth_Caller__c</queriedFields>
        <queriedFields>GDMFSL_SAP_Customer_Number__c</queriedFields>
        <queriedFields>GDMFSL_Region__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations_Table</name>
        <label>Get Locations Table</label>
        <locationX>745</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Locations_No</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Location_Name_Search_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_AKA_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Location_Name_Search_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>GDMFSL_Ship_To_Account__c</queriedFields>
        <queriedFields>GDMFSL_Need_Auth_Caller__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>2162</locationX>
        <locationY>2269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseToCreate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_type_0</name>
        <label>Get Record type</label>
        <locationX>2219</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GDMFSL_Service Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract_Details</name>
        <label>Get Service Contract Details</label>
        <locationX>2419</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>GDMFSL_Bill_to_Account__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillToPartnerAc</name>
        <label>GetBillToPartnerAccRelObject</label>
        <locationX>2752</locationX>
        <locationY>2321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SourceSystem_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToAccPartnerRelRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Partner_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSoldToPartnerAccRelObject</name>
        <label>GetSoldToPartnerAccRelObject</label>
        <locationX>2949</locationX>
        <locationY>2353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillToPartnerAc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSoldToAccPartnerRelRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Partner_Relationship__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CaseMessage</name>
        <label>CaseMessage</label>
        <locationX>1997</locationX>
        <locationY>2269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Case {!Get_New_Case.CaseNumber} was created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Screen</name>
        <label>Create Case Screen</label>
        <locationX>2062</locationX>
        <locationY>1584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_type_0</targetReference>
        </connector>
        <fields>
            <name>Selected_Values_Disp_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Location:&lt;/b&gt; {!LocName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Authorized Caller:&lt;/b&gt; {!ContactName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Site Contact: &lt;/b&gt;{!siteContactName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Contract_Radio</name>
            <choiceReferences>ServiceContractsTbl</choiceReferences>
            <choiceReferences>ChoiceServiceContractNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Contract</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaseOrigin</name>
            <choiceReferences>CaseOriginRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseReason</name>
            <choiceReferences>CaseReasonRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CasePriority</name>
            <choiceReferences>CasePriorityRecordTypeBasedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseSubject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Asset</name>
            <choiceReferences>AssetChioceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Asset_Value</name>
        <label>No Location Value</label>
        <locationX>984</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Search_Location</targetReference>
        </connector>
        <fields>
            <name>Loc_not_Found_Label</name>
            <fieldText>&lt;p&gt;Location Information cannot be found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Search_Location</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you want to Search Location?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Location_final_Screen</name>
        <label>No_Location_final_Screen</label>
        <locationX>1488</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Location_Disp_Text</name>
            <fieldText>&lt;p&gt;No Location was found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_location</name>
        <label>Search location</label>
        <locationX>745</locationX>
        <locationY>460</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Locations_Table</targetReference>
        </connector>
        <fields>
            <name>Location_Name_Search_Text</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Type in the full name or partial name&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Authorized_Caller_Screen</name>
        <label>Select Authorized Caller Screen</label>
        <locationX>1808</locationX>
        <locationY>1389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Site_Contact</targetReference>
        </connector>
        <fields>
            <name>Select_Authorized_Caller</name>
            <choiceReferences>AuthorizedContactChoiseSet</choiceReferences>
            <choiceReferences>ChoiceAuthorizedCallerNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Authorized Caller</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>locationRecord.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Authorized_Caller2</name>
            <choiceReferences>ActiveContactChoiceSet</choiceReferences>
            <choiceReferences>ChoiceAuthorizedCallerNone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Authorized Caller</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>locationRecord.GDMFSL_Need_Auth_Caller__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Location_Screen</name>
        <label>Select Location Screen</label>
        <locationX>907</locationX>
        <locationY>910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Needs_Authorized_Callers</targetReference>
        </connector>
        <fields>
            <name>Select_a_Location</name>
            <choiceReferences>LocationChioceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Location:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Contact</name>
        <label>Select Site Contact Screen</label>
        <locationX>2061</locationX>
        <locationY>1464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Screen</targetReference>
        </connector>
        <fields>
            <name>SiteContactChoices</name>
            <choiceReferences>SiteContactChoiceSet</choiceReferences>
            <choiceReferences>ChoiceSiteContactNone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ChoiceServiceContractNone</elementReference>
            </defaultValue>
            <fieldText>Select Site Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Is_Location_Empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallBillTOSoldTOAccountSelectionFlow</name>
        <label>CallBillTOSoldTOAccountSelectionFlow</label>
        <locationX>2743</locationX>
        <locationY>2113</locationY>
        <connector>
            <targetReference>GetSoldToPartnerAccRelObject</targetReference>
        </connector>
        <flowName>GDMFSL_SOLDTO_BILLTO_Flow</flowName>
        <inputAssignments>
            <name>varLocation</name>
            <value>
                <elementReference>locationRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBillToAccPartnerRelRecordID</assignToReference>
            <name>varBillToRecordID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSoldToAccPartnerRelRecordID</assignToReference>
            <name>varSoldToRecordID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizedCallerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AuthorizedCallersNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AuthorizedCallersTable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LocAuthorizedCallers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LocName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Asset&apos;s Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowCallersSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>siteContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillToAccPartnerRelRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSoldToAccPartnerRelRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
