src/flows/GDMFSL_Integration_Travel_Labor_SKU_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddtoCanoColl</name>
        <label>AddtoCanoColl</label>
        <locationX>1504</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>theCanoColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughtAlltheTSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTravelToCanoColl</name>
        <label>AddTravelToCanoColl</label>
        <locationX>1199</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>theCanoColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TravelHasMileage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCountOfMetaData</name>
        <label>AssignCountOfMetaData</label>
        <locationX>488</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>MetaDataCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTheMetaData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMetadataforMileage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMileageCanoToCollection</name>
        <label>AssignMileageCanoToCollection</label>
        <locationX>73</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>theCanoColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theTSECano</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughtAlltheTSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMileageMultiplier</name>
        <label>AssignMileageMultiplier</label>
        <locationX>96</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>MileageLaborMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMileageMetaData.SAP_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughMileageMetaData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMileageToCanoRecord</name>
        <label>AssignMileageToCanoRecord</label>
        <locationX>50</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SURCHARGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SKF-Mileage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage_SKF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MileageLaborMultiplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.GDMFSL_Distance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_SKF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.GDMFSL_Travel_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignMileageCanoToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToLoopCollection</name>
        <label>AssignToLoopCollection</label>
        <locationX>777</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loopColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAllLaborAndTravelTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughtAlltheTSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuestoCanoRecord</name>
        <label>AssignValuestoCanoRecord</label>
        <locationX>1606</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SURCHARGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SKF-Labor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAPCODE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.GDMFSL_Invoicing_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_SKF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage_SKF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCanoColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuestoCanoRecord_0</name>
        <label>AssignValuestoCanoRecord</label>
        <locationX>1596</locationX>
        <locationY>1312</locationY>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Time_Sheet_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Technician_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Related_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Service_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SURCHARGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Approver_EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.Manager.EID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.SAP_Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.WorkType_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.WorkType.GDMFSL_WorkType_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Interface_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SKF-Travel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Labor_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAPCODE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.GDMFSL_Invoicing_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_SKF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Distance__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.WorkOrder.ServiceTerritory.OperatingHours.TimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Integration_Status_Mileage_SKF__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theTSECano.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddTravelToCanoColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariables</name>
        <label>AssignVariables</label>
        <locationX>509</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>varTSEClassification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughtAlltheTSEs.GDMFSL_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTheMetaData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAPCODE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckActivityTypeisNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DecreaseMetaDataCount</name>
        <label>DecreaseMetaDataCount</label>
        <locationX>600</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>MetaDataCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckClassification_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetTheFlag</name>
        <label>ResetTheFlag</label>
        <locationX>1389</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>theFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetSAPCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSAPCode</name>
        <label>SetSAPCode</label>
        <locationX>1214</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>SAPCODE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMetaDataItems.SAP_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfFlagisSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckActivityTypeisNotNull</name>
        <label>CheckActivityTypeisNotNull</label>
        <locationX>603</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>CheckClassifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActivityType_NotNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_Activity_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughMetaDataItems</targetReference>
            </connector>
            <label>ActivityType_NotNULL</label>
        </rules>
        <rules>
            <name>ActivityType_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_Activity_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckClassifications</targetReference>
            </connector>
            <label>ActivityType_NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckClassification_1</name>
        <label>CheckClassification_1</label>
        <locationX>551</locationX>
        <locationY>1171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Labor_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckTheSAPCode_Labor</targetReference>
            </connector>
            <label>Labor_1</label>
        </rules>
        <rules>
            <name>Travel_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSAPCode_Travel</targetReference>
            </connector>
            <label>Travel_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckClassifications</name>
        <label>CheckClassifications</label>
        <locationX>1312</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Labor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuestoCanoRecord</targetReference>
            </connector>
            <label>Labor</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTSEClassification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuestoCanoRecord_0</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfFlagisSet</name>
        <label>CheckIfFlagisSet</label>
        <locationX>1125</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>LoopThroughMetaDataItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flag=false</defaultConnectorLabel>
        <rules>
            <name>Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckClassifications</targetReference>
            </connector>
            <label>Flag=True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSAPCode_Travel</name>
        <label>CheckSAPCode_Travel</label>
        <locationX>742</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>CheckIfFlagisSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAPCodeNOTFound</defaultConnectorLabel>
        <rules>
            <name>SAPCodeFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughMetaDataItems.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel Hours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughMetaDataItems.TSE_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughtAlltheTSEs.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetTheFlag</targetReference>
            </connector>
            <label>SAPCodeFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecktheCountStatus</name>
        <label>ChecktheCountStatus</label>
        <locationX>1084</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>CheckClassifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MetaDataCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckClassifications</targetReference>
            </connector>
            <label>Count=0</label>
        </rules>
        <rules>
            <name>MetaDataCountGt0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MetaDataCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughMetaDataItems</targetReference>
            </connector>
            <label>MetaDataCountGt0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTheSAPCode_Labor</name>
        <label>CheckTheSAPCode-Labor</label>
        <locationX>591</locationX>
        <locationY>1380</locationY>
        <defaultConnector>
            <targetReference>CheckIfFlagisSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MatchNotFound</defaultConnectorLabel>
        <rules>
            <name>MatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughMetaDataItems.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_Activity_Type__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughMetaDataItems.TSE_Pay_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughtAlltheTSEs.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetTheFlag</targetReference>
            </connector>
            <label>MatchFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindMileageMetaDataItem</name>
        <label>FindMileageMetaDataItem</label>
        <locationX>90</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>LoopThroughMileageMetaData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMatch</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughMileageMetaData.Activity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughtAlltheTSEs.TimeSheet.Owner:User.GDMFSL_Travel_UOM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMileageMultiplier</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfMileageMetaItemAlreadyExist</name>
        <label>IfMileageMetaItemAlreadyExist</label>
        <locationX>314</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>FindMileageMetaDataItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ItemDoesNotExist</defaultConnectorLabel>
        <rules>
            <name>ItemExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MileageLaborMultiplier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMileageToCanoRecord</targetReference>
            </connector>
            <label>ItemExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin</name>
        <label>Origin</label>
        <locationX>409</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FromWOExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllLaborAndTravelTSE</targetReference>
            </connector>
            <label>FromWOExport</label>
        </rules>
    </decisions>
    <decisions>
        <name>TravelHasMileage_0</name>
        <label>TravelHasMileage&gt;0</label>
        <locationX>985</locationX>
        <locationY>1486</locationY>
        <defaultConnector>
            <targetReference>LoopThroughtAlltheTSEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mileage=0</defaultConnectorLabel>
        <rules>
            <name>Mileage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughtAlltheTSEs.GDMFSL_Distance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughMileageMetaData</targetReference>
            </connector>
            <label>Mileage&gt;0</label>
        </rules>
    </decisions>
    <description>Combined Variables settings into one assignment block - DTXFSL=-9665</description>
    <formulas>
        <name>Branch</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_Profit_Center__r.Name}+&apos;_&apos;+
{!LoopThroughtAlltheTSEs.WorkOrder.GDMFSL_Sales_Organization__c}+&apos;_&apos;+{!SAPBranch}</expression>
    </formulas>
    <interviewLabel>GDMFSL_Integration_Travel_Labor_SKU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL_Integration_Travel_Labor_SKU_Flow</label>
    <loops>
        <name>LoopThroughMetaDataItems</name>
        <label>LoopThroughMetaDataItems</label>
        <locationX>516</locationX>
        <locationY>897</locationY>
        <collectionReference>GetTheMetaData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecreaseMetaDataCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ChecktheCountStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughMileageMetaData</name>
        <label>LoopThroughMileageMetaData</label>
        <locationX>431</locationX>
        <locationY>1489</locationY>
        <collectionReference>GetMetadataforMileage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IfMileageMetaItemAlreadyExist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignMileageToCanoRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughtAlltheTSEs</name>
        <label>LoopThroughtAlltheTSEs</label>
        <locationX>994</locationX>
        <locationY>482</locationY>
        <collectionReference>loopColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCanoRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCanoRecords</name>
        <label>CreateCanoRecords</label>
        <locationX>1230</locationX>
        <locationY>409</locationY>
        <inputReference>theCanoColl</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Branch</name>
        <label>Get Branch</label>
        <locationX>859</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTheMetaData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWO.WorkType.GDMFSL_Discipline__r.Name</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Branch__mdt</object>
        <outputAssignments>
            <assignToReference>SAPBranch</assignToReference>
            <field>SAP_Discipline__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAllLaborAndTravelTSE</name>
        <label>GetAllLaborAndTravelTSE</label>
        <locationX>621</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignToLoopCollection</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Labor</stringValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMetadataforMileage</name>
        <label>GetMetadataforMileage</label>
        <locationX>683</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Origin</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDMFSL_TS_Labor_Multiplier__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTheMetaData</name>
        <label>GetTheMetaData</label>
        <locationX>294</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCountOfMetaData</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GDMFSL_TS_Labor_Multiplier__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWO</name>
        <label>GetWO</label>
        <locationX>729</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>279</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CanoColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>loopColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>MetaDataCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MileageLaborMultiplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPCODE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theCanoColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theTSECano</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>theTSECanoResetter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Integration_Timesheet_Canonical__c</objectType>
    </variables>
    <variables>
        <name>TSEUIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMileage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTSEClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
