src/flows/GDMFSL_Create_New_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Offsite_Asset_to_new_Asset</name>
        <label>Assign Offsite Asset to new Asset</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Off_Jobsite_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Off_Jobsite_System_asset_association</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset_with_manual_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Asset_to_new_Asset</name>
        <label>Assign Parent Asset to new Asset</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsOffsiteAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_new_Asset</name>
        <label>Assign Values to new Asset</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saObject.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Access_and_Egress_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Access_and_Egress_Factor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Additional_Equipment_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Equipment_Requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Area_supplied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Supplied</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Criticality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criticality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Digital_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digital_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Energy_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Equipment_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Make_Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Equipment_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Firmware_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firmware_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Parts_and_Consumables__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parts_and_Consumables</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Permit_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Statutory_Compliance_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statutory_Compliance_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Sub_Location_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Supply_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supply_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saObject.GDMFSL_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_No_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset2.Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Software_Version</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsWarrantyTypeSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WarrentyType_to_Asset</name>
        <label>Assign WarrentyType to Asset</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Warranty_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsParentAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Offsite_Asset</name>
        <label>Remove Offsite Asset</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Off_Jobsite_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset_with_manual_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Parent_Asset</name>
        <label>Remove Parent Asset</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsOffsiteAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set WarrentyType to NULL</description>
        <name>Remove_WarrentyType</name>
        <label>Remove WarrentyType</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newAsset2.GDMFSL_Warranty_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsParentAssetSelected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCriticalityLow</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <description>shows -- None --</description>
        <name>choiceNone</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>IsOffsiteAssetSelected</name>
        <label>IsOffsiteAssetSelected</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Remove_Offsite_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OffsiteAssetIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>OffsiteAssetIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Off_Jobsite_System_asset_association</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Off_Jobsite_System_asset_association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Offsite_Asset_to_new_Asset</targetReference>
            </connector>
            <label>OffsiteAssetIsSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentAssetSelected</name>
        <label>IsParentAssetSelected</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Remove_Parent_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentAssetIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>ParentAssetIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Asset</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Asset_to_new_Asset</targetReference>
            </connector>
            <label>ParentAssetIsSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element will review if the user has made a valid selection in several Picklists that accommodate for Lookups in this flow. As soon as a picklist with a record choice set is used, it is mandatory to select, even though it might not be required business wise. To accommodate for that a &quot;None&quot; option has been added and defaulted to, to allow a user to NOT to insert a valid object info. If a valid selection was done, the value will be assigned to the object. If not, nothing will be assigned to the object property as key (set to NULL).</description>
        <name>IsWarrantyTypeSelected</name>
        <label>IsWarrantyTypeSelected</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Remove_WarrentyType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WarrentyTypeIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>WarrantyTypeIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Warranty_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Warranty_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WarrentyType_to_Asset</targetReference>
            </connector>
            <label>WarrantyTypeIsSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Asset_Creation_Successful</name>
        <label>Was Asset Creation Successful</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <defaultConnectorLabel>AssetCreationWasNotSuccessful</defaultConnectorLabel>
        <rules>
            <name>AssetCreationWasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAsset2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenUploadAttachments</targetReference>
            </connector>
            <label>AssetCreationWasSuccessful</label>
        </rules>
    </decisions>
    <description>Antje: Added Calling Subflow to link the new asset with the WO (rolled back to this one due to request from Yogesh)</description>
    <dynamicChoiceSets>
        <name>choiceAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceMake</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GDMFSL_Equipment_Make__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist Values from Asset.Criticality picklist</description>
        <name>choicePLCriticality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Criticality__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values from Asset.GDMFSL_Energy_Source__c</description>
        <name>choicePLEnergySource</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Energy_Source__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values of Asset.GDMFSL_Warranty_Type__c</description>
        <name>choicePLWarrantyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Warranty_Type__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceProduct</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>GDMFSL Create New Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Create New Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>This can be replaced again with just Create Asset with &quot;newAsset&quot; properties, but that stopped working because the ID after creation is not assigned anymore to the object. Instead when demanding that the ID should be stored in a variable it seems to work.</description>
        <name>Create_Asset_with_manual_assignments</name>
        <label>Create Asset with manual assignments</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <assignRecordIdToReference>textNewAssetID</assignRecordIdToReference>
        <connector>
            <targetReference>Was_Asset_Creation_Successful</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newAsset2.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Access_and_Egress_Factor__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Access_and_Egress_Factor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Additional_Equipment_Requirements__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Additional_Equipment_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Approval_Status__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Area_supplied__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Area_supplied__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Criticality__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Criticality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Digital_ID__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Digital_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Energy_Source__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Energy_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Equipment_Make__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Equipment_Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Equipment_Model__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Equipment_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Firmware_Version__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Firmware_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_No_Serial_Number__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_No_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Off_Jobsite_System__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Off_Jobsite_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Parts_and_Consumables__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Parts_and_Consumables__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Permit_Requirements__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Permit_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Statutory_Compliance_Date__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Statutory_Compliance_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Sub_Location_text__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Sub_Location_text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Supply_Date__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Supply_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Warranty_Type__c</field>
            <value>
                <elementReference>newAsset2.GDMFSL_Warranty_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>newAsset2.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newAsset2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>newAsset2.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>newAsset2.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>newAsset2.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>newAsset2.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>newAsset2.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Version__c</field>
            <value>
                <elementReference>newAsset2.Software_Version__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Get_current_WO</name>
        <label>Get current WO</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>saObject.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>saObject.GDMFSL_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>locationObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>saObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>GDMFSL_Location__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>New_Asset</name>
        <label>New Asset</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_new_Asset</targetReference>
        </connector>
        <fields>
            <name>Asset_Name</name>
            <dataType>String</dataType>
            <fieldText>Asset Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Digital_ID</name>
            <dataType>String</dataType>
            <fieldText>Digital ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_ProductId</name>
            <choiceReferences>choiceProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product ID</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <fieldText>&lt;p&gt;Location: {!locationObject.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Area_Supplied</name>
            <dataType>String</dataType>
            <fieldText>Area Supplied</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sub_Location</name>
            <dataType>String</dataType>
            <fieldText>Sub Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipment_Make_Manufacturer</name>
            <choiceReferences>choiceMake</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipment Make (Manufacturer)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Serial_Number</name>
            <dataType>Boolean</dataType>
            <fieldText>No Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a Serial Number or tick the checkbox &quot;No Serial Number&quot;. Tick the checkbox only if the Serial Number field is empty.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
AND({!No_Serial_Number} = TRUE, ISBLANK({!Serial_Number})), 
AND({!No_Serial_Number} = FALSE, ISBLANK({!Serial_Number}) = FALSE)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a value greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Criticality</name>
            <choiceReferences>choiceCriticalityLow</choiceReferences>
            <choiceReferences>choicePLCriticality</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCriticalityLow</defaultSelectedChoiceReference>
            <fieldText>Criticality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parts_and_Consumables</name>
            <fieldText>Parts and Consumables</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Access_and_Egress_Factor</name>
            <dataType>Number</dataType>
            <fieldText>Access and Egress Factor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Statutory_Compliance_Date</name>
            <dataType>Date</dataType>
            <fieldText>Statutory Compliance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Off_Jobsite_System_asset_association</name>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choiceAssets</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceNone</defaultSelectedChoiceReference>
            <fieldText>Off Jobsite System / asset association</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Permit_Requirements</name>
            <dataType>Boolean</dataType>
            <fieldText>Permit Requirements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Equipment_Requirements</name>
            <fieldText>Additional Equipment Requirements</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Software_Version</name>
            <dataType>String</dataType>
            <fieldText>Software Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Firmware_Version</name>
            <dataType>String</dataType>
            <fieldText>Firmware Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Energy_Source</name>
            <choiceReferences>choicePLEnergySource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Energy Source</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Warranty_Type</name>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choicePLWarrantyType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceNone</defaultSelectedChoiceReference>
            <fieldText>Warranty Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supply_Date</name>
            <dataType>Date</dataType>
            <fieldText>Supply Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Asset</name>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choiceAssets</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceNone</defaultSelectedChoiceReference>
            <fieldText>Parent Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenUploadAttachments</name>
        <label>ScreenUploadAttachments</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Link_Asset_to_WO</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>textNewAssetID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Gives the option to link the new created Asset to the current WO</description>
        <name>Link_Asset_to_WO</name>
        <label>Link Asset to WO</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <flowName>GDMFSL_Add_Asset_to_WO</flowName>
        <inputAssignments>
            <name>BoolIsNewAsset</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetDigitalId</name>
            <value>
                <elementReference>newAsset2.GDMFSL_Digital_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetId</name>
            <value>
                <elementReference>textNewAssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssetLocationId</name>
            <value>
                <elementReference>newAsset2.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varServiceAppointment</name>
            <value>
                <elementReference>saObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWOLocationId</name>
            <value>
                <elementReference>currWO.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>saObject.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkTypeId</name>
            <value>
                <elementReference>saObject.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Stores the uploaded File Content Ids</description>
        <name>FileContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Names of uploaded files.</description>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Object that the new asset is saved to</description>
        <name>newAsset2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>productObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>saObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>statusDraft</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
    <variables>
        <name>textNewAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
