src/flows/GDMFSL_Link_Asset_to_WO_DESKTOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Asset_to_WOLI</name>
        <label>Assign Asset to WOLI</label>
        <locationX>905</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>theNewWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Asset_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Asset_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Asset_to_WO</name>
        <label>Add Asset to WO</label>
        <locationX>524</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset_Location_does_not_match_WO_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_this_Asset_to_the_Current_Work_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Asset_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varWOLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLocationDoesNotMatch</targetReference>
            </connector>
            <label>Yes - Asset Location does not match WO Location</label>
        </rules>
        <rules>
            <name>Yes_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_this_Asset_to_the_Current_Work_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Asset_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssetLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varWOLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_WOLI_without_Asset</targetReference>
            </connector>
            <label>Yes - Create WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_WOLI_without_Asset</name>
        <label>Found WOLI without Asset?</label>
        <locationX>894</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Create_New_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WOLINoAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theNewWOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_to_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the boolean BoolIsNewAsset to either loop through WOLI items or directly go to the creation and association of new WOLI for the WO.</description>
        <name>IsAssetNewAsset</name>
        <label>IsAssetNewAsset</label>
        <locationX>155</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Get_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNoNewAsset</defaultConnectorLabel>
        <rules>
            <name>IsNewAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoolIsNewAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_to_Work_Order</targetReference>
            </connector>
            <label>IsNewAsset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_Asset_Id</name>
        <label>Matches Asset Id</label>
        <locationX>366</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>WOLI_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentWOLI.AssetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varAssetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will create a new WOLI and associate it with Asset and WO unless there already exists a WOLI for that asset. Needed input variables: SA object (varServiceAppointment) with ParentRecordId and WorktypeId, varAssetId (Id of the Asset), BoolIsNewAsset (default false and then WOLIs will be checked, to be set to true when called from Create New Asset flow). DTXFSL-9069 - fixing not to use canceled or finished WOLIs</description>
    <interviewLabel>GDMFSL Link Asset to WO DESKTOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Link Asset to WO DESKTOP</label>
    <loops>
        <name>WOLI_Loop</name>
        <label>WOLI Loop</label>
        <locationX>376</locationX>
        <locationY>459</locationY>
        <assignNextValueToReference>varCurrentWOLI</assignNextValueToReference>
        <collectionReference>varWorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_Asset_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Asset_to_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_WOLI</name>
        <label>Create New WOLI</label>
        <locationX>1039</locationX>
        <locationY>244</locationY>
        <assignRecordIdToReference>varNewWOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>WOLI_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>varWorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <description>All Work Order Line Items related to the selected Work Order</description>
        <name>Get_WOLIs</name>
        <label>Get WOLIs</label>
        <locationX>162</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>varWorkOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_for_WOLI_without_Asset</name>
        <label>Search for WOLI without Asset</label>
        <locationX>743</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_WOLI_without_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>theNewWOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>1039</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>WOLI_Added</targetReference>
        </connector>
        <inputReference>theNewWOLI</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Asset_to_Work_Order</name>
        <label>Add Asset to Work Order?</label>
        <locationX>375</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Asset_to_WO</targetReference>
        </connector>
        <fields>
            <name>Add_this_Asset_to_the_Current_Work_Order</name>
            <choiceReferences>Add_Asset_Yes</choiceReferences>
            <choiceReferences>Add_Asset_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Add_Asset_Yes</defaultSelectedChoiceReference>
            <fieldText>Add this Asset to the Current Work Order?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Asset_Confirmation</name>
        <label>Asset Confirmation</label>
        <locationX>553</locationX>
        <locationY>661</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Asset_Already_Associated</name>
            <fieldText>&lt;p&gt;This asset is already associated with the Work Order Line Item {!varCurrentWOLI.LineItemNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenLocationDoesNotMatch</name>
        <label>screenLocationDoesNotMatch</label>
        <locationX>535</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textLocationDoesNotMatch</name>
            <fieldText>&lt;p&gt;The location of the Asset does not match the location of the WO and cannot be added to the WO.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WOLI_Added</name>
        <label>WOLI Added</label>
        <locationX>1231</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WOLI_Created</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Asset with Digital Id ({!varAssetDigitalId}) has been associated with a Work Order Line Item on this Work Order.  Click Finish to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsAssetNewAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Determines if an Asset is a new Asset or not (if this flow is called by the Create new Asset flow, the asset is new and we do not need to loop over all WOLI items to check for an existing WOLI). Default value is false.</description>
        <name>BoolIsNewAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The Id of the Work Order used to begin this flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theNewWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varAssetDigitalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssetLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varNewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varNewAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewWOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varWOLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varWorkTypeBreakFixId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
