src/flows/GDMFSL_Wrap_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Activity_Type_value_to_Related_WorkOrder</name>
        <label>Assign Activity Type value to Related WorkOrder</label>
        <locationX>1605</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityTypePickList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Follow_Up_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Value</name>
        <label>Assign Default Value</label>
        <locationX>1416</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>DefaultDurationInMintuesVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultDurationInMinutesFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTravelTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Labor_and_Travel_Initial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Follow_Up_Values</name>
        <label>Assign Follow Up Values</label>
        <locationX>889</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow Up Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Follow_Up_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Incomplete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Follow_Up_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Incomplete_Values</name>
        <label>Assign Incomplete Values</label>
        <locationX>1928</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Incomplete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncompleteReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Incomplete_Reason_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncompleteReasonNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Incomplete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncompleteReasonPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Incomplete_Reason_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncompleteReasonNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Travel_Time_Chargeable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Labor_Time_Chargeable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Labor_and_Travel_Initial</name>
        <label>Assign Labor and Travel Initial</label>
        <locationX>1547</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>RegularVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultDurationInMintuesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PremiumVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Labor_Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Labor_Summary_Values</name>
        <label>Assign Labor Summary Values</label>
        <locationX>1853</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>RegularVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OTVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PremiumVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalPayTypeDurationInMinutesVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalPayTypeDurationInMinutesVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalPayTypeDurationInMinutesVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelEntered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelEntered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Travel_OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTravelEntered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Travel_Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssessDurationTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Follow_Up_Values</name>
        <label>Assign No Follow Up Values</label>
        <locationX>1588</locationX>
        <locationY>1266</locationY>
        <assignmentItems>
            <assignToReference>currSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderResolutionCodePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedWO.GDMFSL_Resolution_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderResolutionNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_Labor_and_Travel</name>
        <label>Assign SA Labor and Travel</label>
        <locationX>2056</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Regular_Labor_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_OT_Labor_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_PT_Labor_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Regular_Travel_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Regular_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_OT_Travel_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_OT_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_PT_Travel_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Premium_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_ActualStartTravel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryTravelStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Actual_Check_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Distance_Travelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_Distance_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Distance_UOM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.GDMFSL_ActualStartTravel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryTravelStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activity_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Values</name>
        <label>Assign Summary Values</label>
        <locationX>1416</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>SummaryTravelStartTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryTravelStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryWorkStartVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SummaryWorkEndVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SummaryWorkEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CompleteOption</name>
        <choiceText>Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>defaultDiscipline</name>
        <choiceText>{!currDiscipline}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currDiscipline</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultPayTypeChoice</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUpOption</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnableToComplete</name>
        <choiceText>Unable to Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Complete</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asses_Outcome</name>
        <label>Asses Outcome</label>
        <locationX>1406</locationX>
        <locationY>1073</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutcomePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CompleteOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Screen</targetReference>
            </connector>
            <label>Is Complete</label>
        </rules>
        <rules>
            <name>IsFollowUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutcomePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FollowUpOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_Required_Screen</targetReference>
            </connector>
            <label>Is Follow Up</label>
        </rules>
        <rules>
            <name>IsUnableToComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutcomePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnableToComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncompleteScreen</targetReference>
            </connector>
            <label>Is Unable To Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssessAssignToMe</name>
        <label>Assess Assign To Me</label>
        <locationX>879</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Assigned To Me</defaultConnectorLabel>
        <rules>
            <name>isAssignToMe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAssignedtoMe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateServiceAppointmentAssignToMe</targetReference>
            </connector>
            <label>Is Assign To Me</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssessDurationTimes</name>
        <label>AssessDurationTimes</label>
        <locationX>2046</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valuesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultDurationInMintuesVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalPayTypeDurationInMinutesVar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalTravelTimeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalTravelEntered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Labor_and_Travel</targetReference>
            </connector>
            <label>valuesMatch</label>
        </rules>
        <rules>
            <name>valuesDoNotMatch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DefaultDurationInMintuesVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TotalPayTypeDurationInMinutesVar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalTravelTimeVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TotalTravelEntered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeWarningScreen</targetReference>
            </connector>
            <label>valuesDoNotMatch</label>
        </rules>
    </decisions>
    <description>DTXFSL-8914</description>
    <dynamicChoiceSets>
        <name>DisciplineRecordValues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GDMFSL_Discipline__c</object>
        <outputAssignments>
            <assignToReference>SelectedDisciplineRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This pick list value set will offer Unit of measures</description>
        <name>DistanceUOM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Distance_UOM__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listOfDisciplines</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GDMFSL_Discipline__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceAppointmentIncompleteReasonOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Incomplete_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceAppointmentResolutionReasonOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Resolution_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TravelPayTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Travel_Pay_Type__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkOrderResolutionCodeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Resolution_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultDurationInMinutesFormula</name>
        <dataType>Number</dataType>
        <expression>({!SummaryWorkEndVar} - {!SummaryWorkStartVar})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FollowUpDueDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!EarliestStartDateFollowUp} + (8/24)</expression>
    </formulas>
    <formulas>
        <name>TotalTravelTimeFormula</name>
        <dataType>Number</dataType>
        <expression>({!SummaryWorkStartVar} - {!SummaryTravelStartTimeVar})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>GDMFSL Wrap Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Wrap Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_New_Assigned_Resource</name>
        <label>Create New Assigned Resource</label>
        <locationX>714</locationX>
        <locationY>1526</locationY>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>newSAId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>1072</locationX>
        <locationY>1350</locationY>
        <assignRecordIdToReference>newSAId</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>currSA.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>FollowUpDueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>AdditionalTimeRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>EarliestStartDateFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Follow_Up_Notes__c</field>
            <value>
                <elementReference>FollowUpNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_IsFollowUp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Location__c</field>
            <value>
                <elementReference>currSA.GDMFSL_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Vertical__c</field>
            <value>
                <elementReference>currSA.GDMFSL_Vertical__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>relatedWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>currSA.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>currSA.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceAppointmentAssignToMe</name>
        <label>Create Service Appointment Assign To Me</label>
        <locationX>714</locationX>
        <locationY>1354</locationY>
        <assignRecordIdToReference>newSAId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>currSA.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>FollowUpDueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>AdditionalTimeRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>EarliestStartDateFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Follow_Up_Notes__c</field>
            <value>
                <elementReference>FollowUpNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_IsFollowUp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Location__c</field>
            <value>
                <elementReference>currSA.GDMFSL_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Vertical__c</field>
            <value>
                <elementReference>currSA.GDMFSL_Vertical__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>relatedWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>FollowUpDueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>EarliestStartDateFollowUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>currSA.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>currSA.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Follow_Up_Record</name>
        <label>Update Follow Up Record</label>
        <locationX>888</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>AssessAssignToMe</targetReference>
        </connector>
        <inputReference>currSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateServiceAppointment</name>
        <label>Update Service Appointment</label>
        <locationX>1750</locationX>
        <locationY>1261</locationY>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
        <inputReference>currSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>Update Work Order</label>
        <locationX>1749</locationX>
        <locationY>1429</locationY>
        <inputReference>relatedWO</inputReference>
    </recordUpdates>
    <screens>
        <name>Activity_Type_Screen</name>
        <label>Activity Type Screen</label>
        <locationX>1843</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Activity_Type_value_to_Related_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!currentSAWorkType.GDMFSL_Discipline__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActivityTypePickList</name>
            <choiceReferences>listOfDisciplines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Activity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Screen</name>
        <label>Complete Screen</label>
        <locationX>1413</locationX>
        <locationY>1247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_No_Follow_Up_Values</targetReference>
        </connector>
        <fields>
            <name>WorkOrderResolutionCodePicklist</name>
            <choiceReferences>WorkOrderResolutionCodeOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WorkOrderResolutionNotes</name>
            <fieldText>Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Required_Screen</name>
        <label>Follow Up Required</label>
        <locationX>1071</locationX>
        <locationY>1071</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Follow_Up_Values</targetReference>
        </connector>
        <fields>
            <name>ServiceAppointmentReasonPicklist</name>
            <choiceReferences>ServiceAppointmentIncompleteReasonOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdditionalTimeRequired</name>
            <dataType>Number</dataType>
            <fieldText>Additional Time Required (in Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Additional Time needs to be greater than 0 minutes. &lt;/p&gt;</errorMessage>
                <formulaExpression>{!AdditionalTimeRequired}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EarliestStartDateFollowUp</name>
            <dataType>DateTime</dataType>
            <fieldText>Earliest Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsAssignedtoMe</name>
            <dataType>Boolean</dataType>
            <fieldText>Assign to Me ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>isFixedStartTime</name>
            <dataType>Boolean</dataType>
            <fieldText>Fixed Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FollowUpNotes</name>
            <fieldText>Follow Up Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Screen</name>
        <label>Follow Up ?</label>
        <locationX>1413</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asses_Outcome</targetReference>
        </connector>
        <fields>
            <name>OutcomePicklist</name>
            <choiceReferences>CompleteOption</choiceReferences>
            <choiceReferences>FollowUpOption</choiceReferences>
            <choiceReferences>UnableToComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncompleteScreen</name>
        <label>Incomplete Screen</label>
        <locationX>1924</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Incomplete_Values</targetReference>
        </connector>
        <fields>
            <name>IncompleteReasonPicklist</name>
            <choiceReferences>ServiceAppointmentIncompleteReasonOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incomplete Reason Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IncompleteReasonNotes</name>
            <dataType>String</dataType>
            <fieldText>Incomplete Reason Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Labor_Summary_Screen</name>
        <label>Labor Summary Screen</label>
        <locationX>1673</locationX>
        <locationY>694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Labor_Summary_Values</targetReference>
        </connector>
        <fields>
            <name>TravelSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Travel Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Travel_Regular_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>TotalTravelTimeVar</elementReference>
            </defaultValue>
            <fieldText>Regular Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Travel_OT_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>OT Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Travel_Premium_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Premium Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LaborSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Labor Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Regular_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DefaultDurationInMintuesVar</elementReference>
            </defaultValue>
            <fieldText>Regular Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OT_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>OTVar</elementReference>
            </defaultValue>
            <fieldText>OT Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Premium_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PremiumVar</elementReference>
            </defaultValue>
            <fieldText>Premium Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reminder_Screen</name>
        <label>Reminder Screen</label>
        <locationX>1414</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Summary_of_Work_Screen</targetReference>
        </connector>
        <fields>
            <name>Reminder_Message</name>
            <fieldText>&lt;p&gt;Make sure the following is done before starting the Work Wrap Up:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Steps Completed&lt;/li&gt;&lt;li&gt;Material Consumed&lt;/li&gt;&lt;li&gt;Expense Reported&lt;/li&gt;&lt;li&gt;Additional Charges&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_of_Work_Screen</name>
        <label>Summary of Work Screen</label>
        <locationX>1414</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Summary_Values</targetReference>
        </connector>
        <fields>
            <name>TimeStampSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Timestamp Summary&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SummaryTravelStartTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>currSA.GDMFSL_ActualStartTravel__c</elementReference>
            </defaultValue>
            <fieldText>Travel Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_Distance_Travelled</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Distance Travelled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>User_Distance_UOM</name>
            <choiceReferences>DistanceUOM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distance UOM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SummaryWorkStart</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>currSA.ActualStartTime</elementReference>
            </defaultValue>
            <fieldText>Work Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SummaryWorkEnd</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Work End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeWarningScreen</name>
        <label>TimeWarningScreen</label>
        <locationX>1990</locationX>
        <locationY>369</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Labor_Summary_Screen</targetReference>
        </connector>
        <fields>
            <name>TotalTravelWarningDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 18px;&quot;&gt;Total Labor and/or Travel mismatch:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TotalPayTypeDurationInMinutesDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Total Labor Time calculated is  {!DefaultDurationInMintuesVar} and Total Labor Duration entered is {!TotalPayTypeDurationInMinutesVar}&lt;/li&gt;&lt;li&gt;Total Travel Time calculated is  {!TotalTravelTimeVar} and Total Travel Duration entered is {!TotalTravelEntered}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1288</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Reminder_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currDiscipline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Work Type Record</description>
        <name>currentSAWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>currSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>DefaultDurationInMintuesVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newSAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PremiumVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RegularVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>relatedWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>SelectedDisciplineRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryTravelStartTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryWorkEndVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryWorkStartVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalPayTypeDurationInMinutesVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTravelEntered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalTravelTimeVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
