src/flows/GDMFSL_ServiceAppointment_Before_Update_OR_Insert_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_SA_Values</name>
        <label>Assign SA Values</label>
        <locationX>720</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent.Case.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Dead_Man_Switch_Timer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent.Location.GDMFSL_Default_Dead_Man_Switch_Timer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_WO_Parent</name>
        <label>Has WO Parent?</label>
        <locationX>574</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWOParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>166</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status?</label>
        <locationX>317</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <description>Before Update or Insert SA trigger</description>
    <interviewLabel>ServiceAppointment | Before Update OR Insert Triggers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceAppointment | Before Update OR Insert Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>470</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_WO_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
