src/flows/GDMFSL_Service_Contract_Before_Update_OR_Insert_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Reset_BF_Email_Flag</name>
        <label>Reset BF Email Flag</label>
        <locationX>505</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Email_BFHoursExhausted_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_PM_Email_Flag</name>
        <label>Reset PM Email Flag</label>
        <locationX>340</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Email_PMHoursExhausted_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ATS_BF_Increase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Travel_Time_Chargeable</name>
        <label>Set Travel Time Chargeable</label>
        <locationX>575</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Travel_Time_Chargeable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ATS_BF_Increase</name>
        <label>ATS BF Increase?</label>
        <locationX>331</locationX>
        <locationY>668</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ATS_BF_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDMFSL_ATS_BreakFix_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GDMFSL_ATS_BreakFix_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_BF_Email_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ATS_PM_Increase</name>
        <label>ATS PM Increase?</label>
        <locationX>169</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>ATS_BF_Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ATS_PM_Increase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDMFSL_ATS_PM_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GDMFSL_ATS_PM_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_PM_Email_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Type</name>
        <label>Contract Type</label>
        <locationX>339</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Time_and_Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Material</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Travel_Time_Chargeable</targetReference>
            </connector>
            <label>Time and Material</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operation_Type</name>
        <label>Operation Type</label>
        <locationX>168</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>ATS_PM_Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Type</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <description>On before create or update Service Contract Triggers</description>
    <formulas>
        <name>RemainingBFHours</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.GDMFSL_ATS_BreakFix_Hours__c}&gt;{!$Record.GDMFSL_Actual_Time_Consumed_BF_Hours__c}</expression>
    </formulas>
    <formulas>
        <name>RemainingPMHours</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.GDMFSL_ATS_PM_Hours__c} &gt; {!$Record.GDMFSL_Actual_Time_Consumed_PM_Hours__c}</expression>
    </formulas>
    <interviewLabel>Service Contract | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Contract | Before Update OR Insert Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Operation_Type</targetReference>
        </connector>
        <object>ServiceContract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
