src/flows/GDMFSL_Resource_Absence_Before_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Manager_To_RA</name>
        <label>Assign Manager To RA</label>
        <locationX>893</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Burden_Code_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority_Emergency</name>
        <label>Assign Priority Emergency</label>
        <locationX>1129</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Emergency</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Submitted_by_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority_Planned</name>
        <label>Assign Priority Planned</label>
        <locationX>868</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDMFSL_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Submitted_by_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Auto_Approve</name>
        <label>Auto Approve</label>
        <locationX>469</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSL__Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Absence_Submitted_by_Manager</name>
        <label>Absence Submitted by Manager?</label>
        <locationX>741</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GDMFSL_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.GDMFSL_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDMFSL_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No - Emergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Burden_Code_Priority_Exists</name>
        <label>Burden Code Priority Exists?</label>
        <locationX>1123</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Assign_Priority_Planned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No or Non-Emergency</defaultConnectorLabel>
        <rules>
            <name>Yes_Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currAbsencePriorityMDT.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currAbsencePriorityMDT.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority_Emergency</targetReference>
            </connector>
            <label>Yes - Emergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert_Or_Update</name>
        <label>Is Insert Or Update?</label>
        <locationX>477</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Absence_Type</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Absence_Type</name>
        <label>Resource Absence Type</label>
        <locationX>730</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Absence_Submitted_by_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Break Type</defaultConnectorLabel>
        <rules>
            <name>Non_Break_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Break</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>Non - Break Type</label>
        </rules>
    </decisions>
    <formulas>
        <name>day</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD({!loopStartDate} - DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <formulas>
        <name>endOnlyDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!originalEndDateTime})</expression>
    </formulas>
    <formulas>
        <name>isTimesheetNull</name>
        <dataType>Boolean</dataType>
        <expression>if({!curTimesheetRecord.Id} = NULL, true, false)</expression>
    </formulas>
    <formulas>
        <description>Add 1 day in start date to loop through</description>
        <name>loopStartDatePlusOne</name>
        <dataType>Date</dataType>
        <expression>{!loopStartDate} + 1</expression>
    </formulas>
    <formulas>
        <name>startOnlyDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!originalStartDateTime})</expression>
    </formulas>
    <formulas>
        <name>timesheetEntryFinish</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!loopStartDate})+&quot; &quot; +&apos;21:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>timesheetEntryStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!loopStartDate})+&quot; &quot; +&apos;13:00:00&apos;)</expression>
    </formulas>
    <interviewLabel>GDMFSL Resource Absence | Before Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Resource Absence | Before Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Burden_Code_Priority</name>
        <label>Get Burden Code Priority</label>
        <locationX>1130</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Burden_Code_Priority_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Absence_Burden_Code_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GDMFSL_Burden_Code__c</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Absence_Priority__mdt</object>
        <outputReference>currAbsencePriorityMDT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Absence_Burden_Code_Value__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>GDMFSL_Burden_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>564</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>740</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Manager_To_RA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Is_Insert_Or_Update</targetReference>
        </connector>
        <object>ResourceAbsence</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currAbsencePriorityMDT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Absence_Priority__mdt</objectType>
    </variables>
    <variables>
        <name>curTimesheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>loopEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>originalEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.End</elementReference>
        </value>
    </variables>
    <variables>
        <name>originalStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Start</elementReference>
        </value>
    </variables>
    <variables>
        <name>TimesheetEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
</Flow>
