src/flows/GDMFSL_Dead_Man_Check_In_DESKTOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Release_Jeopardy</name>
        <label>Release Jeopardy</label>
        <locationX>707</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>currentSA.FSL__InJeopardy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentSA.FSL__InJeopardyReason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Dead_Man_Timer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Timer_to_null</name>
        <label>Set Timer to Null</label>
        <locationX>1210</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>currentSA.GDMFSL_Dead_Man_Switch_Timer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Dead_Man_Timer</name>
        <label>Update Last Dead Man Timer</label>
        <locationX>796</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>currentSA.GDMFSL_Last_Dead_Man_Switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timer_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SafeRestart</name>
        <choiceText>I&apos;m safe and would like to restart the timer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>When the safety concern is no longer present</description>
        <name>SafeStop</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;I&apos;m safe and do not need further check-ins&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>SafeUpdate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;I&apos;m safe and would like to update the timer value&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Found_Onsite_SA_with_Timer</name>
        <label>Found Onsite SA with Timer?</label>
        <locationX>304</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>TimerNotFoundScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.GDMFSL_Dead_Man_Switch_Timer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.GDMFSL_Dead_Man_Switch_Timer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Safety_Check_In</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_In_Dead_Man_Jeopardy</name>
        <label>Is In Dead Man Jeopardy?</label>
        <locationX>607</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Dead_Man_Timer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSA.FSL__InJeopardy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSA.FSL__InJeopardyReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dead Man Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Jeopardy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Restart Timer is the default action.  Since we are already updating the Last_Dead_Man_Switch__c variable, there is nothing left to do.</description>
        <name>Timer_Action</name>
        <label>Timer Action</label>
        <locationX>967</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Restart Timer</defaultConnectorLabel>
        <rules>
            <name>Update_Timer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SafeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SafeUpdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dead_Man_Timer_DESKTOP</targetReference>
            </connector>
            <label>Update Timer</label>
        </rules>
        <rules>
            <name>Stop_Timer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SafeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SafeStop</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location</targetReference>
            </connector>
            <label>Stop Timer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timer_Set_By_Location</name>
        <label>Timer Set By Location?</label>
        <locationX>964</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Set_Timer_to_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationDefaultTimer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationDefaultTimer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Timer_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allows an FSP or FSD to acknowledge that a resource is safe (for an SA)</description>
    <interviewLabel>GDMFSL Dead Man Check In DESKTOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Dead Man Check In DESKTOP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>972</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timer_Set_By_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSA.GDMFSL_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>LocationDefaultTimer</assignToReference>
            <field>GDMFSL_Default_Dead_Man_Switch_Timer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>176</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Onsite_SA_with_Timer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>currentSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Dead_Man_Switch_Timer__c</queriedFields>
        <queriedFields>GDMFSL_Last_Dead_Man_Switch__c</queriedFields>
        <queriedFields>FSL__InJeopardy__c</queriedFields>
        <queriedFields>FSL__InJeopardyReason__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>GDMFSL_Location__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1210</locationX>
        <locationY>414</locationY>
        <inputReference>currentSA</inputReference>
    </recordUpdates>
    <screens>
        <name>Safety_Check_In</name>
        <label>Safety Check-In</label>
        <locationX>467</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_In_Dead_Man_Jeopardy</targetReference>
        </connector>
        <fields>
            <name>ServiceAppointmentText</name>
            <fieldText>&lt;p&gt;Current Service Appointment: {!currentSA.AppointmentNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastCheckInText</name>
            <fieldText>&lt;p&gt;Last Check In:  {!currentSA.GDMFSL_Last_Dead_Man_Switch__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeadManTimerInterval</name>
            <fieldText>&lt;p&gt;Current Timer Interval:  {!currentSA.GDMFSL_Dead_Man_Switch_Timer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SafeAction</name>
            <choiceReferences>SafeRestart</choiceReferences>
            <choiceReferences>SafeUpdate</choiceReferences>
            <choiceReferences>SafeStop</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>SafeRestart</defaultSelectedChoiceReference>
            <fieldText>Safety Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Timer_Error</name>
        <label>Set Timer Error</label>
        <locationX>713</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TimerErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 25, 25);&quot;&gt;The Dead Man Switch Timer is specified by the Location and cannot be stopped.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimerNotFoundScreen</name>
        <label>Timer Not Found Screen</label>
        <locationX>312</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TimerNotFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;The Service Appointment does not have a status of &apos;Onsite&apos; or a&lt;/span&gt;&lt;span style=&quot;color: rgb(192, 25, 25);&quot;&gt; Dead Man Switch Timer was not found for this SA.  To set one, please Check In and use the &apos;Set Dead Man Timer&apos; action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Dead_Man_Timer_DESKTOP</name>
        <label>Update Dead Man Timer DESKTOP</label>
        <locationX>1207</locationX>
        <locationY>592</locationY>
        <flowName>GDMFSL_Set_Dead_Man_Timer_Manual_DESKTOP</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>currentSA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAInJeopardy</name>
            <value>
                <elementReference>currentSA.FSL__InJeopardy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SAJeopardyReason</name>
            <value>
                <elementReference>currentSA.FSL__InJeopardyReason__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>The Service Appointment Id</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LocationDefaultTimer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
