src/flows/GDMFSL_Safe_and_Sound_DESKTOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CHNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asses_Safe_and_Sound_Records</name>
        <label>Asses Safe and Sound Records</label>
        <locationX>1020</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Create_Safe_and_Sound_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_End_of_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSafeAndSoundRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSafeAndSoundRecord.GDMFSL_Start__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentSafeAndSoundRecord.GDMFSL_End__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Safe_and_Sound_Record</targetReference>
            </connector>
            <label>Is End of Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Before_End_Date</name>
        <label>Before End Date?</label>
        <locationX>771</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Find_Active_STM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_Active_STM.EffectiveEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Active_STM.EffectiveEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory</targetReference>
            </connector>
            <label>Yess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Travel_Required</name>
        <label>Is Travel Required</label>
        <locationX>1423</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_Is_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedServiceTerritory.GDMFSL_End_of_Day_Travel_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>relatedServiceTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Summary_Screen</targetReference>
            </connector>
            <label>Travel Is Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_with_Record_Create_or_Update</name>
        <label>Proceed with Record Create or Update</label>
        <locationX>1226</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asses_Safe_and_Sound_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CHNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRecordCreateorUpdate</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>UPDATE: Create RT, OT, PT Timesheet Entries when Timesheet is needed DTXFSL-5231
DTXFSL-5233 - End of Day Travel</description>
    <formulas>
        <name>fGetRecordIdPrefex</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>SafeAndSoundStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!currentSafeAndSoundRecord.GDMFSL_Start__c})</expression>
    </formulas>
    <formulas>
        <name>TotalTravelTimeFormula</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!currentSafeAndSoundRecord.GDMFSL_Start__c})*24*60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GDMFSL Safe and Sound DESKTOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Safe and Sound DESKTOP</label>
    <loops>
        <name>Find_Active_STM</name>
        <label>Find Active STM</label>
        <locationX>571</locationX>
        <locationY>133</locationY>
        <collectionReference>collectionOfSTMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Before_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_active_Service_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Safe_and_Sound_Record</name>
        <label>Create Safe and Sound Record</label>
        <locationX>758</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>GDMFSL_Service_Resource__c</field>
            <value>
                <elementReference>currentServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Start__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Status__c</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>GDMFSL_Safe_and_Sound__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Safe_and_Sound_Records</name>
        <label>Get Safe and Sound Records</label>
        <locationX>1025</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>GDMFSL_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentServiceResource.GDMFSL_Start_of_Shift__c</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Safe_and_Sound__c</object>
        <outputReference>currentSafeAndSoundRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Start__c</queriedFields>
        <queriedFields>GDMFSL_Status__c</queriedFields>
        <queriedFields>GDMFSL_End__c</queriedFields>
        <queriedFields>GDMFSL_Service_Resource__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>259</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>currentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Start_of_Shift__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>806</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Safe_and_Sound_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Active_STM.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>relatedServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_End_of_Day_Travel_Required__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Member</name>
        <label>Get Territory Member</label>
        <locationX>449</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Active_STM</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentServiceResource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveStartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <outputReference>collectionOfSTMs</outputReference>
        <queriedFields>EffectiveEndDate</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Safe_and_Sound_Record</name>
        <label>Update Safe and Sound Record</label>
        <locationX>1249</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Safe_And_Sound_End_of_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSafeAndSoundRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GDMFSL_End__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDMFSL_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>GDMFSL_Safe_and_Sound__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm_Selection</name>
        <label>Confirm Selection</label>
        <locationX>1168</locationX>
        <locationY>282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed_with_Record_Create_or_Update</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Would you like to perform Safe and Sound process ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoiceYesNo</name>
            <choiceReferences>CHYes</choiceReferences>
            <choiceReferences>CHNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CHYes</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_active_Service_Territory</name>
        <label>No active Service Territory</label>
        <locationX>556</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSTMMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot find an active Service Territory Membership. Contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordCreateorUpdate</name>
        <label>NoRecordCreateorUpdate</label>
        <locationX>1312</locationX>
        <locationY>287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageComplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Flow execution finished&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Safe_And_Sound_End_of_Day</name>
        <label>Safe And Sound End of Day</label>
        <locationX>1431</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Travel_Required</targetReference>
        </connector>
        <fields>
            <name>SafeAndSoundEndOfDayDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You Are Safe &amp;amp; Sound&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>627</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;If this is your final appointment of the day, please proceed to your final destination carefully and change your status upon arrival to indicate you have arrived safe and sound.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Travel_Summary_Screen</name>
        <label>Travel Summary Screen</label>
        <locationX>1430</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Timesheet_Entries</targetReference>
        </connector>
        <fields>
            <name>Travel_Start_Time</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Travel_Start_Time}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Regular_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>TotalTravelTimeFormula</elementReference>
            </defaultValue>
            <fieldText>Regular Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OT_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>OT Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Premium_Duration</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Premium Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>121</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Timesheet_Entries</name>
        <label>Create Timesheet Entries</label>
        <locationX>1428</locationX>
        <locationY>59</locationY>
        <flowName>GDMFSL_TimeSheet_Entries_DESKTOP</flowName>
        <inputAssignments>
            <name>DateTimeToDateTSConversion</name>
            <value>
                <elementReference>SafeAndSoundStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DistanceTravelled</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DistanceUOM</name>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LaborStartTime</name>
            <value>
                <elementReference>currentSafeAndSoundRecord.GDMFSL_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OTVarMin</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PTVarMin</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegularVarMin</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>currentServiceResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelIsEndOfDay</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelOTDuration</name>
            <value>
                <elementReference>OT_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelPTDuration</name>
            <value>
                <elementReference>Premium_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelRegularDuration</name>
            <value>
                <elementReference>Regular_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TravelStartTime</name>
            <value>
                <elementReference>currentSafeAndSoundRecord.GDMFSL_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collectionOfSTMs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>currentSafeAndSoundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Safe_and_Sound__c</objectType>
    </variables>
    <variables>
        <name>currentServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>currentTSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theSTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSTMEffectiveEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
