src/flows/GDMFSL_Edit_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Offsite_Asset_to_Asset</name>
        <label>Assign Offsite Asset to Asset</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Off_Jobsite_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Off_Jobsite_System_asset_association</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Asset_to_Asset</name>
        <label>Assign Parent Asset to Asset</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>newAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsOffsiteAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_current_Asset</name>
        <label>Assign Values to current Asset</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Access_and_Egress_Factor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Access_and_Egress_Factor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Additional_Equipment_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Equipment_Requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Area_supplied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Supplied</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Criticality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criticality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Digital_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Digital_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Energy_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Equipment_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Make_Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Equipment_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Firmware_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firmware_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Parts_and_Consumables__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parts_and_Consumables</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Permit_Requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Requirements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Statutory_Compliance_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statutory_Compliance_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Sub_Location_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Supply_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supply_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAsset.Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Software_Version</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsWarrantyTypeSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WarrentyType_to_Asset</name>
        <label>Assign WarrentyType to Asset</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Warranty_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsParentAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCurrCriticality</name>
        <label>AssignCurrCriticality</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>currTextCriticality</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAsset.GDMFSL_Criticality__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_current_Picklist_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCurrCriticalityDefault</name>
        <label>AssignCurrCriticalityDefault</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>currTextCriticality</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceCriticalityLow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_current_Picklist_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Offsite_Asset</name>
        <label>Remove Offsite Asset</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Off_Jobsite_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Parent_Asset</name>
        <label>Remove Parent Asset</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>newAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsOffsiteAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set WarrentyType to NULL</description>
        <name>Remove_WarrentyType</name>
        <label>Remove WarrentyType</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>newAsset.GDMFSL_Warranty_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsParentAssetSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>store current picklist selections. If nothing is selected the variables should have -- None -- as option assigned. This will be later assigned to a choice variable.</description>
        <name>Store_current_Picklist_values</name>
        <label>Store current Picklist values</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>currSelectedWarrantyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAsset.GDMFSL_Warranty_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrSelectedEnergySource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAsset.GDMFSL_Energy_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCurrEquipmentMake</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCriticalityLow</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCurrentCriticality</name>
        <choiceText>Selected: {!currFormulaCriticality}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currFormulaCriticality</elementReference>
        </value>
    </choices>
    <choices>
        <description>Assigns the current selected default values</description>
        <name>choiceCurrentEnergySource</name>
        <choiceText>Selected: {!newAsset.GDMFSL_Energy_Source__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>newAsset.GDMFSL_Energy_Source__c</elementReference>
        </value>
    </choices>
    <choices>
        <description>Offers None option in case no Off Jobsite Asset is currently selected, otherwise shows/assigns Name and ID</description>
        <name>choiceCurrentOffJobsite</name>
        <choiceText>{!currFormulaOffJobsiteName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currFormulaOffJobsiteID</elementReference>
        </value>
    </choices>
    <choices>
        <description>Offers None in case there was no Parent Asset selected, otherwise the selected parent Asset Information</description>
        <name>choiceCurrentParentAsset</name>
        <choiceText>{!currFormulaParentAssetName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currFormulaParentAssetId</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceCurrentValueEquipmentMake</name>
        <choiceText>Selected: {!currSelectedEquipmentMake.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currSelectedEquipmentMake.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceCurrentWarrantyType</name>
        <choiceText>{!currFormulaWarrantyType}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currFormulaWarrantyType</elementReference>
        </value>
    </choices>
    <choices>
        <description>shows -- None --</description>
        <name>choiceNone</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_about_current_Criticality_and_its_default_value</name>
        <label>Decide about current Criticality and its default value</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AssignCurrCriticalityDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CriticalityHasNotBeenSet</defaultConnectorLabel>
        <rules>
            <name>CriticalityHasBeenSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAsset.GDMFSL_Criticality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCurrCriticality</targetReference>
            </connector>
            <label>CriticalityHasBeenSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOffsiteAssetSelected</name>
        <label>IsOffsiteAssetSelected</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Remove_Offsite_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OffsiteAssetIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>OffsiteAssetIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Off_Jobsite_System_asset_association</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Off_Jobsite_System_asset_association</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Offsite_Asset_to_Asset</targetReference>
            </connector>
            <label>OffsiteAssetIsSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsParentAssetSelected</name>
        <label>IsParentAssetSelected</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Remove_Parent_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ParentAssetIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>ParentAssetIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Asset</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Asset_to_Asset</targetReference>
            </connector>
            <label>ParentAssetIsSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element will review if the user has made a valid selection in several Picklists that accommodate for Lookups in this flow. As soon as a picklist with a record choice set is used, it is mandatory to select, even though it might not be required business wise. To accommodate for that a &quot;None&quot; option has been added and defaulted to, to allow a user to NOT to insert a valid object info. If a valid selection was done, the value will be assigned to the object. If not, nothing will be assigned to the object property as key (set to NULL).</description>
        <name>IsWarrantyTypeSelected</name>
        <label>IsWarrantyTypeSelected</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Remove_WarrentyType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WarrentyTypeIsNotSelected</defaultConnectorLabel>
        <rules>
            <name>WarrantyTypeIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Warranty_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choiceNone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Warranty_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WarrentyType_to_Asset</targetReference>
            </connector>
            <label>WarrantyTypeIsSelected</label>
        </rules>
    </decisions>
    <description>Edits an existing Asset - TEST for FSL App!!</description>
    <dynamicChoiceSets>
        <name>choiceAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceMake</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>GDMFSL_Equipment_Make__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist Values from Asset.Criticality picklist</description>
        <name>choicePLCriticality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Criticality__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values from Asset.GDMFSL_Energy_Source__c</description>
        <name>choicePLEnergySource</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Energy_Source__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values of Asset.GDMFSL_Warranty_Type__c</description>
        <name>choicePLWarrantyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Warranty_Type__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceProduct</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Sets the selected value or the -- None -- option</description>
        <name>currFormulaCriticality</name>
        <dataType>String</dataType>
        <expression>{!currTextCriticality}</expression>
    </formulas>
    <formulas>
        <name>currFormulaEnergySource</name>
        <dataType>String</dataType>
        <expression>&quot;Selected: -- None --&quot;</expression>
    </formulas>
    <formulas>
        <description>Returns None-Option in case nothing is selected and value would be NULL, so that the choice can be set accordingly. This is, because the field is not mandatory.</description>
        <name>currFormulaOffJobsiteID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currOffJobsite.Id}), &quot;None&quot;, {!currOffJobsite.Id})</expression>
    </formulas>
    <formulas>
        <description>Returns None or Name of Off Jobsite Asset</description>
        <name>currFormulaOffJobsiteName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currOffJobsite.Id}), &quot;Selected: -- None --&quot;, &quot;Selected: &quot; &amp; {!currOffJobsite.Name})</expression>
    </formulas>
    <formulas>
        <description>Returns None in case there is no selected Parent Asset, otherwise the AssetId</description>
        <name>currFormulaParentAssetId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currSelectedParentAsset.Id}), &quot;None&quot;, {!currSelectedParentAsset.Id})</expression>
    </formulas>
    <formulas>
        <description>Returns None in case that no parent asset was selected, otherwise the parent asset name</description>
        <name>currFormulaParentAssetName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currSelectedParentAsset.Id}), &quot;Selected: -- None --&quot;, &quot;Selected: &quot; &amp; {!currSelectedParentAsset.Name})</expression>
    </formulas>
    <formulas>
        <name>currFormulaWarrantyType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!newAsset.GDMFSL_Warranty_Type__c})), &quot;None&quot;, TEXT({!newAsset.GDMFSL_Warranty_Type__c}))</expression>
    </formulas>
    <interviewLabel>GDMFSL Edit Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Edit Asset Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetCurrentAsset</name>
        <label>GetCurrentAsset</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_about_current_Criticality_and_its_default_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>newAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Access_and_Egress_Factor__c</queriedFields>
        <queriedFields>GDMFSL_Additional_Equipment_Requirements__c</queriedFields>
        <queriedFields>GDMFSL_Area_supplied__c</queriedFields>
        <queriedFields>GDMFSL_Criticality__c</queriedFields>
        <queriedFields>GDMFSL_Digital_ID__c</queriedFields>
        <queriedFields>GDMFSL_Energy_Source__c</queriedFields>
        <queriedFields>GDMFSL_Equipment_Make__c</queriedFields>
        <queriedFields>GDMFSL_Equipment_Model__c</queriedFields>
        <queriedFields>GDMFSL_Firmware_Version__c</queriedFields>
        <queriedFields>GDMFSL_Parts_and_Consumables__c</queriedFields>
        <queriedFields>GDMFSL_Permit_Requirements__c</queriedFields>
        <queriedFields>GDMFSL_Statutory_Compliance_Date__c</queriedFields>
        <queriedFields>GDMFSL_Sub_Location_text__c</queriedFields>
        <queriedFields>GDMFSL_Supply_Date__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Software_Version__c</queriedFields>
        <queriedFields>GDMFSL_Off_Jobsite_System__c</queriedFields>
        <queriedFields>GDMFSL_Warranty_Type__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the data of the current Equipment Make model to show them as default in the selection screen</description>
        <name>GetCurrEquipmentMake</name>
        <label>GetCurrEquipmentMake</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrOffJobsite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAsset.GDMFSL_Equipment_Make__c</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Equipment_Make__c</object>
        <outputReference>currSelectedEquipmentMake</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the current Off Jobsite Lookup object to prepopulate it in the edit screen</description>
        <name>GetCurrOffJobsite</name>
        <label>GetCurrOffJobsite</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrParentAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAsset.GDMFSL_Off_Jobsite_System__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>currOffJobsite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>get current selection to prepopulate the edit screen</description>
        <name>GetCurrParentAsset</name>
        <label>GetCurrParentAsset</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAsset.ParentId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>currSelectedParentAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentAsset</name>
        <label>UpdateCurrentAsset</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>ScreenUploadAttachments</targetReference>
        </connector>
        <inputReference>newAsset</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenUploadAttachments</name>
        <label>ScreenUploadAttachments</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newAsset.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_to_current_Asset</targetReference>
        </connector>
        <fields>
            <name>AssetName</name>
            <fieldText>&lt;p&gt;Asset Name: {!newAsset.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Digital_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Digital_ID__c</elementReference>
            </defaultValue>
            <fieldText>Digital ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Area_Supplied</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Area_supplied__c</elementReference>
            </defaultValue>
            <fieldText>Area Supplied</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sub_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Sub_Location_text__c</elementReference>
            </defaultValue>
            <fieldText>Sub Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipment_Make_Manufacturer</name>
            <choiceReferences>choiceCurrentValueEquipmentMake</choiceReferences>
            <choiceReferences>choiceMake</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentValueEquipmentMake</defaultSelectedChoiceReference>
            <fieldText>Equipment Make (Manufacturer)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Equipment_Model__c</elementReference>
            </defaultValue>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Serial_Number</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_No_Serial_Number__c</elementReference>
            </defaultValue>
            <fieldText>No Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a Serial Number or tick the checkbox &quot;No Serial Number&quot;. Tick the checkbox only if the Serial Number field is empty.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
AND({!No_Serial_Number} = TRUE, ISBLANK({!Serial_Number})), 
AND({!No_Serial_Number} = FALSE, ISBLANK({!Serial_Number}) = FALSE)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.SerialNumber</elementReference>
            </defaultValue>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Criticality</name>
            <choiceReferences>choiceCurrentCriticality</choiceReferences>
            <choiceReferences>choicePLCriticality</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentCriticality</defaultSelectedChoiceReference>
            <fieldText>Criticality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!newAsset.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parts_and_Consumables</name>
            <defaultValue>
                <stringValue>{!newAsset.GDMFSL_Parts_and_Consumables__c}</stringValue>
            </defaultValue>
            <fieldText>Parts and Consumables</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Access_and_Egress_Factor</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Access_and_Egress_Factor__c</elementReference>
            </defaultValue>
            <fieldText>Access and Egress Factor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Statutory_Compliance_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Statutory_Compliance_Date__c</elementReference>
            </defaultValue>
            <fieldText>Statutory Compliance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Off_Jobsite_System_asset_association</name>
            <choiceReferences>choiceCurrentOffJobsite</choiceReferences>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choiceAssets</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentOffJobsite</defaultSelectedChoiceReference>
            <fieldText>Off Jobsite System / asset association</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Permit_Requirements</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Permit_Requirements__c</elementReference>
            </defaultValue>
            <fieldText>Permit Requirements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Equipment_Requirements</name>
            <defaultValue>
                <stringValue>{!newAsset.GDMFSL_Additional_Equipment_Requirements__c}</stringValue>
            </defaultValue>
            <fieldText>Additional Equipment Requirements</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Software_Version</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.Software_Version__c</elementReference>
            </defaultValue>
            <fieldText>Software Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Firmware_Version</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Firmware_Version__c</elementReference>
            </defaultValue>
            <fieldText>Firmware Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Energy_Source</name>
            <choiceReferences>choiceCurrentEnergySource</choiceReferences>
            <choiceReferences>choicePLEnergySource</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentEnergySource</defaultSelectedChoiceReference>
            <fieldText>Energy Source</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Warranty_Type</name>
            <choiceReferences>choiceCurrentWarrantyType</choiceReferences>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choicePLWarrantyType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentWarrantyType</defaultSelectedChoiceReference>
            <fieldText>Warranty Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supply_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>newAsset.GDMFSL_Supply_Date__c</elementReference>
            </defaultValue>
            <fieldText>Supply Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_Asset</name>
            <choiceReferences>choiceCurrentParentAsset</choiceReferences>
            <choiceReferences>choiceNone</choiceReferences>
            <choiceReferences>choiceAssets</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceCurrentParentAsset</defaultSelectedChoiceReference>
            <fieldText>Parent Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Assets associated Files</description>
        <name>AssetFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>currOffJobsite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CurrSelectedEnergySource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newAsset.GDMFSL_Energy_Source__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>currSelectedEquipmentMake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Equipment_Make__c</objectType>
    </variables>
    <variables>
        <name>currSelectedParentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currSelectedWarrantyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>choiceNone</elementReference>
        </value>
    </variables>
    <variables>
        <name>currTextCriticality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>choiceCriticalityLow</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the uploaded File Content Ids</description>
        <name>FileContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Names of uploaded files.</description>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Object that the new asset is saved to</description>
        <name>newAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>productObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>saObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>statusDraft</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
</Flow>
