src/flows/GDMFSL_Create_Allowance_DESKTOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Each variable is modified by the operator and value combination.</description>
        <name>AssignAmount</name>
        <label>AssignAmount</label>
        <locationX>1142</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Allowance_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignTSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the TSE</description>
        <name>AssignTSE</name>
        <label>AssignTSE</label>
        <locationX>866</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currTS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Allowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAllowanceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllowanceTimeSheetEntry.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetClassification</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceDynamicRegion</name>
        <choiceText>{!EngineerRegion}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EngineerRegion</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Allowance_Code_Exist</name>
        <label>Allowance Code Exist?</label>
        <locationX>1073</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Cannot_Create_Allowance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty Allowance Code</defaultConnectorLabel>
        <rules>
            <name>Has_Allowance_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllowanceCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRegionSettings</targetReference>
            </connector>
            <label>Has Allowance Code</label>
        </rules>
    </decisions>
    <decisions>
        <description>For each path the flow can take, create an outcome. For each outcome, specify the conditions that must be met for the flow to take that path.</description>
        <name>IsAllowanceRequired</name>
        <label>IsAllowanceRequired</label>
        <locationX>858</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>AssignTSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllowanceIsNotRequired</defaultConnectorLabel>
        <rules>
            <name>AllowanceIsRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currRegionSetting.GDMFSL_Allowance_Amount_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCaptureAllowanceAmount</targetReference>
            </connector>
            <label>AllowanceIsRequired</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Timesheet Status. If it is not in status = &quot;New&quot; then it is not eligible to create an allowance and another timesheet needs to be used or created.</description>
        <name>IsTSEligibleForEdit</name>
        <label>IsTSEligibleForEdit</label>
        <locationX>738</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Timesheet_not_eligible_for_Allowance_additions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TSisNotEligible</defaultConnectorLabel>
        <rules>
            <name>TSisEligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currTS.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource</targetReference>
            </connector>
            <label>TSisEligible</label>
        </rules>
    </decisions>
    <description>DTXFSL-9046 Filter Allowance options
DTXFSL-9585: Include TS Status consideration</description>
    <dynamicChoiceSets>
        <name>pcklstBurdenCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Burden_Code__c</picklistField>
        <picklistObject>TimeSheetEntry</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklstRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GDMFSL_Region__c</picklistField>
        <picklistObject>TimeSheetEntry</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>varRunningUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>GDMFSL Create Allowance DESKTOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDMFSL Create Allowance DESKTOP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAllowancTSEntry</name>
        <label>CreateAllowancTSEntry</label>
        <locationX>858</locationX>
        <locationY>1278</locationY>
        <connector>
            <targetReference>Allowance_Successfully_Created</targetReference>
        </connector>
        <inputReference>AllowanceTimeSheetEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Service Resource</description>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>559</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCaptureAllowance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currTS.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search in MDT for Classification for selected Burden Code</description>
        <name>GetClassification</name>
        <label>GetClassification</label>
        <locationX>858</locationX>
        <locationY>1098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAllowancTSEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Absence_Burden_Code_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAllowanceCode</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Absence_Priority__mdt</object>
        <outputAssignments>
            <assignToReference>AllowanceTimeSheetEntry.GDMFSL_Classification__c</assignToReference>
            <field>GDMFSL_Classification__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Reads Regionsettings according to engineers primary ST region. Note: This GetRecords is placed after the initial capturing screen, because it could currently be, that an engineer is changing the suggested (derived) region value. The region value needs to be on the form for dependent picklists.</description>
        <name>GetRegionSettings</name>
        <label>GetRegionSettings</label>
        <locationX>871</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAllowanceRequired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GDMFSL_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.GDMFSL_Region__c</elementReference>
            </value>
        </filters>
        <object>GDMFSL_Region_Setting__mdt</object>
        <outputReference>currRegionSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GDMFSL_Allowance_Amount_Required__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the TS of today</description>
        <name>GetTSRecords</name>
        <label>GetTSRecords</label>
        <locationX>559</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTSEligibleForEdit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>currTS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <screens>
        <name>Allowance_Successfully_Created</name>
        <label>Allowance Successfully Created</label>
        <locationX>853</locationX>
        <locationY>1434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;Your allowance was successfully created. Click &apos;Finish&apos; to refresh.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Create_Allowance_Screen</name>
        <label>Cannot Create Allowance</label>
        <locationX>1321</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotCreateAllowanceMsg</name>
            <fieldText>&lt;p&gt;Allowance cannot be created without an Allowance type. Please contact your administrator for information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCaptureAllowance</name>
        <label>ScreenCaptureAllowance</label>
        <locationX>870</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Allowance_Code_Exist</targetReference>
        </connector>
        <fields>
            <name>dp_component</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>TimeSheetEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>GDMFSL_Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>GDMFSL_Allowance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Service_Resource.GDMFSL_Region__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Allowance</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRegion</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAllowanceCode</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Start_time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Start time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start time must be smaller than End time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_time} &lt; {!End_time}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCaptureAllowanceAmount</name>
        <label>ScreenCaptureAllowanceAmount</label>
        <locationX>1143</locationX>
        <locationY>733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAmount</targetReference>
        </connector>
        <fields>
            <name>Allowance_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Allowance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Timesheet_not_eligible_for_Allowance_additions</name>
        <label>Timesheet not eligible for Allowance additions</label>
        <locationX>931</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningNotEligibleTS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Timesheet doesn´t allow for any additional entries. Please make sure to use a Timesheet that has an eligible Status (New).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>431</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>GetTSRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The new timesheetentry for allowance</description>
        <name>AllowanceTimeSheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>currRegionSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GDMFSL_Region_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>currST</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>currSTMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>currTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>EngineerRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAllowanceCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
