src/flows/Global_Unsubscribe_Lead_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign Contact&apos;s Email Opt Out Value &amp; Reason</description>
        <name>Assign_Contact_Email_Opt_Out_Value_Reason_Contact_Context</name>
        <label>Assign Contact Email Opt Out Value &amp; Reason Contact Context</label>
        <locationX>3800</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_Contact_List_to_update_Contact_Context.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.HasOptedOutOfEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_through_Contact_List_to_update_Contact_Context.DNS_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.DNS_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_List_With_Email_Opt_out_Reason_Contact_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Lead&apos;&apos;s Email Opt Out Value &amp; Reason</description>
        <name>Assign_Contact_Email_Opt_Out_Value_Reason_Lead_Context</name>
        <label>Assign Contact Email Opt Out Value &amp; Reason Lead Context</label>
        <locationX>3798</locationX>
        <locationY>2386</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_Contact_List_to_update_Lead_Context.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.HasOptedOutOfEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_through_Contact_List_to_update_Lead_Context.DNS_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.DNS_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_List_With_Email_Opt_out_Reason_Lead_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact&apos;s Email Opt Out Value &amp; Reason</description>
        <name>Assign_Lead_Email_Opt_Out_Value_Reason_Contact_Context</name>
        <label>Assign Lead Email Opt Out Value &amp; Reason Contact Context</label>
        <locationX>3803</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_Lead_List_to_update_Contact_Context.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.HasOptedOutOfEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_through_Lead_List_to_update_Contact_Context.DNS_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.DNS_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_List_With_Email_Opt_out_Reason_Contact_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Lead&apos;s Email Opt Out Value &amp; Reason</description>
        <name>Assign_Lead_Email_Opt_Out_Value_Reason_Lead_Context</name>
        <label>Assign Lead Email Opt Out Value &amp; Reason Lead Context</label>
        <locationX>3800</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_Lead_List_to_update_Lead_Context.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.HasOptedOutOfEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_through_Lead_List_to_update_Lead_Context.DNS_Reason_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.DNS_Reason_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_List_With_Email_Opt_out_Reason_Lead_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get Lead list whose Email opt out is changed</description>
        <name>Get_Lead_List</name>
        <label>Get Lead List</label>
        <locationX>1721</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfUpdatedLeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Lead_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Lead_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contact_counter</name>
        <label>Update contact counter</label>
        <locationX>1915</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_List_With_Email_Opt_out_Reason_Contact_Context</name>
        <label>Update Contact List With Email Opt out &amp; Reason Contact Context</label>
        <locationX>3799</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>ContactRecstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Contact_List_to_update_Contact_Context</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Contact_List_to_update_Contact_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_List_With_Email_Opt_out_Reason_Lead_Context</name>
        <label>Update Contact List With Email Opt out &amp; Reason Lead Context</label>
        <locationX>3800</locationX>
        <locationY>2730</locationY>
        <assignmentItems>
            <assignToReference>ContactRecstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Contact_List_to_update_Lead_Context</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Contact_List_to_update_Lead_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Unique Email List for contact whose email opt out or reason is changed today</description>
        <name>Update_Email_List_for_contact</name>
        <label>Update Email List for contact</label>
        <locationX>2568</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>EmailListtoUpdateCon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_the_Contact_List_of_same_email_Contact_context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_lead_counter</name>
        <label>Update lead counter</label>
        <locationX>2110</locationX>
        <locationY>2721</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Lead_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Unique Email List for Lead whose email opt out or reason is changed today</description>
        <name>Update_Lead_List_With_Email_Opt_out_Reason</name>
        <label>Update Lead List With Email Opt out &amp; Reason</label>
        <locationX>2611</locationX>
        <locationY>1725</locationY>
        <assignmentItems>
            <assignToReference>EmailListtoUpdateLead</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_the_Lead_List_of_same_email_Lead_context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_List_With_Email_Opt_out_Reason_Contact_Context</name>
        <label>Update Lead List With Email Opt out &amp; Reason Contact Context</label>
        <locationX>3803</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>LeadRecstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Lead_List_to_update_Contact_Context</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Lead_List_to_update_Contact_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_List_With_Email_Opt_out_Reason_Lead_Context</name>
        <label>Update Lead List With Email Opt out &amp; Reason Lead Context</label>
        <locationX>3800</locationX>
        <locationY>2001</locationY>
        <assignmentItems>
            <assignToReference>LeadRecstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Lead_List_to_update_Lead_Context</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Lead_List_to_update_Lead_Context</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the contact is already updated from marketo or not and update only the records which are not updated from marketo</description>
        <name>Check_Contact_is_already_updated_from_Marketo_Contact_Context</name>
        <label>Check Contact is already updated from Marketo Contact Context</label>
        <locationX>3451</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Contact_List_to_update_Contact_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is updated from Marketo Contact Context</defaultConnectorLabel>
        <rules>
            <name>Contact_is_not_updated_from_Marketo_Contact_Context</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Contact_List_to_update_Contact_Context.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Contact_List.HasOptedOutOfEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Contact_List_to_update_Contact_Context.DNS_Reason_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Contact_List.DNS_Reason_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Email_Opt_Out_Value_Reason_Contact_Context</targetReference>
            </connector>
            <label>Contact is not updated from Marketo Contact Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the contact is already updated from marketo or not and update only the records which are not updated from marketo</description>
        <name>Check_Contact_is_already_updated_from_Marketo_Lead_Context</name>
        <label>Check Contact is already updated from Marketo Lead Context</label>
        <locationX>3409</locationX>
        <locationY>2389</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Contact_List_to_update_Lead_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is updated from Marketo Lead Context</defaultConnectorLabel>
        <rules>
            <name>Contact_is_not_updated_from_Marketo_Lead_Context</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Contact_List_to_update_Lead_Context.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Lead_List.HasOptedOutOfEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Contact_List_to_update_Lead_Context.DNS_Reason_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Lead_List.DNS_Reason_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Email_Opt_Out_Value_Reason_Lead_Context</targetReference>
            </connector>
            <label>Contact is not updated from Marketo Lead Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is done to iterate on one each unique email</description>
        <name>Check_Email_if_already_present_or_not_on_contact</name>
        <label>Check Email if already present or not on contact</label>
        <locationX>2311</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Update_Email_List_for_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is not present in list</defaultConnectorLabel>
        <rules>
            <name>Email_already_present_Contact_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailListtoUpdateCon</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Contact_List.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Contact_List</targetReference>
            </connector>
            <label>Email already present Contact Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_if_already_present_or_not_on_Lead</name>
        <label>Check Email if already present or not on Lead</label>
        <locationX>2337</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_List_With_Email_Opt_out_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is not present in list</defaultConnectorLabel>
        <rules>
            <name>Email_already_present_Lead_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailListtoUpdateLead</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_through_Lead_List.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Lead_List</targetReference>
            </connector>
            <label>Email already present Lead Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is done to reset transaction</description>
        <name>Check_if_Contact_Counter_variable_exceeds</name>
        <label>Check if Contact Counter variable exceeds</label>
        <locationX>2369</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Contact_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Counter variable not exceeded</defaultConnectorLabel>
        <rules>
            <name>Contact_Counter_variable_exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Contact_Context</targetReference>
            </connector>
            <label>Contact Counter variable exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_list_that_needs_to_update_is_empty_or_not_Contact_Context</name>
        <label>Check if Contact list that needs to update is empty or not Contact Context</label>
        <locationX>2995</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Get_all_the_Lead_List_of_same_email_Contact_context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact list that needs to update is empty Contact Context</defaultConnectorLabel>
        <rules>
            <name>Contact_list_that_needs_to_update_is_not_empty_Contact_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordstoUpdateContactContext</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Contact_List_to_update_Contact_Context</targetReference>
            </connector>
            <label>Contact list that needs to update is not empty Contact Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_list_that_needs_to_update_is_empty_or_not_Lead_Context</name>
        <label>Check if Contact list that needs to update is empty or not Lead Context</label>
        <locationX>3016</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Check_if_Lead_Counter_variable_exceeds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact list that needs to update is empty Lead Context</defaultConnectorLabel>
        <rules>
            <name>Contact_list_that_needs_to_update_is_not_empty_Lead_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordstoUpdateLeadContext</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Contact_List_to_update_Lead_Context</targetReference>
            </connector>
            <label>Contact list that needs to update is not empty Lead Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is done to reset transaction</description>
        <name>Check_if_Lead_Counter_variable_exceeds</name>
        <label>Check if Lead Counter variable exceeds</label>
        <locationX>2460</locationX>
        <locationY>2445</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Lead_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Counter variable not exceeded</defaultConnectorLabel>
        <rules>
            <name>Lead_Counter_variable_exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Lead_Context</targetReference>
            </connector>
            <label>Lead Counter variable exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the lead email is already updated in contact context</description>
        <name>Check_if_Lead_Email_contains_in_Contact_Context</name>
        <label>Check if Lead Email contains in Contact Context</label>
        <locationX>1516</locationX>
        <locationY>1801</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Lead Email&apos;s modified</defaultConnectorLabel>
        <rules>
            <name>Lead_Email_records_are_already_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailListtoUpdateCon</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Lead_List.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Lead_List</targetReference>
            </connector>
            <label>Lead Email records are already updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lead_list_that_needs_to_update_is_empty_or_not_Contact_Context</name>
        <label>Check if Lead list that needs to update is empty or not Contact Context</label>
        <locationX>2996</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>Check_if_Contact_Counter_variable_exceeds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead list that needs to update is empty Contact Context</defaultConnectorLabel>
        <rules>
            <name>Lead_list_that_needs_to_update_is_not_empty_Contact_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordstoUpdateContactContext</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Lead_List_to_update_Contact_Context</targetReference>
            </connector>
            <label>Lead list that needs to update is not empty Contact Context</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lead_list_that_needs_to_update_is_empty_or_not_Lead_Context</name>
        <label>Check if Lead list that needs to update is empty or not Lead Context</label>
        <locationX>2996</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Lead list that needs to update is empty Lead Context</defaultConnectorLabel>
        <rules>
            <name>Lead_list_that_needs_to_update_is_not_empty_Lead_Context</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordstoUpdateLeadContext</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Lead_List_to_update_Lead_Context</targetReference>
            </connector>
            <label>Lead list that needs to update is not empty Lead Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Contact list whose Email opt out or reason has changed is empty or not</description>
        <name>Check_if_Modified_Email_opt_out_or_reason_Contact_list_is_empty_or_not</name>
        <label>Check if Modified Email opt out or reason Contact list is empty or not</label>
        <locationX>1047</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed Email opt out or reason Contact list is empty</defaultConnectorLabel>
        <rules>
            <name>Changed_Email_opt_out_or_reason_Contact_list_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfUpdatedConList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Contact_List</targetReference>
            </connector>
            <label>Changed Email opt out or reason Contact list is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Lead list whose Email opt in has changed, is empty or not</description>
        <name>Check_if_Modified_Email_opt_out_or_reason_Lead_list_is_empty_or_not</name>
        <label>Check if Modified Email opt out or reason Lead list is empty or not</label>
        <locationX>1964</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>Check_if_Updated_contact_list_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changed Email opt out or reason Lead list is empty</defaultConnectorLabel>
        <rules>
            <name>Changed_Email_opt_out_or_reason_Lead_list_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfUpdatedLeadList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_Lead_List</targetReference>
            </connector>
            <label>Changed Email opt out or reason Lead list is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Modified_Lead_List_is_Empty_or_not</name>
        <label>Check if Modified Lead List is Empty or not</label>
        <locationX>948</locationX>
        <locationY>1569</locationY>
        <defaultConnector>
            <targetReference>Check_if_Updated_contact_list_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modified Leads list is Empty</defaultConnectorLabel>
        <rules>
            <name>Modified_Leads_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listOfLeadRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Lead_List</targetReference>
            </connector>
            <label>Modified Leads present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Updated_contact_list_empty</name>
        <label>Check if Updated contact list empty</label>
        <locationX>947</locationX>
        <locationY>2456</locationY>
        <defaultConnector>
            <targetReference>Check_if_Updated_Lead_list_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated contact list empty</defaultConnectorLabel>
        <rules>
            <name>Updated_contact_list_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecstoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PauseUpdateContactFlow</targetReference>
            </connector>
            <label>Updated contact list not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Updated_Lead_list_empty</name>
        <label>Check if Updated Lead list empty</label>
        <locationX>647</locationX>
        <locationY>2909</locationY>
        <defaultConnectorLabel>Updated lead list empty</defaultConnectorLabel>
        <rules>
            <name>Updated_lead_list_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecstoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PauseUpdateLeadFlow</targetReference>
            </connector>
            <label>Updated lead list not empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Lead is already updated from marketo or not and update only the records which are not updated from marketo</description>
        <name>Check_Lead_is_already_updated_from_Marketo_Contact_Context</name>
        <label>Check Lead is already updated from Marketo Contact Context</label>
        <locationX>3436</locationX>
        <locationY>978</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Lead_List_to_update_Contact_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is updated from Marketo Contact Context</defaultConnectorLabel>
        <rules>
            <name>Lead_is_not_updated_from_Marketo_Contact_Context</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Lead_List_to_update_Contact_Context.DNS_Reason_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Contact_List.DNS_Reason_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Lead_List_to_update_Contact_Context.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Contact_List.HasOptedOutOfEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Email_Opt_Out_Value_Reason_Contact_Context</targetReference>
            </connector>
            <label>Lead is not updated from Marketo Contact Context</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Lead is already updated from marketo or not and update only the records which are not updated from marketo</description>
        <name>Check_Lead_is_already_updated_from_Marketo_Lead_Context</name>
        <label>Check Lead is already updated from Marketo Lead Context</label>
        <locationX>3433</locationX>
        <locationY>1759</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Lead_List_to_update_Lead_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead is updated from Marketo Lead Context</defaultConnectorLabel>
        <rules>
            <name>Lead_is_not_updated_from_Marketo_Lead_Context</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_Lead_List_to_update_Lead_Context.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Lead_List.HasOptedOutOfEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_through_Lead_List_to_update_Lead_Context.DNS_Reason_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Lead_List.DNS_Reason_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Email_Opt_Out_Value_Reason_Lead_Context</targetReference>
            </connector>
            <label>Lead is not updated from Marketo Lead Context</label>
        </rules>
    </decisions>
    <description>This flow is used to update &quot;Email Opt Out&quot; and &quot;DNS Reason Detail&quot; fields of Lead &amp; Contact having same Email that requested for Global Unsubscribe and/ Do Not Sell Personal Information.</description>
    <formulas>
        <name>DateToday</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})) &amp;&quot;-&quot;&amp; IF(LEN(TEXT(MONTH({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!$Flow.CurrentDate})) &amp;&quot;-&quot;&amp; IF(LEN(TEXT(DAY({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Global Unsubscribe Lead&amp;Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global Unsubscribe Lead&amp;Contact</label>
    <loops>
        <description>Iterate on Modified Leads today</description>
        <name>Iterate_Lead_List</name>
        <label>Iterate Lead List</label>
        <locationX>1284</locationX>
        <locationY>1568</locationY>
        <collectionReference>listOfLeadRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Lead_Email_contains_in_Contact_Context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Modified_Email_opt_out_or_reason_Lead_list_is_empty_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate through Contact List whose Email Opt out or reason has been changed today</description>
        <name>Iterate_through_Contact_List</name>
        <label>Iterate through Contact List</label>
        <locationX>2091</locationX>
        <locationY>663</locationY>
        <collectionReference>CollectionOfUpdatedConList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Email_if_already_present_or_not_on_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Lead_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate through contact list that needs to update</description>
        <name>Iterate_through_Contact_List_to_update_Contact_Context</name>
        <label>Iterate through Contact List to update Contact Context</label>
        <locationX>3007</locationX>
        <locationY>654</locationY>
        <collectionReference>ContactRecordstoUpdateContactContext</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_is_already_updated_from_Marketo_Contact_Context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_the_Lead_List_of_same_email_Contact_context</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate through contact list that needs to update</description>
        <name>Iterate_through_Contact_List_to_update_Lead_Context</name>
        <label>Iterate through Contact List to update Lead Context</label>
        <locationX>3028</locationX>
        <locationY>2720</locationY>
        <collectionReference>ContactRecordstoUpdateLeadContext</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_is_already_updated_from_Marketo_Lead_Context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Lead_Counter_variable_exceeds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate through Lead List whose Email Opt out or reason has been changed today</description>
        <name>Iterate_through_Lead_List</name>
        <label>Iterate through Lead List</label>
        <locationX>2110</locationX>
        <locationY>2064</locationY>
        <collectionReference>CollectionOfUpdatedLeadList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Email_if_already_present_or_not_on_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Updated_contact_list_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Lead_List_to_update_Contact_Context</name>
        <label>Iterate through Lead List to update Contact Context</label>
        <locationX>3004</locationX>
        <locationY>1277</locationY>
        <collectionReference>LeadRecordstoUpdateContactContext</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lead_is_already_updated_from_Marketo_Contact_Context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Contact_Counter_variable_exceeds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate through Lead list that needs to update</description>
        <name>Iterate_through_Lead_List_to_update_Lead_Context</name>
        <label>Iterate through Lead List to update Lead Context</label>
        <locationX>3003</locationX>
        <locationY>1992</locationY>
        <collectionReference>LeadRecordstoUpdateLeadContext</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Lead_is_already_updated_from_Marketo_Lead_Context</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_the_Contact_List_of_same_email_Lead_context</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the Contact List of same email</description>
        <name>Get_all_the_Contact_List_of_same_email_Contact_context</name>
        <label>Get all the Contact List of same email Contact context</label>
        <locationX>2775</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_list_that_needs_to_update_is_empty_or_not_Contact_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecordstoUpdateContactContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Contact List of same email</description>
        <name>Get_all_the_Contact_List_of_same_email_Lead_context</name>
        <label>Get all the Contact List of same email Lead context</label>
        <locationX>2806</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_list_that_needs_to_update_is_empty_or_not_Lead_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecordstoUpdateLeadContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Contact List of same email</description>
        <name>Get_all_the_Lead_List_of_same_email_Contact_context</name>
        <label>Get all the Lead List of same email Contact context</label>
        <locationX>2774</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Lead_list_that_needs_to_update_is_empty_or_not_Contact_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Contact_List.Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LeadRecordstoUpdateContactContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Lead List of same email</description>
        <name>Get_all_the_Lead_List_of_same_email_Lead_context</name>
        <label>Get all the Lead List of same email Lead context</label>
        <locationX>2787</locationX>
        <locationY>1725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Lead_list_that_needs_to_update_is_empty_or_not_Lead_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Lead_List.Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LeadRecordstoUpdateLeadContext</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Contact Records that are modified today</description>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>719</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Modified_Email_opt_out_or_reason_Contact_list_is_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Modified_Global_Unsubscribe__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CollectionOfUpdatedConList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get all the Lead Records that are modified today</description>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>661</locationX>
        <locationY>1278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Modified_Lead_List_is_Empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Modified_Global_Unsubscribe__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>listOfLeadRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DNS_Reason_Detail__c</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Last_Modified_Global_Unsubscribe__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update contacts records with Email Opt out &amp; Reason</description>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>1205</locationX>
        <locationY>2773</locationY>
        <connector>
            <targetReference>Check_if_Updated_Lead_list_empty</targetReference>
        </connector>
        <inputReference>ContactRecstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Lead records with Email Opt out &amp; Reason</description>
        <name>Update_Lead_Records</name>
        <label>Update Lead Records</label>
        <locationX>1541</locationX>
        <locationY>2925</locationY>
        <inputReference>LeadRecstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>165</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-16</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact List whose Email Opt out or reason field has been changed today</description>
        <name>CollectionOfUpdatedConList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Lead List whose Email Opt out or reason field has been changed today</description>
        <name>CollectionOfUpdatedLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>List of all the Contact List of same email</description>
        <name>ContactRecordstoUpdateContactContext</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>List of all the Contact List of same email</description>
        <name>ContactRecordstoUpdateLeadContext</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>List to update contact records with email opt out and reason</description>
        <name>ContactRecstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>To keep track of soql queries</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <description>Unique Email List for contact whose email opt out or reason is changed today</description>
        <name>EmailListtoUpdateCon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailListtoUpdateLead</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Error: Global Unsubscribe Email opt out Error</stringValue>
        </value>
    </variables>
    <variables>
        <description>List of all the Lead List of same email</description>
        <name>LeadRecordstoUpdateContactContext</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadRecordstoUpdateLeadContext</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadRecstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>List of contact records that are modified today</description>
        <name>listOfConRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>List of Lead records that are modified today</description>
        <name>listOfLeadRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Pause_Contact_Context</name>
        <label>Pause Contact Context</label>
        <locationX>2380</locationX>
        <locationY>1195</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_Contact_Execution</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_contact_counter</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause Contact Execution</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_Lead_Context</name>
        <label>Pause Lead Context</label>
        <locationX>2469</locationX>
        <locationY>2724</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_Lead_Execution</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_lead_counter</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause Lead Execution</label>
        </waitEvents>
    </waits>
    <waits>
        <name>PauseUpdateContactFlow</name>
        <label>PauseUpdateContactFlow</label>
        <locationX>1201</locationX>
        <locationY>2571</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PauseUpdateContactExecution</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Contact_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>PauseUpdateContactExecution</label>
        </waitEvents>
    </waits>
    <waits>
        <name>PauseUpdateLeadFlow</name>
        <label>PauseUpdateLeadFlow</label>
        <locationX>1135</locationX>
        <locationY>2919</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PauseUpdateLeadExecution</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Lead_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>PauseUpdateLeadExecution</label>
        </waitEvents>
    </waits>
</Flow>
