src/flows/GoToMeeting_Users_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>GoToMeeting_Collect_Users</name>
        <label>GoToMeeting Collect Users</label>
        <locationX>702</locationX>
        <locationY>191</locationY>
        <apexClass>GoToMeetingCollectUsersPlugin</apexClass>
        <inputParameters>
            <name>reconOffset</name>
            <value>
                <elementReference>reconOffset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>nextReconOffset</assignToReference>
            <name>nextReconOffset</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GoToMeeting_Create_User</name>
        <label>GoToMeeting Create User</label>
        <locationX>729</locationX>
        <locationY>323</locationY>
        <apexClass>GoToMeetingCreateUserPlugin</apexClass>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GoToMeeting_Delete_User</name>
        <label>GoToMeeting Delete User</label>
        <locationX>734</locationX>
        <locationY>465</locationY>
        <apexClass>GoToMeetingDeleteUserPlugin</apexClass>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UPAStatus</assignToReference>
            <name>UPAStatus</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>GoToMeeting_Toggle_User</name>
        <label>GoToMeeting Toggle User</label>
        <locationX>676</locationX>
        <locationY>563</locationY>
        <apexClass>GoToMeetingToggleUserPlugin</apexClass>
        <inputParameters>
            <name>enableUser</name>
            <value>
                <elementReference>EnableUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>459</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToMeeting_Create_User</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <label>Update</label>
        </rules>
        <rules>
            <name>Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconcile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToMeeting_Collect_Users</targetReference>
            </connector>
            <label>Collect</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToMeeting_Delete_User</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Toggle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freeze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfreeze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoToMeeting_Toggle_User</targetReference>
            </connector>
            <label>Toggle</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula to determine if a UserProvisioningRequest indicates enabling a user.</description>
        <name>EnableUser</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!UserProvisioningRequest.Operation}) == &apos;Activate&apos; || TEXT({!UserProvisioningRequest.Operation}) == &apos;Unfreeze&apos;</expression>
    </formulas>
    <label>GoToMeeting Users flow</label>
    <processType>UserProvisioningFlow</processType>
    <startElementReference>Operation</startElementReference>
    <status>Active</status>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UPAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
