src/flows/HWS_BulkUploadPlatformEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>To call apex method from platform event flow</description>
        <name>BulkCall</name>
        <label>BulkCall</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <actionName>HWS_BulkWarrantyCheck_Result_SOO_to_SRM</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>parentCaseIds</name>
            <value>
                <elementReference>FromPTEvent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>TO store the platform event data from where it got set to send as parameter to apex</description>
        <name>StorePTData</name>
        <label>StorePTData</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>FromPTEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HWS_ParentCase_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BulkCall</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To check from where this flow is invoked or published by checking source</description>
        <name>CheckIfBulk</name>
        <label>CheckIfBulk</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingBulk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HWS_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HWSBulkCaseUpload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StorePTData</targetReference>
            </connector>
            <label>CheckingBulk</label>
        </rules>
    </decisions>
    <description>Created to separate the bulk case creation transaction</description>
    <interviewLabel>HWS_BulkUploadPlatformEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HWS_BulkUploadPlatformEvent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckIfBulk</targetReference>
        </connector>
        <object>HWS_Referral_Instruction_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to store the parentcase id value set by apex class</description>
        <name>FromPTEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
