src/flows/HWS_Reject_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_View</name>
        <label>Refresh View</label>
        <locationX>317</locationX>
        <locationY>762</locationY>
        <actionName>c:HWS_RefreshView</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ShowMsg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:HWS_RefreshView</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Pending_Review</name>
        <label>Is Pending Review</label>
        <locationX>390</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Pending_Review_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecord.HWS_Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Customer_Review_Yes</targetReference>
            </connector>
            <label>Customer Pending Review Yes</label>
        </rules>
        <rules>
            <name>Not_Customer_Pending_Reveiw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteRecord.HWS_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotCustomerPendingReview</targetReference>
            </connector>
            <label>Not Customer Pending Reveiw</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Disposition_Instructions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HWS_Disposition_Instructions__c</picklistField>
        <picklistObject>HWS_Service_Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklistvalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HWS_Quote_Status__c</picklistField>
        <picklistObject>HWS_Service_Quote__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonRejection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HWS_Reason_for_Rejection__c</picklistField>
        <picklistObject>HWS_Service_Quote__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Reject Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>393</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>HWS_Service_Quote__c</object>
        <outputReference>QuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HWS_Quote_Status__c</queriedFields>
        <queriedFields>HWS_Reason_for_Rejection__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>HWS_Disposition_Instructions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeData</name>
        <label>RecordTypeData</label>
        <locationX>233</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pending_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>403</locationX>
        <locationY>633</locationY>
        <connector>
            <targetReference>Refresh_View</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HWS_Customer_Accepted_Rejected_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HWS_Customer_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HWS_Disposition_Instructions__c</field>
            <value>
                <elementReference>Disposition_Instructions_pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HWS_Quote_Status__c</field>
            <value>
                <stringValue>Rejected by Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HWS_Reason_for_Rejection__c</field>
            <value>
                <elementReference>Rejection_ReasonPick</elementReference>
            </value>
        </inputAssignments>
        <object>HWS_Service_Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>50</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_msg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(186, 9, 9);&quot;&gt;We can not save the record. Please check this validation error message- &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(186, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotCustomerPendingReview</name>
        <label>NotCustomerPendingReview</label>
        <locationX>654</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotCustomerPendingReviewError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Quote is {!QuoteRecord.HWS_Quote_Status__c}, there is no further action possible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pending_Customer_Review_Yes</name>
        <label>Pending Customer Review Yes</label>
        <locationX>567</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <fields>
            <name>RejectionText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;By rejecting this quote I am forfeiting my claim to services that would have otherwise been entitled under my company’s warranty and/or maintenance entitlement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rejection_ReasonPick</name>
            <choiceReferences>ReasonRejection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disposition_Instructions_pick</name>
            <choiceReferences>Disposition_Instructions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disposition Instructions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please provide your instructions on what you would like for Nokia to do with this part now that you have rejected Nokia&apos;s quote.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordTypeData.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Damaged Part Quote</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowMsg</name>
        <label>ShowMsg</label>
        <locationX>150</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 137, 44);&quot;&gt;Record updated successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>267</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HWS_Service_Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
