src/flows/HWS_SuspensionAfterSaveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HWS_Suspension_Email_Alert</name>
        <label>HWS Suspension Email Alert</label>
        <locationX>745</locationX>
        <locationY>109</locationY>
        <actionName>HWS_Suspension__c.HWS_Suspension_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HWS_Suspension__c.HWS_Suspension_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Status_is_Changed</name>
        <label>Is Status is Changed</label>
        <locationX>519</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Chanegd_to_Suspended_or_UnSuspended</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.HWS_Suspension_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.HWS_Suspension_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HWS_Suspension_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HWS_Suspension_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnSuspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HWS_Suspension_Email_Alert</targetReference>
            </connector>
            <label>Status Chanegd to Suspended or UnSuspended</label>
        </rules>
    </decisions>
    <description>HWSDDP-76</description>
    <interviewLabel>HWS SuspensionAfterSaveFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HWS SuspensionAfterSaveFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Status_is_Changed</targetReference>
        </connector>
        <object>HWS_Suspension__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
