src/flows/KAR_Note_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>NONE</name>
        <choiceText>NONE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <decisions>
        <name>Contact_Selected</name>
        <label>Contact Selected</label>
        <locationX>651</locationX>
        <locationY>78</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associate_with_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Doc_Link_Contact</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContactFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ContactNameFormula</name>
        <dataType>String</dataType>
        <expression>IF ({!SelectedContactFullName}=&quot;&quot;, &quot;None Selected&quot;, {!SelectedContactFullName})</expression>
    </formulas>
    <formulas>
        <name>FlowRunner</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>KAR - Note Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KAR - Note Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Doc_Link_Contact</name>
        <label>Create Content Doc Link - Contact</label>
        <locationX>582</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>OOPS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>NewContentNoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Associate_with_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>464</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Contact_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>OOPS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>NewContentNoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Note</name>
        <label>Create Content Note</label>
        <locationX>321</locationX>
        <locationY>66</locationY>
        <assignRecordIdToReference>NewContentNoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>OOPS</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Enter_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>FlowRunner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FlowRunner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Enter_Note_Title</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>198</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Note</targetReference>
        </connector>
        <faultConnector>
            <targetReference>OOPS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AcctName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>835</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>A new note has been successfully created for {!AcctName} and associated with the following contact: {!ContactNameFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Note</name>
        <label>New Note</label>
        <locationX>50</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <fields>
            <name>Enter_Note_Title</name>
            <dataType>String</dataType>
            <fieldText>Enter Note Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Note</name>
            <fieldText>Enter Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Associate_with_Contact</name>
            <choiceReferences>GetContacts</choiceReferences>
            <choiceReferences>NONE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NONE</defaultSelectedChoiceReference>
            <fieldText>Associate with Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OOPS</name>
        <label>OOPS!</label>
        <locationX>421</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>The Note Wizard has encountered a problem. Please notify your system administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Note</startElementReference>
    <status>Active</status>
    <variables>
        <name>AcctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContentDocumentLinkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContentDocumentLinkIDContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContentNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
