src/flows/Opportunity_Record_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Workato_Outbound_Opportunity</name>
        <label>Workato Outbound Opportunity</label>
        <locationX>105</locationX>
        <locationY>575</locationY>
        <actionName>Opportunity.Workato_Outbound_Opportunity</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>User_Permission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Opportunity.Workato_Outbound_Opportunity</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Whenever rolled back before G5 , it&apos;s set to clear the &quot;G5 Approval Date&quot;</description>
        <name>Clear_Approval_Dates_0</name>
        <label>Clear Approval Dates</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.G5_Contract_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_G5_Approval_Date</name>
        <label>Set G5 Approval Date</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.G5_Contract_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Win_Declaration_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Whenever there is a G6 bypass to set the G6 Approval Date</description>
        <name>Set_G6_Approval_Date</name>
        <label>Set G6 Approval Date</label>
        <locationX>490</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.G6_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Win_Declaration_Date</name>
        <label>Set Win Declaration Date</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.G5_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>622</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blanket_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blanket_Approval_Condition__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_G6_Approval_Date</targetReference>
            </connector>
            <label>Blanket Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>G5_Bypass</name>
        <label>G5 Bypass</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Set_Win_Declaration_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NF_LoA_Bypass__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Blanket_Approval_Condition__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_G5_Approval_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Phase</name>
        <label>Sales Phase</label>
        <locationX>688</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover (Prepare for Delivery)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G5_Bypass</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Handover (after WD)</label>
        </rules>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execute (Start Delivery)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Execute (after G6)</label>
        </rules>
        <rules>
            <name>Before_G5</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identify Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Offer (Bid)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Submitted to Customer (Manual)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.G5_Contract_Approval_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Clear_Approval_Dates_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Before G5</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Permission</name>
        <label>User Permission</label>
        <locationX>237</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Sales_Phase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Profiles</defaultConnectorLabel>
        <rules>
            <name>Data_Loader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Data_Loader_Profile_Id</elementReference>
                </rightValue>
            </conditions>
            <label>Data Loader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_WtD_Update</name>
        <label>Validate WtD Update</label>
        <locationX>237</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>User_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change</defaultConnectorLabel>
        <rules>
            <name>Send_Workato_Msg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Workato_WTD_Opportunity.SendWorkatoMsg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workato_Outbound_Opportunity</targetReference>
            </connector>
            <label>Send Workato Msg</label>
        </rules>
    </decisions>
    <description>Logic related with updates/actions to be performed when an opportunity record is updated</description>
    <interviewLabel>Opportunity - Record After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Record After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Save all changes applied on the record</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>688</locationX>
        <locationY>1583</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>111</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Workato_WTD_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Workato_WTD_Opportunity</name>
        <label>Workato WTD - Opportunity</label>
        <locationX>237</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Validate_WtD_Update</targetReference>
        </connector>
        <flowName>Workato_WTD_Opportunity</flowName>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Prior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
