src/flows/Testflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_to_new_Collection</name>
        <label>Copy to new Collection</label>
        <locationX>403</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>Finalcollectionvariablecase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Singlecaserec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_owner_id</name>
        <label>set owner id</label>
        <locationX>405</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>Singlecaserec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentLoggedinuserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_to_new_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>currentLoggedinuserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Testflow</label>
    <loops>
        <name>Loop_through_selected_records</name>
        <label>Loop through selected records</label>
        <locationX>152</locationX>
        <locationY>85</locationY>
        <assignNextValueToReference>Singlecaserec</assignNextValueToReference>
        <collectionReference>varSelectedcases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_owner_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Selected_records</name>
        <label>Update Selected records</label>
        <locationX>153</locationX>
        <locationY>251</locationY>
        <inputReference>Finalcollectionvariablecase</inputReference>
    </recordUpdates>
    <startElementReference>Loop_through_selected_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caserec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Finalcollectionvariablecase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Singlecaserec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>updateloggedinuserid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>currentLoggedinuserId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSelectedcases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
