src/flows/TransactionPricingCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>468</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>contentdoclinktocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentdoclinkentity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAttachmentRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contentdoclink_fields</name>
        <label>Assign_contentdoclink_fields</label>
        <locationX>468</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>contentdoclinkentity.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdoclinkentity.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseObjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdoclinkentity.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_contentdoclink_list_size</name>
        <label>check contentdoclink list size</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contentdoclink_list_size_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentdoclinktocreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContentDocumentLink</targetReference>
            </connector>
            <label>contentdoclink list size greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForCaseCreation</name>
        <label>CheckForCaseCreation</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateAttachmentOnCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseObjectRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AttachmentIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAttachmentRecords</targetReference>
            </connector>
            <label>CreateAttachmentOnCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionBasedOnSBUOPP</name>
        <label>DecisionBasedOnSBUOPP</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBU_is_ATR_OR_BGA</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.Account_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_Contract_Case_Record</targetReference>
            </connector>
            <label>SBU is ATR OR BGA</label>
        </rules>
        <rules>
            <name>SBU_IS_D_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D&amp;S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.Account_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Defence_Contract_Case_Record</targetReference>
            </connector>
            <label>SBU IS D&amp;S</label>
        </rules>
        <rules>
            <name>SBU_Is_ATR_or_BGA_and_Contact_is_null</name>
            <conditionLogic>(1 or 2 )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BGA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.Account_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>commercial_contract_with_out_contact</targetReference>
            </connector>
            <label>SBU Is ATR or BGA and Contact is null</label>
        </rules>
        <rules>
            <name>SBU_is_D_S_and_Contact_ID_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRecords.SBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D&amp;S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityRecords.Account_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Defence_contract_without_Contact</targetReference>
            </connector>
            <label>SBU is D&amp;S and Contact ID null</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseSubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!DefaultSub}+&quot;  &quot;+{!GetOpportunityRecords.Opportunity_Number__c} + &quot; &quot; + &apos;Name&apos;+ &apos;-&apos; + {!GetOpportunityRecords.Name}+ &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>CustomerContactNameLookup</name>
        <dataType>String</dataType>
        <expression>IF({!GetOpportunityRecords.Account_Contact_Name__r.Id}!=null,{!GetOpportunityRecords.Account_Contact_Name__r.Id},null)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.ContractRecordType}</expression>
    </formulas>
    <interviewLabel>TransactionPricingCaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TransactionPricingCaseCreation</label>
    <loops>
        <name>LoopAttachmentRecords</name>
        <label>LoopAttachmentRecords</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>Document</assignNextValueToReference>
        <collectionReference>AttachmentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contentdoclink_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_contentdoclink_list_size</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Commercial_Contract_Case_Record</name>
        <label>Commercial Contract Case Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseObjectRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckForCaseCreation</targetReference>
        </connector>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <stringValue>Transactional Special Pricing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpportunityRecords.Account_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunityRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_IDs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>commercial_contract_with_out_contact</name>
        <label>commercial contract with out contact</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseObjectRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckForCaseCreation</targetReference>
        </connector>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <stringValue>Transactional Special Pricing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Number__c</field>
            <value>
                <elementReference>GetOpportunityRecords.Opportunity_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>GetOpportunityRecords.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunityRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_IDs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createContentDocumentLink</name>
        <label>createContentDocumentLink</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <inputReference>contentdoclinktocreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Defence_Contract_Case_Record</name>
        <label>Defence Contract Case Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseObjectRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckForCaseCreation</targetReference>
        </connector>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <stringValue>Transactional Special Pricing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpportunityRecords.Account_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunityRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Defence_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Defense</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Defence_contract_without_Contact</name>
        <label>Defence contract without Contact</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CaseObjectRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckForCaseCreation</targetReference>
        </connector>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <stringValue>Transactional Special Pricing Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>GetOpportunityRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Defence_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Defense</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Defence_Queue_ID</name>
        <label>Get Defence Queue ID</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionBasedOnSBUOPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Defence_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_IDs</name>
        <label>Get Queue IDs of Commercial</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Defence_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial_Contracts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRecords</name>
        <label>GetOpportunityRecords</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttachmentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseObjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0122g000000ClOmAAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>contentdoclinkentity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentdoclinktocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DefaultSub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Transactional Special Pricing Agreement (Oppty Num -</stringValue>
        </value>
    </variables>
    <variables>
        <name>Document</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentLoop</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>documentVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
