src/flows/Update_HRTS_on_Case_and_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Loop_Assignment</name>
        <label>Loop Assignment</label>
        <locationX>558</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>loopRecord.HRTS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserStatuaName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Activities</targetReference>
        </connector>
    </assignments>
    <description>invoked from PB Update Case HRTS On Check User Status</description>
    <interviewLabel>Update HRTS on Case and Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update HRTS on Case and Task</label>
    <loops>
        <name>Loop_Task_Activities</name>
        <label>Loop Task Activities</label>
        <locationX>517</locationX>
        <locationY>79</locationY>
        <assignNextValueToReference>loopRecord</assignNextValueToReference>
        <collectionReference>taskRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Activities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Task_Activities</name>
        <label>Query Task Activities</label>
        <locationX>390</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Task_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>Z_Task__c</object>
        <outputReference>taskRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HRTS__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Activities</name>
        <label>Update Task Activities</label>
        <locationX>647</locationX>
        <locationY>122</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HRTS__c</field>
            <value>
                <elementReference>loopRecord.HRTS__c</elementReference>
            </value>
        </inputAssignments>
        <object>Z_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>36</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Query_Task_Activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>loopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Z_Task__c</objectType>
    </variables>
    <variables>
        <name>taskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Z_Task__c</objectType>
    </variables>
    <variables>
        <name>UserStatuaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
