src/flows/WebEx_Users_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>WebEx_Collect_Users</name>
        <label>WebEx Collect Users</label>
        <locationX>702</locationX>
        <locationY>191</locationY>
        <apexClass>WebExCollectUsersPlugin</apexClass>
        <inputParameters>
            <name>reconOffset</name>
            <value>
                <elementReference>reconOffset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>nextReconOffset</assignToReference>
            <name>nextReconOffset</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Create_User</name>
        <label>WebEx Create User</label>
        <locationX>879</locationX>
        <locationY>323</locationY>
        <apexClass>WebExCreateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalEmail</assignToReference>
            <name>ExternalEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalFirstName</assignToReference>
            <name>ExternalFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalLastName</assignToReference>
            <name>ExternalLastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUserId</assignToReference>
            <name>ExternalUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ExternalUsername</assignToReference>
            <name>ExternalUsername</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Create_User_Generator</name>
        <label>WebEx Create User Generator</label>
        <locationX>729</locationX>
        <locationY>323</locationY>
        <apexClass>WebExUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>WebEx_Create_User</targetReference>
        </connector>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>DefaultPassword</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Delete_User</name>
        <label>WebEx Delete User</label>
        <locationX>734</locationX>
        <locationY>465</locationY>
        <apexClass>WebExDeleteUserPlugin</apexClass>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UPAStatus</assignToReference>
            <name>UPAStatus</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Toggle_User</name>
        <label>WebEx Toggle User</label>
        <locationX>676</locationX>
        <locationY>563</locationY>
        <apexClass>WebExToggleUserPlugin</apexClass>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableUser</name>
            <value>
                <elementReference>EnableUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Update_User</name>
        <label>WebEx Update User</label>
        <locationX>826</locationX>
        <locationY>683</locationY>
        <apexClass>WebExUpdateUserPlugin</apexClass>
        <inputParameters>
            <name>userPayload</name>
            <value>
                <elementReference>UserPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Details</assignToReference>
            <name>Details</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>WebEx_Update_User_Generator</name>
        <label>WebEx Update User Generator</label>
        <locationX>676</locationX>
        <locationY>683</locationY>
        <apexClass>WebExUserAttributeGeneratorPlugin</apexClass>
        <connector>
            <targetReference>WebEx_Update_User</targetReference>
        </connector>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userProvisioningRequestId</name>
            <value>
                <elementReference>UserProvisioningRequest.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserPayload</assignToReference>
            <name>userPayload</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Operation</name>
        <label>Operation</label>
        <locationX>459</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebEx_Create_User_Generator</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebEx_Update_User_Generator</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconcile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebEx_Collect_Users</targetReference>
            </connector>
            <label>Collect</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebEx_Delete_User</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Toggle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freeze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProvisioningRequest.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfreeze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebEx_Toggle_User</targetReference>
            </connector>
            <label>Toggle</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula to determine if a UserProvisioningRequest indicates enabling a user.</description>
        <name>EnableUser</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!UserProvisioningRequest.Operation}) == &apos;Activate&apos; || TEXT({!UserProvisioningRequest.Operation}) == &apos;Unfreeze&apos;</expression>
    </formulas>
    <formulas>
        <description>The name of the WebEx site being managed - e.g. acme if your WebEx URL is acme.webex.com.</description>
        <name>SiteName</name>
        <dataType>String</dataType>
        <expression>{!$Setup.WebEx_Prov_Connector__c.Site_Name__c}</expression>
    </formulas>
    <interviewLabel>WebEx Users flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WebEx Users flow</label>
    <processType>UserProvisioningFlow</processType>
    <startElementReference>Operation</startElementReference>
    <status>Active</status>
    <variables>
        <name>DefaultPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextReconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reconOffset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reconState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UPAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProvAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvAccount</objectType>
    </variables>
    <variables>
        <name>UserProvisioningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>UserProvisioningRequest</objectType>
    </variables>
</Flow>
